[2022-07-25 03:00] rpearce commented on #213
If anyeone finds some spare time and wants to give the latest build a whirl to try this out:

[code]

And, if you aren't already,

[code]

The updated [`v5-dev` README is here](https://github.com/rpearce/react-medium-image-zoom/tree/v5-dev#react-medium-image-zoom), and there are some breaking changes to the extra options passed to be aware of, if you're using the options.

Thanks for your time!

[2022-07-25 03:01] rpearce commented on #166
If anyeone finds some spare time and wants to give the latest build a whirl to try this out:

[code]

And, if you aren't already,

[code]

The updated [`v5-dev` README is here](https://github.com/rpearce/react-medium-image-zoom/tree/v5-dev#react-medium-image-zoom), and there are some breaking changes to the extra options passed to be aware of, if you're using the options.

Thanks for your time!

[2022-07-25 03:03] rpearce commented on #282
Hi, @GoudekettingRM. This issue has been here a while, but if you happen to still be using this library and find some spare time and wants to give the latest build a whirl to try out the fix:

[code]

And, if you aren't already,

[code]

The updated [`v5-dev` README is here](https://github.com/rpearce/react-medium-image-zoom/tree/v5-dev#react-medium-image-zoom), and there are some breaking changes

[2022-07-25 07:12] GoudekettingRM commented on #282
Hi @rpearce

I am still using it, just haven't touched the project in a while haha, it's been steady and working fine, the error doesn't completely break it 🤷

I will give it a whirl later on, and let you know!

Thanks for updating me (:

[2022-07-25 16:49] rpearce commented on #259
If anyone finds some spare time and wants to give the latest build a whirl to try this out:

[code]

And, if you aren't already,

[code]

The updated [`v5-dev` README is here](https://github.com/rpearce/react-medium-image-zoom/tree/v5-dev#react-medium-image-zoom), and there are some breaking changes to the extra options passed to be aware of, if you're using the options.

Thanks for your time!

[2022-07-25 16:53] rpearce commented on #227
This will be resolved soon and can be beta previewed:

[code]

The trick with this and having crisp images when going from small to large sizes on mobile is to start out by specifying that the zoom image is the size of the window (max X or Y axes) and scale the image _down_ to the size of the original.

This way, when it does the "zoom", it's going from like `scale(0.23)` to `scale(1)`.

[2022-07-25 17:19] qrospars commented on #326
Hi :)

Thank you for following up. The new version works well for me on Chrome. However, I still have the flicker issue. I will have a look at the repository to see where this issue could come from

![chrome_CxfwvWPeby](https://user-images.githubusercontent.com/17688475/180834835-27ca0313-d475-411f-850d-ad51229864db.gif)

For the CSS values, wouldn't it be easier for you to add custom properties t

[2022-07-26 02:52] rpearce commented on #326
I've just run through this in Edge, Chrome, and Firefox on Windows 10, and I'm not seeing this behavior. I also have just tested on Chrome, Firefox, and Safari on macOS.

I'm curious to see how we can repro this with a test case!

[2022-07-26 03:29] rpearce commented on #164
This will be resolved soon and can be beta previewed:

[code]

[2022-08-03 03:33] #164 closed

[2022-08-03 03:36] rpearce commented on #282
Should be closed now via https://github.com/rpearce/react-medium-image-zoom/pull/329

[2022-08-03 03:36] #282 closed

[2022-08-03 03:37] rpearce commented on #281
Should be closed now with the release of `5.0.0`

[2022-08-03 03:37] #281 closed

[2022-08-03 03:37] rpearce commented on #265
Should be closed now with the release of `5.0.0`. Let me know if you see this again!

[2022-08-03 03:37] #265 closed

[2022-08-03 03:37] rpearce commented on #259
Should be closed now with the release of `5.0.0`

[2022-08-03 03:37] #259 closed

[2022-08-03 03:38] rpearce commented on #227
Should be closed now with the release of `5.0.0`

[2022-08-03 03:38] #227 closed

[2022-08-03 03:38] rpearce commented on #213
Should be closed now with the release of `5.0.0`

[2022-08-03 03:38] #213 closed

[2022-08-03 03:38] rpearce commented on #166
Should be closed now with the release of `5.0.0`

[2022-08-03 03:38] #166 closed

[2022-08-03 03:40] rpearce commented on #298
This should now be resolved in `5.0.0`

[2022-08-03 03:42] rpearce commented on #292
This should be even easier with CSS now in `5.0.0`

[2022-08-03 03:52] rpearce opened #330 "Add more storybook behavioral tests"

[2022-08-03 03:58] rpearce commented on #326
I've not been able to reproduce this and have gone ahead and released `5.0.0`. If you can get me a repro case, I can help fix your issue!

[2022-08-03 06:48] arviinmo opened #331 "it cannot be used for more than one image!"
- Bug report
- Question / support request

Hi dear maintainers.
Recently I've installed this package and tried to add  this awesome feature to my blog. Although this is a great project and I really appreciate your hard work for building this amazing project, I think there is a bug in the package.
When I tried this package for my blog I saw that the only first image worked correctly and in other im

[2022-08-03 06:51] arviinmo commented on #331
and this is [my blog](https://arvin.vercel.app/blog)
@rpearce @dougg0k @sunknudsen @spencerfdavis

[2022-08-03 08:22] PaoloDiBello commented on #331
Are you using ControlledZoom? If that's the case what I did was setting a specific state based on the id of the image clicked and based on that I had a condition in isZoomed to see if it was the image that was clicked.

So I did something like this
`isZoomed={zoomedImageId === image.id}`

If you are using UnControlledZoom maybe for some reason it is not understanding what image to pick among the o

[2022-08-03 08:36] PaoloDiBello opened #332 "Add wrapper or header when image is zoomed in"
- Feature request
## Description
It would be nice if we could have a header when the image is zoomed in, not to confuse  with the caption which is when the image is zoomed out.
#242

I would be really nice if we could have a new prop such as ZoomWrapperComponent
that lets you wrap the zoomed in images

[code]
or at least lets you add a component on top of the image

[code]

Thanks

[2022-08-03 10:41] rpearce commented on #331
Hi, and thanks for asking your question!

This project has never purposefully supported zooming more than 1 image inside of a `<Zoom>` component.

Instead, each instance of an image should be wrapped in a `<Zoom>` component.

Please let me know if you have more questions around this!

[2022-08-03 11:40] rpearce commented on #332
@PaoloDiBello This is an interesting idea! I definitely want to have _some_ way to provide a custom caption when an image is zoomed, and this idea feels like it is a step in the right direction.

I will think about it and try some things out.

[2022-08-03 11:48] #331 closed

[2022-08-03 12:51] arviinmo commented on #331
thanks for your response.
for now i'm just using <Zoom> component

[2022-08-03 12:53] arviinmo commented on #331
but it would be great if it could handle situations like this.

[2022-08-03 13:01] rpearce commented on #331
@arviinmo I have looked at doing this before, but it always left me  having to mutate the user's DOM values manually more than I was comfortable with. Recursively iterating through `this.props.children` is also difficult to get right.

I will keep this in mind for the future in case I think of a good way to support this (maybe a component called `<ZoomAll>`), but that is not something I'm going to

[2022-08-03 14:02] remorses opened #333 "Document how to change background color"
In v4 you could use the `overlayBgColorStart` props to change background color, now you can use the following css (in this case i am also changing background when in dark mode)

[code]

[2022-08-03 19:34] rpearce commented on #333
@remorses Thanks for calling that out. Yes, nearly all style-related things (including transition times) have moved to being CSS controlled now, and you're right — it would be helpful to document that somehow.

[2022-08-04 02:32] #333 closed

[2022-08-04 02:37] rpearce commented on #333
@remorses Thank you for bringing this up and, in doing so, contributing to this project!

I added info to the [Styles section in the readme](https://github.com/rpearce/react-medium-image-zoom#styles), including a link to [an example of how to do custom modal styling](https://rpearce.github.io/react-medium-image-zoom/?path=/story/img--custom-modal-styles).

[2022-08-04 02:38] rpearce opened #335 "Add v4 to v5 upgrade notes to README"

[2022-08-04 06:44] arviinmo commented on #331
thanks for your response again,
that would be great!
please notify me if you added the feature.

cheers,
Arvin

[2022-08-04 08:41] remorses commented on #333
Thank you, amazing project btw!

[2022-08-04 13:11] #335 closed

[2022-08-04 14:04] MrLibya opened #337 "Missing class properties transform."
Hello,

I've react project and I'm using **react-app-rewired**, However when I installed this package I get the following error:

[code]

I've `@babel/plugin-proposal-class-properties` installed, here's my babel.config.json
[code]

[2022-08-04 15:14] rpearce commented on #337
@MrLibya I haven't used `react-app-rewired` yet, but I can look into that tonight or tomorrow night.

The [support for `static` even in browsers](https://caniuse.com/mdn-javascript_classes_static) has been pretty good for a while, so this is interesting.

* Have you tried doing this via webpack in your project?
* Do you have an example I could play with to reproduce the issue?

[2022-08-04 17:54] remorses opened #338 "React hydration issue"
The following line computes a prop that will be different between server and client, generating the error `Warning: Prop `aria-labelledby` did not match. Server: "rmiz-modal-img-26f1" Client: "rmiz-modal-img-abe9"`

https://github.com/rpearce/react-medium-image-zoom/blob/df06121547fee3aa4618c61f35c756f6f9818140/source/Controlled.tsx#L93

React 18 introduced an `useId` hook that would be perfect fo

[2022-08-04 20:27] rpearce commented on #338
@remorses I am aware of that warning (it's not an error, right?), but what using `useId` means is that I'd have to drop the lower-bound of the React dependencies required to use the project. This wouldn't work for React 16.8, for example.

I'll keep this open so that I will explore another way to get that same `useId` concept in here and not have an issue on server vs client rendering.

[2022-08-05 01:49] rpearce commented on #338
I am now wishing that I had upgraded the peer dependency on react to 18 and used `useId`. Doing so would be another major version change.

One option is to expose an `id` prop and have SSR users pass their own ID down. But that is a bummer and will lead people back to this issue over and over again.

Another way around this is to do a dynamic import like this: https://github.com/vercel/next.js/iss

[2022-08-05 03:23] #338 closed

[2022-08-05 03:25] rpearce commented on #338
Okay, I found a backwards-compatible way to do this with hooks, and then I remembered that I switched the main component here to a `class`, so this was an easy fix.

@remorses This should be fixed in version `5.0.1`. Thanks for your bug report here, and I've added that to your spot in the all contributors list in the README!

<img width="168" alt="imagen" src="https://user-images.githubusercontent

[2022-08-06 17:32] rpearce commented on #332
@PaoloDiBello Update: I'm playing with something to allow designs like this (the design would be up to the user):

<img width="1277" alt="imagen" src="https://user-images.githubusercontent.com/592876/183259665-7f22e912-55a3-46bb-a198-0b7f536d2670.png">

[2022-08-06 18:05] rpearce commented on #332
@PaoloDiBello How does this API usage feel? This would allow you to reorder the image, the button, and put any other content in there that you might want. You could put content in-between them, before the image, after both of them, etc.

[code]

[2022-08-06 18:10] PaoloDiBello commented on #332
I love the idea, it would be great to have something like this

[2022-08-06 20:03] rpearce commented on #332
@PaoloDiBello Okay, great. I already have that working, but I'm
going to try to get feedback from some other people before moving forward.

[2022-08-06 20:05] rpearce commented on #242
@n1ghtmare Hi! I'm working on adding a feature that includes captioning. Do you have any thoughts on this approach? https://github.com/rpearce/react-medium-image-zoom/issues/332#issuecomment-1207252231

[2022-08-06 20:07] rpearce commented on #213
@tommoor @madeleineostoja

Hi! I'm working on adding a feature that includes captioning (adding whatever you want to the zoom state). Do you have any thoughts on this approach? https://github.com/rpearce/react-medium-image-zoom/issues/332#issuecomment-1207252231

[2022-08-07 03:51] rpearce commented on #332
This is my branch I'm working on, if you want to see any details: https://github.com/rpearce/react-medium-image-zoom/compare/feature/custom-modal-content?expand=1

[2022-08-07 06:56] tommoor commented on #213
Example looks good and would certainly work for our usecase. I would consider just passing an `unZoom`/`onClose` button as prop to custom component rather than a rendered button.

[2022-08-07 12:19] rpearce commented on #213
@tommoor Good call on that line of thinking! I'll ponder it and see where that goes.

[2022-08-08 02:50] rpearce commented on #332
@PaoloDiBello @tommoor Here's the code and screen recording of my current example. This wraps the image in a `<figure>` and provides a user-defined `<figcaption>` that has different positions based on the image's dimensional ratio vs the browser's dimensional ratio at different screen widths. That's just an example, though; you could do anything you wanted.

If you like it, I could mark this `Zoom

[2022-08-08 14:01] tommoor commented on #332
👍 how does the animation feel at what point does the caption appear? Do you think it could make sense to gradually fade the caption in through the zoom animation?

[2022-08-08 14:25] rpearce commented on #332
Since that is completely defined by you, I think you could make it do whatever you like in your ZoomContent component. All of the transitions are done through overridable CSS, so it'd be up to you.

[2022-08-08 15:11] tarviroos commented on #255
Sorry for bringing up an old issue. :) However, it seems like a good place to ask this question.

With the newly released `v5.0` (congratz btw 🎉) there is no useImageZoom, right? I'm just looking into making it work with GatsbyImage. Although I get the image to display nicely by wrapping it with <Zoom /> component, the zooming functionality is not there. Is there something I'm missing?

[2022-08-08 16:09] rpearce commented on #255
@tarviroos Thats right; the hook was an experiment that never came to fruition. The README should accurately detail what needs doing: import the library, import the CSS (or copy and paste it and use/alter it yourself).

I tested this in a basic, regular Gatsby project just the other day. Could you be so kind as to share an example project where it's not working so that I can help you?

I'd also cr

[2022-08-09 02:23] rpearce commented on #332
There are a couple of more things to take into account, and I'm too tired to finish it tonight. I'll try to get something up tomorrow night or the next night! It's feeling alright so far.

[2022-08-10 15:47] jeremyzilar commented on #166
Thank you!

[2022-08-12 01:42] rpearce commented on #332
@tommoor I think you're going to like this...

https://user-images.githubusercontent.com/592876/184269505-463e4dae-5d09-4311-a5a7-ee20131a7d0b.mp4

I'm sending through the internal `modalState` to the `ZoomComponent` and using it like this

[code]

to set different classes based on state.

[2022-08-19 23:28] rpearce commented on #332
Has anyone had a chance to play with that beta version yet?

[2022-08-20 02:56] rpearce opened #347 "Not working with gatsby image plugin (StaticImage)"
## Issue Type

- [x] Bug report
- [ ] Feature request
- [ ] Question / support request
- [ ] Other

## Description

@lezan reported an issue with using the `gatsby-image-plugin` here: https://github.com/rpearce/react-medium-image-zoom/discussions/274#discussioncomment-3384320. They graciously provided a examples:

* Test repo: https://github.com/lezan/zoom-test-gatsby
* Online demo: https://codesa

[2022-08-20 03:04] rpearce commented on #347
After a good deal of investigation tonight, it looks like the actual `<img>` element we want to hook into isn't present on the page _at all_ at render time. If there's no image on the page, the `querySelector` code can't find it, and it's difficult to know when the image is actually injected onto the page (would I need an expensive `MutationObserver`?).

Luckily, the Gatsby component in question h

[2022-08-20 03:21] rpearce commented on #347
While this works for `gatsby develop`, it's looking like this doesn't work after `gatsby build` because the `onLoad` isn't getting fired :(

I'll keep trying in the next couple of nights.

[2022-08-20 10:44] tommoor commented on #332
Following along but I haven't had time to jump back on this project yet 😅

[2022-08-20 18:14] rpearce commented on #347
Update: I've almost got it perfect, but the zoom causes a little flash on the first load. Almost there!

[2022-08-20 18:59] rpearce commented on #347
Update: I've figured it out. I'll do some more testing and put up a PR tonight, I think.

[2022-08-21 00:08] rpearce commented on #347
My solution at present is with using some exponential backoff recursion (sounds way fancier than it is), but I'm going to try to see if I can do a simple `MutationObserver`, instead. It would only be used in the event that an image wasn't found, and then it would stop observing once one was found.

[2022-08-21 03:21] rpearce commented on #347
This should be fixed in `react-medium-image-zoom@5.0.2-beta.0`, and I plan on releasing `5.0.2` in the next couple of days.

[2022-08-21 16:07] lezan commented on #347
Hello @rpearce, it seems issue is still here but different in someway. Not sure if I did something wrong, but you can check the online example and also the repo (they are both updated).

[2022-08-21 16:17] rpearce commented on #347
@lezan I'll check it out very soon! I've got some time.

[2022-08-21 17:09] rpearce commented on #347
@lezan Did you run `yarn install` after you merged the code? I just merged your upstream code into my fork, and it's working on macOS in Chrome, Firefox, and Safari.

[2022-08-21 17:25] rpearce commented on #347
@lezan Your online example still has an issue with it. You need to delete this line:

[code]

[2022-08-21 20:50] lezan commented on #347
Hello @rpearce you are right about the online example, I thought it was synced with the Github repo, but it is not.  After a `yarn clean` also my test repo is working (I already removed `css`, `role` and run `yarn install`. Going to test it on my main project and testing in development to give you more feedback.

[2022-08-21 23:20] rpearce commented on #347
Sounds good. If it's satisfactory, we can 🚢 :shipit:!

[2022-08-22 01:57] rpearce commented on #337
@MrLibya What version of nodejs are you running? `node --version` should give you an answer

[2022-08-23 02:49] #347 closed

[2022-08-23 02:57] rpearce commented on #347
@lezan This seems like the original issue is fixed. I'm adding you as an "All Contributor" to the README for your contribution here (bug report, ideas, helping work through it). You can upgrade to `5.0.2` at your convenience to get this fix in your app(s).

Also be on the lookout for `5.1.0` soon; it'll support https://github.com/rpearce/react-medium-image-zoom/issues/332

[2022-08-23 03:20] rpearce commented on #332
Updated this to `react-medium-image-zoom@5.1.0-beta.1`, for it now includes the `gatsby-plugin-image` fix from `v5.0.2`.

[2022-08-23 11:49] tom2strobl opened #350 "Neither `zoomMargin` nor `scrollableEl` seem to be working correctly"
## Issue Type

- [X] Bug report
- [ ] Feature request
- [X] Question / support request
- [ ] Other

## Description

I have found neither the `zoomMargin` nor `scrollableEl` props to work at all. Are there any examples and/or tests to verify expected behaviour?

Regarding `scrollableEl` I'm wondering how the scrollableElement is supposed to receive scroll events at all if the modal is layered above

[2022-08-23 12:11] rpearce commented on #350
@tom2strobl I'll get on this this evening! ScrollableEl has always been a crap shoot where customization was needed, and I almost dropped it in v5.

zoomMargin should be working, and if it's not, I can fix that very quickly tonight. ScrollableEl might be a harder one to address.

[2022-08-23 23:29] rpearce commented on #350
@tom2strobl Reckon we could drop `scrollableEl` since it's not working? I looked at using the `wheel` event just before shipping `v5`, and it worked very well when I played with it, but I was too busy with other aspects and forgot about it. The experience was that it swallowed the overall scroll for just a brief moment, then you kept scrolling down the page — kind of like a "scroll/swipe to close"

[2022-08-24 01:51] rpearce commented on #350
@tom2strobl Regarding the `zoomMargin`, it's definitely doing _something_, but it doesn't quite add up right. Check this out.

https://user-images.githubusercontent.com/592876/186300031-e2c4fb33-00d2-4669-bc71-042cff74e186.mp4

[2022-08-24 11:02] rpearce commented on #350
@tom2strobl I'm really liking your feedback here. Thank you for it!

Regarding "staying close to Medium", that was the case for years, but not any more. For example, this solution should be way more accessible (I do a lot of a11y work) -- especially when since v5.1 will include the ability to add custom content to the model like captions. Also, Medium's image zoom hasn't worked for me in Firefox f

[2022-08-24 14:35] bengotow commented on #337
Hey folks, I'm seeing this as well in a standard create-react-app (v4) project using Typescript. Here's the full setup. It's a little bit of a problem for me because I'm using CRA out of the box and don't have a webpack or babel config file in the project, so I can't make adjustments there.

Node: 16.3

Package.json:
[code]

tsconfig:

[code]

Will post if I figure out what's going on!

[2022-08-24 15:04] rpearce commented on #337
@bengotow Thank you for offering to help! Can you also dig into this line of thinking for `babel.config.json`?

(I think this is the right syntax... 🙏 )

[code]

It's not a great solution, but it'd be interesting to know if that unblocks y'all.

[2022-08-24 15:20] MrLibya commented on #337
Hello, sorry for late replay

@rpearce I'm using `v16.15.1`

but I've already fixed that issue, So I've fixed that issue by using [customize-cra](https://github.com/arackaf/customize-cra), it seems that the issue `babel.config.json` is being ignored or something, but when I added it to customize-cra it worked well !

sadly I can't share any code because we didn't use that solution ( because we had

[2022-08-25 02:11] bengotow commented on #337
Hey folks! I think that babel.config.json override would work, but we actually don't have a babel config because it's all provided by the stock create-react-app. I found a thread from earlier this year where folks were trying to get the Monaco text editor (also an ESM module) to work in stock create-react-app projects (https://github.com/microsoft/monaco-editor/issues/82), and it seemed like they

[2022-08-25 02:48] rpearce commented on #337
That's definitely not the experience I want people to have. I'll make it right.

[2022-08-25 03:01] rpearce commented on #337
I'm thinking this has to do with node versions. While there's an issue with the default SVG image, this compiles with Node 18:

[code]

Then in `src/App.jsx`

[code]

then

[code]

and then

[code]

[2022-08-28 11:45] daniszaidan commented on #281
@rpearce
in v4, i'm using wrapStyle to solved next/image problem.
and in v5 wrapStyle  removed, how to solve this now?

`<Zoom
                        wrapStyle={{
                          width: '100%',
                          height: '100%',
                        }}

                        <Image
                          src="blabla"
                          layout="fill"

[2022-08-29 01:32] rpearce commented on #281
@daniszaidan Are you saying this is a problem in v5? If so, that would merit re-opening the issue, as I may have missed it.

[2022-08-30 02:59] rpearce commented on #330
This is too broad to be useful. Closing

[2022-08-30 02:59] #330 closed

[2022-08-31 15:19] Dyvd4 opened #352 "Unneccessary margin for images?"
## Issue Type

- [x] question / bug

## Description

I want to ask if this margin is neccessary. When using the zoom component with an image this adds (in this case) unneccessary margin.
In the example I just have some images aligned with flexbox (column).

![margin](https://user-images.githubusercontent.com/72784312/187714542-9dee6044-4e14-48aa-80c6-78236febaca4.jpg)
![maring_css](https://user-im

[2022-08-31 16:22] rpearce commented on #352
@Dyvd4 I can't read what any of those images say, as the images are too small.

If there's an issue that you can provide steps to help me reproduce, then I can be of more help!

[2022-08-31 16:30] Dyvd4 commented on #352
These images are a bit misleading. They contain errors related to my project, not to the image zoom. There could be also any other image. The real "problem" here is the left margin.  You can see the difference in the screenshots. In the second screenshot there is the left margin disabled. The margin comes from some of your css classes.

[2022-09-02 02:35] rpearce commented on #352
@Dyvd4 Honestly, I'm having a hard time understanding. Let's back up:

* What version of `react-medium-image-zoom` are you using?
* 2 out of the 3 screenshots (the error ones) above are illegible, and if they aren't related to this project, could you help me understand why they're here?
* The other image doesn't appear to have any CSS selectors that `react-medium-image-zoom` uses. Is it possible y

[2022-09-02 02:35] #352 closed

[2022-09-02 02:38] rpearce commented on #326
@qrospars I haven't been able to reproduce this, nor have any other reports of it come in since releasing v5.

If you can get me a way to reproduce this with v5, I'll happily look into it and reopen this issue. Until then, I'm going to close this.

[2022-09-02 02:38] #326 closed

[2022-09-02 09:14] Dyvd4 commented on #352
@rpearce As I said before. These images are dummy images. Coincidentally they are errors. But these errors aren't related to this issue, so you don't have to care about what they say.

Furthermore I am using version 5.0.2.

And last but not least I just wanted to ask if the margin comes from your library. In my project I am using ckakra ui with tailwindcss as ui libraries. I have a list of image a

[2022-09-02 15:55] rpearce commented on #352
@Dyvd4 Thank you for clarifying! I don't believe it is coming from here, and thanks for the kind words.

[2022-09-09 01:35] rpearce commented on #350
I didn't realize how burned out on this I was getting until your last comment here. 💜

I'll see what I can do this weekend.

[2022-09-09 01:38] rpearce commented on #332
Update: I didn't know I needed a break, but I did.

I'm going to try to fix the `zoomMargin` bug mentioned in https://github.com/rpearce/react-medium-image-zoom/issues/350 this weekend — we'll see how that works out?

Here's my plan:
* Fix `zoomMargin`, ship a patch version
* Get this code merged and another thing merged, then ship a minor version

[2022-09-12 01:38] Rubon72 commented on #337
ERROR in ../node_modules/react-medium-image-zoom/dist/index.js 331:24
Module parse failed: Unexpected token (331:24)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
| }
| class ControlledBase extends Component {

|         a11yNameButtonUnzoom: 'Minimize image',
|         a11yNameButt

[2022-09-13 02:27] rpearce commented on #337
@Rubon72 What nodejs version are you running? `node --version`

[2022-09-13 03:24] rpearce commented on #337
Can the people having issues please provide the following?
* Result of `node --version`
* Exact steps to set up `create-react-app` if different from `npx create-react-app cra-test --template typescript`
* A dummy example repository would be helpful

Using `nodejs@14.20`, `nodejs@16.17`, and `nodejs@18.9`, I cannot reproduce this issue using `npx create-react-app my-app` nor `npx create-react-app m

[2022-09-15 13:30] daniszaidan commented on #281
@rpearce yeah i think this is a problem in my case, because i need to write inline style at parent next/image (<Zoom/>)

[2022-09-15 18:16] rpearce commented on #281
@daniszaidan If you're able to provide some steps for me to easily reproduce this with v5, I'll be able to investigate it much faster. An example repo, some specific steps here, or something else! 🙇

[2022-09-19 00:43] wanderingme commented on #337
I'm using node -v 16.13 and experiencing the same 'Missing class properties transform" error.

[2022-09-19 01:01] rpearce commented on #337
Alright, since I can't reproduce this, I'm going to try something to fix it and see if y'all can test it for me.

[2022-09-19 01:34] rpearce commented on #337
Can y'all try `react-medium-image-zoom@5.0.3-beta.0` for me and see if everything is fine, or if there's another transform to sort out?

I switched from `es2022` to `es2021` transpilation because of folx using things like create-react-app and not wanting to eject.

[2022-09-19 10:07] Songkeys opened #356 "wrapElement for issues like `Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>.`"
## Issue Type

- [ ] Bug report
- [x] Feature request
- [ ] Question / support request
- [ ] Other

## Description

May I know why `wrapElement`, which was added to solve problem like https://github.com/rpearce/react-medium-image-zoom/pull/238, was removed in v5?

Could we add it back or is there any other solution to this?

[2022-09-19 12:12] AntoineS92 opened #357 "Received NaN for the `width` attribute. If this is expected, cast the value to a string."
## Issue Type

- [ ] Bug report
- [ ] Feature request
- [X] Question / support request
- [ ] Other

## Description

Hi, I am trying to use the libraby. Everything is working fine but I have this warning in the console.
I made some tests, and it appears that it is because of react-medium-zoom as I don't have the warning if I don't use it.

I was hoping maybe you could help. I do not know if this is

[2022-09-19 12:15] AntoineS92 commented on #357
<section className={styles.imageList}>
            {nosReferencesImagesData.images
              .filter((image) => image.category.includes(clickedCategory))
              .slice(0, numberOfImagesDisplayed)
              .map((image, index) => {
                return (
                  <div
                    className={styles.imageList__SingleImageContainer}
                    key={index}

[2022-09-19 13:45] rpearce commented on #356
@Songkeys Thanks for opening this issue!

When I rewrote this for v5, I forgot about this issue that using `<span>`s solved. There is more than 1 `<div>` now to consider. In order to resolve this, I have two paths that I can see at present (let me know if there are more):

1. Re-add an option to provide an element as a string before like `'span'`, but it'll need to apply to >1 element (might just

[2022-09-19 13:50] AntoineS92 commented on #357
@rpearce I have the problem with any image in my list of images.
I also tried with a random image from the internet and I have the same issue

[2022-09-19 13:53] rpearce commented on #357
Thanks for the quick response! I won't be able to debug this until later, but I can communicate.

Is your mobile image `display: none` by chance?

[2022-09-19 13:55] AntoineS92 commented on #357
Thank you very much for your help ! Sorry for the inconvenience

[2022-09-19 13:55] rpearce commented on #357
Do you think the library should be checking the `display` value of the image element it finds?

[2022-09-19 13:56] AntoineS92 commented on #357
I guess that could be useful. I'm quite junior so I wouldn't have a strong opinion about it

[2022-09-19 13:57] rpearce commented on #357
Your input is still important! Thank you for it.

I will leave this issue open while I think about it some more.

[2022-09-19 14:24] Songkeys commented on #356
Option 1 LGTM.

Wouldn't the option 2 breaks the current behaviour anyway? Because someone might use `.xxx > div` to customise the style or manipulate the dom.

About the multiple `div`s issue, may i ask what the point of the double [wrappers](https://github.com/rpearce/react-medium-image-zoom/blob/213743fcb01e7a28ac7258f7be0857ffc4dbc685/source/Controlled.tsx#L181)? Are we able to remove the oute

[2022-09-19 17:05] rpearce commented on #356
Since the `children` can be practically anything, we need something to anchor on to, querySelector, and watch for DOM mutations: https://github.com/rpearce/react-medium-image-zoom/blob/213743fcb01e7a28ac7258f7be0857ffc4dbc685/source/Controlled.tsx#L275-L307

The outer `<div>` encapsulates and relatively positions the other elements, like the "ghost" (used for the keyboard button support).

I hope

[2022-09-19 19:26] Songkeys commented on #356
I prefer this one, which allows us to even pass something else like `"a"` or whatever. It adds convenience to the migration as well (but I'm not sure how much this would actually help though).

This one looks semantic and problem-target. But it may be ambiguous with the meaning of "inline" - i.e., does it affect the element or only the styling (`display: inline`)?

[2022-09-19 23:00] rpearce commented on #356
`wrapElement` it is! I'll get a PR up and in tonight, if I can, and I'll combine this with another feature that's been sitting for a while for a `5.1.0` release.

[2022-09-20 02:51] rpearce commented on #337
Using `nodejs@16.3.0` through the `asdf` tool, I am still unable to reproduce this with `react-medium-image-zoom@5.0.2`.

I'm going to publish `5.0.3`, close this, and if this is still an issue, we can reopen.

[2022-09-20 03:09] #337 closed

[2022-09-20 03:44] rpearce commented on #356
@Songkeys If a `<p>` is wrapping around this image, it exposes another DOM nesting concern:

[code]

`v5` is using the `<dialog>` element, a block-level element, so the same issue arises if you're wrapping this in `<p></p>`.

It's 11:45pm at night, so I'm going to sleep on this.

[2022-09-20 05:38] Songkeys commented on #356
Yes. This would happen if user passes `wrapElement="p"`. Oh I do wish there was a style-less and semantic-less element called `group`...

Do you think it's a good idea if we:

1. again, use `span` instead of `dialog`;
2. move `dialog` out and wrap them using a `Fragment`:

[code]

[2022-09-20 14:18] rpearce commented on #356
Good thoughts! Let's see...

`<dialog>` is required so that we don't run into all the accessibility issues of not having a `<dialog>`. There are _quite_ a few things that would need to be recreated, and I'd prefer not to have to add all that code when browsers now do it for us.

Even if it's outside of the `<span>`, it seems like you might be wrapping the entire thing in a `<p>`; is that accurate?

[2022-09-20 15:18] Songkeys commented on #356
Oh, that's right. I totally forgot this again. Sorry.

Portal is a good idea.

Or, what do you think of "web-component", which should be able to be put inside `<p>` no matter what is inside its shadow root. The benefit over portal is that it's more intuitive. (I'm not sure which one requires more work though, which would turn out to be another dealbreaker.)

[2022-09-21 02:32] rpearce commented on #356
Hilariously, the portal idea worked on the first try, and it works well with VoiceOver in Safari. I'll need to test the other screen readers, as well, but I can probably put up a beta release in the next day or two.

I've got https://github.com/rpearce/react-medium-image-zoom/pull/358 drafted in the mean time.

[2022-09-21 03:03] rpearce opened #359 "Use prefers-reduced motion"
## Issue Type

- [ ] Bug report
- [x] Feature request
- [ ] Question / support request
- [ ] Other

## Description

We should consider using `prefers-reduced-motion` so we don't animate when people don't want that.

[2022-09-21 08:30] trebua commented on #357
I would also appreciate if the library would check and handle display value of image elements. We are using your lib in combination with an image carousel (https://www.npmjs.com/package/keen-slider), and we get the same warning.

[2022-09-22 23:23] rpearce commented on #356
FYI https://github.com/rpearce/react-medium-image-zoom/pull/358#issuecomment-1253148081

[2022-09-24 06:44] sumitaney opened #360 "Facing some strange issue with additional loader"
[##](url) Issue Type
<img width="1440" alt="Screen Shot 2022-09-23 at 11 43 49 PM" src="https://user-images.githubusercontent.com/49674966/192084059-f29b21d4-b06a-46c2-aa4a-3b695034630c.png">

- [ ] Bug report
- [ ] Feature request
- [ ] Question / support request
- [ ] Other

## Description

Place detailed information here

./node_modules/react-medium-image-zoom/dist/index.js 29:45
Module parse f

[2022-09-25 03:10] rpearce commented on #360
Hi, and thanks for asking your question!

I'm not sure how recent your dependencies are, but [optional chaining has great support](https://caniuse.com/mdn-javascript_operators_optional_chaining) and should have full support as of nodejs@14.0 (LTS is nodejs@16.7.1 and current is nodejs@18.9.1).

If you need a babel plugin for this, I think this might be the one:
https://babeljs.io/docs/en/babel-plu

[2022-09-25 03:10] #360 closed

[2022-09-28 20:38] mmxdr commented on #357
I have this warning too and i use display property for hiding mobile or desktop image.

[2022-09-28 23:04] rpearce commented on #357
Ok! This is something I will work on fixing as soon as possible. Thanks for the reports, folx.

[2022-10-05 04:08] rpearce commented on #350
Late night update: I've not fixed the `zoomMargin` yet, but the `scrollableEl` has been removed and replaced with the `wheel` event as of https://github.com/rpearce/react-medium-image-zoom/pull/362.

That is getting merged into the `v5-dev` branch, and once I do some more testing, I'll release `v5.1.0` with the following changelog (in case you're interested):

## [5.1.0] - 2022-10-06

### Added

*

[2022-10-06 12:24] MichalKowalczyk opened #363 "Mirror effect on zoomed image - transform: scaleX(-100%) doesn't work"
## Issue Type
- [ ] Bug report
- [ ] Feature request
- [x] Question / support request
- [ ] Other

## Description
Usually I'm using transform: scaleX(-100%) to achive mirror effect on images but now it's impossible, because rmiz overwritten transform property.

##Question
How to do mirror effect on zoomed image? Is it even possible in current situation?

[2022-10-06 20:49] rpearce commented on #363
Hi, @MichalKowalczyk!

The latest version does its own transforming on the image in order to animate it from one place to another. I can look into this further, but your best best for a solution right now would be try to flip all of the modal's content with CSS:

[code]

I don't know if that will work, but it's worth a shot if you need something ASAP.

[2022-10-07 12:15] tom2strobl commented on #350
haha I was actually one of the non-existent portion of people using the `[data-rmiz] {}` css selector stuff on module level, but no biggie, just moved the selector out of the module to a global selector. portals are almost always the cleaner option for stuff like this anyway.

Your `wheel` changes aren't yet on npms `5.1.0-beta.4`, right? Let me know once you throw it on a beta branch on npm and I

[2022-10-08 22:42] rpearce commented on #350
@tom2strobl omg I'm so sorry. I could also accept a CSS class name to pass to the portal in order to differentiate one dialog from another (leaning this way).

The wheel-based code isn't yet solid because of body scrolling issues I'm still working through -- mostly Safari on macOS and iOS, but it rears its head in some way across the boards.

I will :100: drop a note here when it's out on beta. I

[2022-10-09 03:02] rpearce commented on #350
Update from tonight!

* _Should_ have the wheel events and body locking issues sorted (https://github.com/rpearce/react-medium-image-zoom/commit/1dbb392b4e7b65c40256ccbd6c8c726755256e30)
* Introduced a `classDialog` prop to provide a class that should be used on a given `<dialog>` on zoom (https://github.com/rpearce/react-medium-image-zoom/commit/cb969f1149e65b3fac94e05e9005efbb94ad818a)
* Publish

[2022-10-10 06:39] SaadAhmadSaddiqui opened #364 "Feature request/tabIndex prop"
## Issue Type

- [ ] Bug report
- [x] Feature request
- [ ] Question / support request
- [ ] Other

## Description
Tab index prop that allows to pass custom tab index number and be able to zoom in with space bar or enter depending on whether my tab is on that image or not.

[2022-10-10 09:52] tom2strobl commented on #350
@rpearce looks pretty good to me!
FYI you `preventDefault` in `ControlledBase.handleWheel`, but register the event handler as passive, which is [impossible](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener?retiredLocale=de#:~:text=If%20a%20passive%20listener%20does%20call%20preventDefault()%2C%20the%20user%20agent%20will%20do%20nothing%20other%20than%20generate%20a%20c

[2022-10-10 16:47] rpearce commented on #350
@tom2strobl beta7 should have that removed as of last night!

[2022-10-10 17:04] rpearce commented on #364
@SaadAhmadSaddiqui Thanks for using this library and submitting an issue!

There is already buttons that are included with the library that zoom and unzoom the image. If you press tab, the zoom image button will appear.

For a screen reader, the button is announced after you encounter the image, and the button is labeled by "Zoom image:" plus the alternative text of the image, of there is any.

If

[2022-10-10 17:04] #364 closed

[2022-10-10 23:19] rpearce commented on #357
I'm working on this, and it should be in the next `v5.1.0` beta version. If that checks out, I'll see about doing an official `5.1.0` release.

[2022-10-11 01:15] SaadAhmadSaddiqui commented on #364
I actually want an option to give a tabIndex to the button itself. Problem I'm facing is that as I tab thru the tabIndexes that I have assigned, the focus after those goes to the places that are not assigned a tabIndex (in my case, then navbar) and after the navbar it comes to the zoom button where I can use enter to zoom the image.

What I require is that we can maybe pass a prop to zoom componen

[2022-10-11 01:45] rpearce commented on #364
I see, and thank you for explaining.

While your tab order may work with pre-defined numbers, are you sure the order is maintained for screen readers?

From my experience working with accessibility, it is considered unwise to assign anything other than `0` or `-1` to a tabindex, for tabindex order will not be reflected with screen readers, and having these differ could create a  more difficult exp

[2022-10-11 03:12] SaadAhmadSaddiqui commented on #364
So I followed the pattern you mentioned and gave only 0 and -1 as the tab indexes and it works fine now. But obviously now the navbar is not accessible with tab anymore. I will try the method you mentioned as well and see if I can get better results. Thanks for the help Pearce!

[2022-10-11 03:49] rpearce commented on #357
This PR should fix the issue, https://github.com/rpearce/react-medium-image-zoom/pull/365, and this extra commit, https://github.com/rpearce/react-medium-image-zoom/commit/c36e04bdfa66705c0a7bfbcf9c05d549262f56c9, should ensure that `NaN` never makes its way to `width` and `height` props.

It's been merged into the `v5-dev` branch and beta released as `react-medium-image-zoom@5.1.0-beta.9`. Please

[2022-10-11 03:54] rpearce opened #366 "Design request for improving the storybook examples"
## Description

Help is wanted with making the examples more aesthetically pleasing and informative, so please [start a discussion](https://github.com/rpearce/react-medium-image-zoom/discussions) if you're able to help!

You can [view the storybook examples](https://rpearce.github.io/react-medium-image-zoom/) to see various usages.

[2022-10-12 02:05] #332 closed

[2022-10-12 02:05] #356 closed

[2022-10-12 02:05] #357 closed

[2022-10-12 02:05] #359 closed

[2022-10-12 02:08] rpearce commented on #350
The `zoomMargin` bug still needs to be figured out, so this issue will remain open, but `scrollableEl` has been removed, and there are a bunch of other improvements / additions in `v5.1.0` that is now released.

I also added you to the All Contributors section in the README for your contributions. Thank you for your time 💜

[2022-10-12 02:09] rpearce commented on #332
@PaoloDiBello @tommoor This has been released in `v5.1.0`!

I added y'all to the All Contributors section in the README for your contributions. Thank you for your time 💜

[2022-10-12 02:09] rpearce commented on #356
@Songkeys This has been released in `v5.1.0`!

I added you to the All Contributors section in the README for your contributions. Thank you for your time 💜

[2022-10-12 02:10] rpearce commented on #357
@AntoineS92 @trebua @mmxdr This has been released in `v5.1.0`!

I added you to the All Contributors section in the README for your contributions. Thank you for your time 💜

[2022-10-12 03:57] Songkeys commented on #356
Thank you! I just installed it and it works really well!

[2022-10-12 08:23] AntoineS92 commented on #357
Thank you ! I will try it as soon as I have time !
You rock

[2022-10-13 03:45] rpearce commented on #350
@tom2strobl I may have figured it out: https://github.com/rpearce/react-medium-image-zoom/pull/368

Could it possibly be this easy?!
<img width="1087" alt="github diff" src="https://user-images.githubusercontent.com/592876/195494343-ef95d19d-8d8a-43dd-b65f-189750dfeff2.png">

[2022-10-15 02:57] rpearce opened #369 "Clicking on zoomed SVGs doesn't unzoom"
## Issue Type

- [x] Bug report
- [ ] Feature request
- [ ] Question / support request
- [ ] Other

## Description

Probably because of https://github.com/rpearce/react-medium-image-zoom/blob/8cb689aec030cbba19245ae069b10604df809cc0/source/Controlled.tsx#L445, clicking on zoomed SVG element in the examples doesn't perform an unzoom action.

[2022-10-15 03:07] #350 closed

[2022-10-15 03:24] #369 closed

[2022-10-15 03:41] rpearce commented on #242
@n1ghtmare Hi! As of `v5.1.x`, you can provide any custom modal content you like, and here is an example: https://rpearce.github.io/react-medium-image-zoom/?path=/story/img--modal-figure-caption

[2022-10-15 03:42] rpearce commented on #290
Hi, @anders-photowall! As of `v5.1.x`, you can provide any custom content to the zoom dialog that you like, and there's a simple example here: https://rpearce.github.io/react-medium-image-zoom/?path=/story/img--modal-figure-caption

[2022-10-15 03:44] rpearce commented on #188
Hi, @madeleineostoja and anyone else! Since `v5.1.x`, you can provide any custom content to the zoom dialog that you like, and you can find a simple example of that here: https://rpearce.github.io/react-medium-image-zoom/?path=/story/img--modal-figure-caption

[2022-10-15 03:45] rpearce commented on #128
Hi, @oyeanuj! It has been some time since we communicated on this issue. Since `v5.1.x`, you can provide any custom content to the zoom dialog that you like, and you can find a simple example of that here: https://rpearce.github.io/react-medium-image-zoom/?path=/story/img--modal-figure-caption

[2022-10-15 04:40] rpearce opened #372 "Add more storybook examples of custom zoom modal content"
## Description

The [custom zoom modal content](https://github.com/rpearce/react-medium-image-zoom#custom-zoom-modal-content) feature could be showcased better by providing some unique experiences that people could have inside of a zoom modal.

Here are some ideas:
* Add a `Purchase Print Version` button that, when clicked, reveals a nice form for buying a print version of the image
* Add some but

[2022-10-16 20:02] mmxdr commented on #357
@rpearce perfect, works now!
thank you for your work and time!

[2022-10-18 03:30] rpearce commented on #363
I am still thinking about this. I don't have a good solution at the moment.

[2022-10-18 11:46] nirhaas opened #375 "Warning: `NaN` is an invalid value for the `width` css style property."
## Issue Type

- [x] Bug report
- [ ] Feature request
- [ ] Question / support request
- [ ] Other

## Description

Hi. I have a Docusaurus website that is using this project with [ThemedImage](https://docusaurus.io/docs/markdown-features/assets#themed-images). When switching themes (dark - lite), we get the following error:

[code]

I have seen #357, and indeed it seems like ThemedImage is using

[2022-10-18 11:50] rpearce commented on #375
Hi, @nirhaas! I'm sorry you're having trouble. I should be able to address this tonight or tomorrow night given I have enough information here. Stay tuned!

[2022-10-20 03:14] rpearce commented on #375
Okay, I've been able to reproduce this, and I think it directly has to do with SVGs.

I'll need some time to figure it out. Thanks for reporting this!

[2022-10-25 10:45] SanderHeling opened #378 "Image is hidden when pressing escape during hiding animation"
## Issue Type

- [x] Bug report
- [ ] Feature request
- [ ] Question / support request
- [ ] Other

## Description

When you close the modal by clicking on it and then press escape while it's animating it will hide the modal and keep `visibility: hidden;` on the content. This issue can be easily recreated in the "[Custom Modal Styles](https://rpearce.github.io/react-medium-image-zoom/?path=/story/

[2022-10-26 03:23] #378 closed

[2022-10-26 03:43] rpearce commented on #378
@SanderHeling This should now be resolved as of `v5.1.2`, and the example you linked to above should now be functioning properly.

Thanks for your bug-report contribution! You've been added to the all-contributors list in the README!

[2022-11-08 04:29] jeremyzilar opened #381 "Pass in caption text to the CustomZoomContent"
## Issue Type

- [ ] Bug report
- [x] Feature request
- [ ] Question / support request
- [ ] Other

## Description

Thank you for your work on adding in the ability to customize the zoom modal's content 🎉 ([link](https://rpearce.github.io/react-medium-image-zoom/?path=/story/img--modal-figure-caption))

However, using the exact example in the repo, I am having the hardest time trying to pass in th

[2022-11-09 02:54] rpearce commented on #381
Hi, @jeremyzilar! Let's see if we can get you sorted.

The `CustomZoomContent` in this example,

https://github.com/rpearce/react-medium-image-zoom/blob/16ebc24d38c28739f39c99b1f6bb616f7b0adb93/stories/Img.stories.tsx#L236

can be anything. If you need to do this dynamically, I suggest the following approach:

[code]

[2022-11-09 03:09] rpearce commented on #381
I also want to say _thank you_ for your time and whatever you contributed while with 18F, digital.gov, the U.S. Web Design System, and the rest.

[2022-11-23 19:28] rpearce commented on #381
It doesn't seem there's an outstanding issue here, so I'm going to close this. Please feel free to ask more questions!

[2022-11-23 19:28] #381 closed

[2022-11-24 08:57] GorvGoyl opened #383 "[bug] every image is being downloaded 3 times"
Inspecting dev tools shows that the image is downloaded three times when using this library.

You can check it from the storybook example too:
https://rpearce.github.io/react-medium-image-zoom/?path=/story/img--regular
![screenshot 2022-11-24 at 14 26 20@2x](https://user-images.githubusercontent.com/7106086/203737308-df1df111-7ece-4eb5-9047-044caa2c5941.png)

[2022-11-25 00:17] rpearce commented on #383
Hi! Thanks for asking your question and pointing this out.

It looks like you have "disable cache" enabled, so it will definitely be downloaded >1 time.

The library asynchronously tries to wait for the image to load, and it renders it in a portal once it does. If you've disabled the cache, it'll miss the local browser cache and try to re-fetch.

Please let me know if this is not the case.

[2022-11-25 13:54] GorvGoyl commented on #383
thanks that make sense. closing the issue.

[2022-11-25 13:54] #383 closed