[2016-07-14 14:41] rpearce opened #1 "Scroll/Touch offsets the zoomed image's animation's place to return to"
![demo](https://cloud.githubusercontent.com/assets/592876/16843515/6853435a-49d9-11e6-9363-748bdd9b4425.gif)

[2016-07-14 15:12] rpearce opened #2 "Re-size when the viewport is changed"

[2016-07-14 15:21] rpearce opened #3 "Replace thumbnail with larger image after it is downloaded"
After loading the zoomed image, when you unzoom, replace the src of the smaller one with the high-res one, and don't bother redownloading again in the future.

[2016-07-14 16:00] rpearce opened #4 "Improve README"

[2016-07-15 15:14] #2 closed

[2016-07-16 14:27] #1 closed

[2016-07-17 09:20] #3 closed

[2016-07-18 09:17] rpearce opened #8 "ESCAPE should close the image zoom state"

[2016-07-18 09:46] rpearce opened #9 "Scrolling to close zoomed image still a tiny bit jumpy at the very end of the animation"

[2016-07-18 09:47] #4 closed

[2016-07-18 09:47] #8 closed

[2016-09-22 21:51] rpearce opened #12 "popstate event/browser back button/forward button should close the zoom"

[2016-09-23 10:47] rpearce commented on #12
This issue comes from folks who don't blow away the DOM structure yet use `pushState` (or a hash URL change) to show a different interface. When you navigate with this and the DOM doesn't remove the `ImageZoom` component, then it doesn't technically know to close.

In the light of day, I wonder if listening to `window.popstate` is actually what is desirable, or if it would be more appropriate for

[2016-09-23 16:00] jewlofthelotus commented on #12
I definitely like the `isZoomed` option in any case.

[2016-09-23 19:44] rpearce commented on #12
@jewlofthelotus can you think of any scenario where clicking the back button _shouldn't_ close the zoom?

[2016-09-23 19:55] jewlofthelotus commented on #12
@rpearce does zooming the image currently trigger a hashchange? I don't recall.  If it does, then back should close the zoom. If it doesn't, closing on back doesn't make sense.

[2016-09-23 20:05] rpearce commented on #12
@jewlofthelotus No, it does not trigger a hash change. Most folks blow away the DOM structure when using a SPA and the back button, but that other use case exists where you use pushstate/hash change and don't blow it away -- the component isn't unmounted and therefore not closed.

So what I'll take from this is that `isZoomed` should be a feature

[2016-09-26 21:26] #12 closed

[2016-10-05 19:46] rpearce opened #14 "Don't scale/zoom image larger than the original image if no larger image provided"
The last image in the example (the antelope) should serve as a good test case.

[2016-10-05 21:45] rpearce commented on #14
On third thought, I don't think this a use case for this library. If you want to zoom image, you're going to get a zoomed image -- the fact that you didn't provide a higher-res photo initially or as the `zoomImage` doesn't concern us.

[2016-10-05 21:45] #14 closed

[2016-11-13 17:02] rsaccon opened #21 "z-index of zoomContainer should be customizable"
when using UI frameworks I prefer to set the z-index in react-medium-image-zoom to a value higher than the highest z-index used in the UI framework. Messing around with z-indexes in the UI framework itself, can quickly turn into a disaster.

So if the z-index would be exposed as a prop, it would be even easier !!! I have currently to use the source version of react-medium-image-zoom, just for bein

[2016-11-13 19:59] rpearce commented on #21
If I am understanding correctly, are you saying that you'd like to set the `z-index` on the image and/or the zoomed image? If so, you can set the `style` property with `z-index` like this:
[code]
Does this solve your problem?

[2016-11-13 20:00] rpearce commented on #21
To elaborate further, the library provides a few defaults, but almost all of the defaults can be overridden by passing in what you need like I showed above.

[2016-11-13 20:32] rsaccon commented on #21
thanks, but let me explain better my issue: I want to set the [zIndex of the zoomContainer](https://github.com/rpearce/react-medium-image-zoom/blob/master/src/react-medium-image-zoom.js#L27) (which is responsible of overlaying all the browser window, I think), and you showed above how to set a zIndex on the image or zoomImage. So how can I override that zIndex?

[2016-11-13 20:56] rpearce commented on #21
@rsaccon Makes sense. I'm working on a way to override _all_ the default styles right now, so give me a few!

[2016-11-13 21:31] #21 closed

[2016-11-13 21:35] rpearce commented on #21
@rsaccon Go ahead and update to version `0.6.0`. You can now pass `defaultStyles` to override any of the default styles.
[code]

[2016-11-14 10:24] rsaccon commented on #21
Great, thanks, works perfect!

[2016-11-16 14:09] rpearce opened #23 "Is there any desire to see this as a vanilla JavaScript implementation?"

[2016-11-18 20:51] rsaccon opened #24 "Feature request: allow handleZoom to filter out ctrl-Click or cmd-Click"
When clicking on an image with `cmd` key pressed (or `ctrl` on windows), I am performing a different action than zooming. So I had to customize the handleZoom (I filtered out for all possible keyEvents):

[code]
Can we integrate this (or maybe an improved approach where one can provide an optional list which keys need to be filtered) ?

[2016-11-18 21:08] rpearce commented on #24
@rsaccon I think that's something I can take a look at doing, though I'm not sure I can get to it today. I think passing in a data structure of things you want checked to disable the zoom is a reasonable request.

[2016-11-18 21:15] rsaccon commented on #24
ok, great.

[2016-11-18 22:32] rpearce commented on #24
@rsaccon How does this sound? Instead of passing down many different sorts of information, what about passing down a callback that receives the event and allows _you_ get to define what happens? For example (pseudo-code):
[code]
I think something similar to this means that the library doesn't need to care about your implementation details and simply needs to respond to a boolean function call. How

[2016-11-19 00:59] rsaccon commented on #24
oh yes, that is much better !

[2016-11-19 14:08] rpearce commented on #24
@rsaccon update to version `0.7.0` for the changes

[2016-11-19 14:08] #24 closed

[2016-12-20 23:52] cbothner opened #26 "Zoom status doesn't always update when props.isZoomed changes."
I would like to use this as a controlled component, where I can toggle its zoomed state in a central state store. It seems like that's what the `isZoomed` prop is for, however if the image has never been zoomed before, then changing the `isZoomed` prop does nothing. If it has been zoomed before, setting `isZoomed` to true does open the zoomed view and setting `isZoomed` to false does close it, but

[2016-12-21 01:10] rpearce commented on #26
Sounds reasonable! I am traveling so will have to take a look at this after the holidays. Pull requests welcome, though

[2017-01-05 15:23] rpearce commented on #26
@cbothner Checking back in on this. I'm still traveling for the majority of January and _might_ be able to get to it in the next month. How pressing is this for you?

[2017-01-06 19:45] cbothner commented on #26
It's important but not urgent. I took a crack at it on my fork (cbothner/react-medium-image-zoom@ 406e7566a9f5eb3f35b1b83cfa554ad2c47ad122) but wasn't able to figure out how the controlled property should trickle down to your `<Zoom />` component. As it stands with my commit, it's all good iff `onZoom` and `onUnzoom` are provided and implemented correctly to change `isZoomed`, but it doesn't behav

[2017-01-07 05:38] rpearce commented on #26
Just spent an hour trying to get something easy going -- I hacked it 90% of the way, but the code really needs to be refactored to be able to handle the states that can exist between its own state management and specified state at any given time.

[2017-01-26 15:52] cbothner commented on #26
Just checking in on this.  This morning I learned that installing packages from github using npm is _way harder than it needs to be_ because npm doesn't run build scripts (or even download the src...), so I'm hoping that some of this functionality can make its way into an npm release someday.

[2017-01-26 18:11] rpearce commented on #26
Regarding NPM: NPM is a pretty strong tool that does exactly what you tell it to. A prebuild NPM script will run what you tell it to before publishing so that if you install it, you will have a generated file downloads that may not be stored on github (by design). Also, it's not a good idea to require src/ code for front end apps because that code is typically written in future JavaScript that isn

[2017-01-27 15:17] cbothner commented on #26
Congrats on the big move—don't spend too much time inside at the computer. But big thanks for whatever you can do.

Re: the npm comment, I was referencing [this old issue](https://github.com/npm/npm/issues/3055). Just makes it hard to use tweaked modules in production environments like heroku unless one does store the build artifacts in the source repo (yuck!)

[2017-01-29 01:52] rpearce commented on #26
@cbothner can you check [this branch](https://github.com/rpearce/react-medium-image-zoom/tree/zoom-mgmt) out and give it a shot? This branch _should_ fix the bug for not being able to dictate `isZoomed` from the parent component.

Here is a rough guide to how to test locally, if you don't already know how (check [the NPM docs on link](https://docs.npmjs.com/cli/link) out for more info:

1. pull th

[2017-01-29 05:52] rpearce commented on #26
@cbothner do you have an example repo you're using where I could help you test this bug fix? Might make this fix go out faster

[2017-01-30 16:25] cbothner commented on #26
First, _thank you_ for the quick work on this. I had added [a little timed zoom/unzoom widget](https://github.com/cbothner/react-medium-image-zoom/blob/master/example/src/app.js#L6) to the example in my fork, which was what I'm testing with. Testing your branch, it totally works as a controlled component, but I think I'm seeing one bug: when setting `isZoomed = false` from the parent component, it

[2017-01-30 20:31] #26 closed

[2017-01-30 20:44] rpearce commented on #26
@cbothner After me being dumb and not merging things correctly, all of this is now published as `0.7.1`. I published this as a patch version because no breaking changes were introduced (major version), no additions were made (minor version) and this is really more of a bug fix.

[2017-01-30 20:46] rpearce commented on #26
@cbothner please let me know if there are any issues for you so we can work through them. Unfortunately, automated testing for this would be nice, but also a bit of a pain in the rear.

[2017-01-31 04:12] rpearce opened #30 "Create a changelog"

[2017-03-27 18:38] ismay opened #35 "Preload zoomImage url"
Do you think preloading the zoomImages is a useful addition to this component? It seems quite useful to have the component automatically add

[code]

for each zoomImage. Interested in what you think and whether or not that would be a useful optimisation. As I see it it should allow the browser to decide for itself whether or not to download the images ahead of time, and should mean that the zoomIm

[2017-03-27 19:42] rpearce commented on #35
@ismay I do think that preloading of some sort would indeed be useful if specified by the developer.

What are you thoughts on what this would look like with regards to this API?

[2017-03-28 08:04] ismay commented on #35
I'd say a `shouldPreload` boolean, set to `false` by default. When set to `true`, it appends a preload link with the zoomImage url to the `<head>` if there is a `zoomImage`. That'll make sure that browsers start downloading the zoomImages as soon as possible, instead of waiting until the user zooms.

[2017-03-28 17:38] rpearce commented on #35
@ismay I'll take a look at it when I get some free time in a couple of days. Thanks for your ideas

[2017-03-31 07:34] rpearce commented on #35
@ismay take at a look at https://github.com/rpearce/react-medium-image-zoom/pull/36 and see if this solution/explanation makes sense or not.

[2017-04-05 19:56] #35 closed

[2017-04-05 19:57] rpearce commented on #23
^ clearly not...

[2017-04-05 19:57] #23 closed

[2017-04-13 08:30] ismay opened #38 "Import PropTypes from separate package"
React 15.5 has deprecated importing `PropTypes` from the `react` package. Instead they're now recommending to use the new `prop-types` package. Any packages that use the old import strategy will produce a console error.

* See here: https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.proptypes
* Only this line has to be updated: https://github.com/rpearce/react

[2017-04-13 08:35] rpearce commented on #38
Thanks! It's been on my to-do list. Feel free to open a PR if you find the time.

[2017-04-13 08:47] ismay commented on #38
Submitted a fix in #39

[2017-04-13 08:48] #38 closed

[2017-05-02 02:21] jeremybini opened #42 "Using srcset on zoomImage does not work"
I would like to be able to define `srcset` and `sizes` on the zoomImage prop, but adding either of these fields has no effect.

I think that any extra fields defined on zoomImage should be passed down to the img tag, and additionally `fetchZoomImage` would pass these fields into the `Image` element so that the onload function can respond to the proper image source. If this sounds reasonable I'm ha

[2017-05-02 02:36] rpearce commented on #42
Indeed, `zoomImage` is not populating additional props it receives. If you want to take a stab at it, great!

Here is where the props get passed to zoomImage:
https://github.com/rpearce/react-medium-image-zoom/blob/master/src/react-medium-image-zoom.js#L143

And here is where it's getting rendered:
https://github.com/rpearce/react-medium-image-zoom/blob/master/src/react-medium-image-zoom.js#L275-L

[2017-05-02 13:24] jeremybini commented on #42
Yea, that makes sense to me - the same way ImageZoom has both `image` and `zoomImage` props. I'll be able to look into it today and let you know how things go.

[2017-05-04 21:51] rpearce commented on #42
Closed by https://github.com/rpearce/react-medium-image-zoom/pull/43

[2017-05-04 21:51] #42 closed

[2017-05-05 23:09] wtfdaemon opened #45 "Opacity not respected by defaultStyles > overlay value"
Can see where (line 610) you are using a bitwise and; to convert the opacity value to 0 or 1 based on visibility.  Unfortunately, this has the side effect of overriding the opacity value I'm trying to pass in this.props.defaultStyles.overlay.  It's important to me, from a design perspective to be able to have a partially opaque background while image is zoomed.

[2017-05-06 02:13] rpearce commented on #45
@wtfdaemon do you mind sharing what your props are that you're passing so I can confirm and see about fixing? Thanks for your report!

[2017-05-07 20:19] #45 closed

[2017-05-07 20:20] rpearce commented on #45
@wtfdaemon this should be fixed in version `1.0.3`. The PR is linked above this comment if you'd like to take a look at it.

Let me know if you have any more problems, and thanks for raising the issue!

[2017-05-08 16:49] wtfdaemon commented on #45
Great work, thanks!

[2017-07-10 21:54] kendagriff opened #47 "PropTypes warning remains"
I realize this was probably fixed in #38, but the problem persisted for me:

[code]

That's even after updating to React 15.6.1. The only way I could remove it was by removing all references to PropTypes altogether from the library: https://github.com/banzai-inc/react-medium-image-zoom/tree/without-prop-types

Any suggestions?

[2017-07-10 22:01] rpearce commented on #47
@kendagriff Thanks for reporting a potential issue. Does this referencing a specific line in the package (number or method name?), or is there a simple way to reproduce this with the example code in the repo? Thank you for your help.

[2017-07-10 22:07] rpearce commented on #47
@kendagriff I apologize for not being clearer. I see you reference `ZoomPortrait`, but I assume that is a component in your project. Can you narrow down to where in this project this comes from, or can you recreate somewhere so that I can interact with it and see the problem?

[2017-07-10 22:27] kendagriff commented on #47
The error points to ImageZoom. I suspect it happens upon encountering the first use of `propTypes` or `shape`. Not sure.

I'll try to reproduce it in a project, but I suspect there's some convoluted gnarl in our React app.

[2017-07-10 22:33] rpearce commented on #47
@kendagriff Where in `ImageZoom` does the error point to? Line numbers and any details go a long way!

`shape` was my first thought, as well; however, after reading https://github.com/facebook/prop-types/blob/master/README.md, one of their examples uses `shape` like so:
[code]
so I _believe_ that should be fine and working. The fact that this also used in a number of heavily-used production apps w

[2017-07-12 22:16] rpearce commented on #47
@kendagriff were you able to reproduce this in another project? If so, I'll look at it immediately. If not, I'd like to close this issue by the end of today. We can totally re-open if there is a reproduce case.

[2017-07-12 22:42] kendagriff commented on #47
Feel free to close it—I'll reopen when I have more for you.

[2017-07-12 22:44] #47 closed

[2017-07-21 23:09] rpearce opened #49 "Component should have two "modes", controlled and uncontrolled, just like text inputs"
Issue stems from the discussion and initial issue on https://github.com/rpearce/react-medium-image-zoom/pull/48.

## Initial Issue:

updated. Was instead checking against .state which could be different
even if isZoomed prop never changed.

## Diagnosis & Solution Plan

## Further thoughts
TBD

[2017-07-21 23:13] rpearce commented on #49
@cbothner Could you expand a little more on what you mean by this sentence/phrase?

What I'm understanding (correctly or incorrectly) from your analysis is that is `isZoomed` is provided as a prop, then the internal state-tracking is disabled and should only zoom/unzoom based on whether the provided props change. Otherwise, it manages its own internal state, and maybe if `isZoomed` is passed after

[2017-07-25 09:53] ismay opened #50 "Wrap image in link for graceful degradation"
I'm using this library for my portfolio, which is a universal app. Everything works fine, but I recently encountered a bug unrelated to this library which caused my clientside code to fail to boot. Because of the serverside rendering everything still worked, even without clientside js. Except for the zoom that this library provides (which makes sense of course).

Now I definitely don't expect a re

[2017-07-25 10:05] rpearce commented on #50
Have you tried having the link  wrapping this component, and onclick your JS prevents default? If it loads the client-side script, then the JS will prevent the link from navigating, and if it doesn't, it'll link where you want (like you said).

At first glance, this doesn't quite feel like it belongs in the lib, as it should just render the image and that's that.

Are you still seeing a magnify cu

[2017-07-25 10:16] ismay commented on #50
Nope, I haven't yet tried wrapping it in a link. But I assume that would work. To be honest I'm not sure how I'd pass the click event from the wrapping link on to react-medium-image-zoom. But I'll see what I can come up with, and if I find a working solution I'll post it here for others.

Yeah I see what you mean. Focusing on a single thing and doing that well is definitely more important than sol

[2017-07-25 10:18] ismay commented on #50
Ah wait, using isZoomed would probably be the easiest way.

[2017-07-25 19:26] rpearce commented on #50
I haven't tried this, but having a simple e.preventDefault() in an onClick handler for your link should do the trick? Here's my reasoning: if your client scripts load, then that link just won't go anywhere, but the image zoom callbacks (which should be ran first) will do their thing regardless. I think this would only get weird if you stopped event bubbling, but even then that's further up the cha

[2017-07-26 10:02] ismay commented on #50
You're right, I was overthinking it, your solution works perfectly. So for others that are trying to do this:

[code]

When combined with SSR, this'll degrade gracefully for users that have js turned off (or when your app crashes). Instead of zooming it'll link directly to the image and for users with js turned on functionality will be unaffected. Awesome :). Thanks for pointing me in the right di

[2017-07-28 01:17] rpearce commented on #50
Always!

[2017-07-28 01:17] #50 closed

[2017-07-28 01:18] rpearce commented on #49
I'm going to get started on this this weekend and not let it linger.

[2017-07-28 14:33] ismay commented on #9
Seems like this is fixed with react@next (v 16). At least for me it is. Woohoo 😄 🎉 🎉 🎉

[2017-07-28 15:26] cbothner commented on #49
Sorry for the delay on this. Yes, that is what I mean. That’s exactly what happens with `<input />` elements in React, too. If you pass a `value` prop to a component that has already mounted, you get this error:

[code]

[2017-07-28 22:44] rpearce commented on #9
@ismay do you have a public project where that's the case? If so, can you link it? I sure do like when bugs resolve themselves

[2017-07-29 11:50] ismay commented on #9
Not live yet: https://github.com/ismay/ismaywolff.nl/pull/590, still waiting for enzyme support as my tests rely heavily on it. But the build itself works without problems.

[2017-07-31 03:27] rpearce commented on #49
Getting started on this

[2017-07-31 04:24] rpearce commented on #49
Edit: This is gonna take a while... lots to change. I'll definitely need some review on this when I get something workable

[2017-07-31 15:16] cbothner commented on #49
One other thought: display the warning, definitely, but I think it’s okay to leave the behavior undefined if this does happen. When I have seen that error for inputs in React (due to accidentally passing `value={undefined}` at mount), the program can often recover and remain functional.

I would imagine it could work out in perhaps the most common case that is likely to come up. Transitioning from

[2017-07-31 19:42] rpearce commented on #49
@cbothner What do you think of this concept? Because there are a lot of `if` statements required based on "was `isZoomed` passed in on instantiation?", I'm considering having different sub-components that just do what they're supposed to instead of all the logic (which makes my head hurt)

[2017-07-31 19:43] rpearce commented on #49
...following the previous comment:

I reckon that the controlled component _might_ not even need to manage any of its own state, since it receives that state via the props, unless there are some weird timing issues that require it

[2017-07-31 21:50] cbothner commented on #49
Doesn’t the animation throw a wrench in “no internal state?” I just spent a few minutes looking through React’s code for input elements to learn from how they do it. [When it’s controlled](https://github.com/facebook/react/blob/master/src/renderers/dom/fiber/wrappers/ReactDOMFiberInput.js#L198), they [force the DOM node value to the prop value with every update](https://github.com/facebook/react/b

[2017-08-01 03:32] rpearce commented on #49
Okay I'll take a few stabs at this over this week and see where we end up. Pretty slammed at present, but will see what I can do.

[2017-08-09 20:31] rpearce commented on #49
Sorry y'all, haven't had any time to devote to this. Sigh. If anybody else wants to take a stab at it, by all means take it over; otherwise, I'm hoping for having time in the next couple of days.

[2017-08-13 00:35] rpearce commented on #35
@ismay I'm taking a look at another issue, and I keep getting the feeling that this preload functionality should not actually be a part of this library and should live in the client's application code. What would prevent you in your app from doing
[code]
which is what the component is currently doing for you?

[2017-08-13 09:42] ismay commented on #35
Yeah after having used it for a while I think you're right. No reason this can't be added by the user with a wrapper.

[2017-08-13 09:43] ismay commented on #35
Might be good to remove it with the release of v2

[2017-08-13 19:39] rpearce commented on #35
@ismay thanks for the feedback. I'll pull the v2 commit _out_ of that open PR, create a new one, and then the v2 release will come after all that is set

[2017-09-15 03:05] rpearce commented on #49
Good news! I'll be spending a good chunk of a day next week fixing this issue and making a couple of other changes.

[2017-09-15 03:07] rpearce opened #54 "Don't provide zoom option if it can't actually be zoomed"
Currently, if you click to zoom on an image that can't get any bigger, it just moves to the center of the screen. Let's disable it if it's already at its max size.

Also make sure to not scale it BIGGER than its max size (hook into `shouldRespectMaxDimension`?)

[2017-09-19 03:58] rpearce opened #55 "Write tests for this"

[2017-09-19 04:29] rpearce opened #56 "Add eslint and set up a precommit hook via husky"

[2017-09-19 04:32] rpearce opened #57 "Set up storybook for nice dev experience"
https://github.com/storybooks/storybook

[2017-09-20 22:10] #30 closed

[2017-09-20 22:10] #49 closed

[2017-09-20 22:12] rpearce commented on #49
This should now be addressed in version `2.0.0`

[2017-09-20 23:09] rpearce opened #58 "Add "Contributors" section to readme"
https://github.com/kentcdodds/all-contributors

[2017-09-21 00:11] #56 closed

[2017-09-21 00:19] rpearce opened #60 "Add Code of Conduct"

[2017-09-21 00:47] #58 closed

[2017-09-21 00:53] #60 closed

[2017-09-21 02:57] rpearce opened #63 "Fix image on page being visible while it's supposed to be unzooming"

[2017-09-21 02:57] rpearce commented on #55
will be solved by #57

[2017-09-21 04:08] #57 closed

[2017-09-21 04:08] #63 closed

[2017-09-21 04:33] rpearce opened #65 "Consider using storybook-deployer to deploy storybook to GH Pages"
https://github.com/storybooks/storybook-deployer

[2017-09-21 04:34] rpearce opened #66 "Add styles to Storybook"
Right now it's a bit ugly... Let's clean it up with some styling?

[2017-09-22 00:16] rpearce commented on #55
Well, that was a pipe dream. It's good for trying things out, but you just can't beat unit tests.

[2017-09-22 04:11] #54 closed

[2017-09-27 19:06] rpearce opened #68 "Update to make use of all React v16 goodness"
This will constitute a breaking of the `react >= v0.14.0` peer dependency. Thus, I'd guess that `v2` and any minor or patch versions will be the last to support `< react v16`, and `v3` and above will support `react >= v16`.

https://facebook.github.io/react/blog/2017/09/26/react-v16.0.html
https://facebook.github.io/react/docs/portals.html

[2017-10-12 19:06] #68 closed

[2017-10-14 23:03] rpearce commented on #9
Update for posterity: I think this is still a little bit of a thing. It's based on returning the overlayed image back to the _(x,y)_ coordinates that the original one is at before removing the overlay+image from the page, thus making it seem a tiny bit janky. Perhaps investigating [requestAnimationFrame](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame) could help with

[2017-10-16 12:54] joshsloat opened #70 "Improve keyboard interaction for accessibility"
Per accessibility standards [(WAI-ARIA](https://www.w3.org/TR/wai-aria-practices/#button), [MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Keyboard-navigable_JavaScript_widgets), [WebAIM](https://webaim.org/techniques/keyboard/)), it's important to ensure that all content can be accessed with the keyboard alone - and that the keyboard and mouse produce the same experience.

Since

[2017-10-18 06:28] ompel opened #74 "Enlarge animations on mobile devices"
Looks like the enlarge animations does not work on mobile devices when loading image remotely.
Contract animations works as expected.
On web browsers this works fine.

I'm using this inside a SPA based on react.
This sits inside a <Grid /> component from the 'react-bootstrap' library.
Also tried putting the <ImageZoom /> component alone inside the return of the render function,
Still had that issu

[2017-10-18 07:29] rpearce commented on #74
Hi, Omri, and thanks for documenting this here. Can you please provide a live sample of this, as well as what versions you're using of
* this library
* react
* react-dom

I've seen this working on numerous mobile devices last time I checked. Can you please specify what types of mobile devices?

[2017-10-19 05:55] ompel commented on #74
Hi,

- this library: 3.0.0
- react: 16.0.0
- react-dom: 16.0.0

Tested on two iPhones(both on Safari and Chrome), LG G3 and a Samsung Galaxy S6

I will try to also provide a video of this behaviour.

[2017-10-19 21:43] rpearce commented on #74
@cbothner have you seen this issue?

[2017-10-19 22:13] cbothner commented on #74
I’m running with those same versions and seeing no issues on mobile devices. Then I just copied your code sample into a quick create-react-app and unless I'm misunderstanding what issue you’re seeing, it’s working just fine.

[2017-10-20 05:40] rpearce commented on #74
@ompel I'm not able to recreate this issue, either. Do you have a small sample project that you can make to recreate this issue?

[2017-10-20 11:01] rpearce commented on #70
Closed via https://github.com/rpearce/react-medium-image-zoom/pull/71 and https://github.com/rpearce/react-medium-image-zoom/pull/73

[2017-10-20 11:01] #70 closed

[2017-10-22 23:37] rpearce commented on #74
I'm closing this until we have a way to reproduce this, @ompel. The best way would be to have a small sample project that we can use

[2017-10-22 23:37] #74 closed

[2017-10-22 23:38] rpearce commented on #66
Nope. Works for now!

[2017-10-22 23:38] #66 closed

[2017-10-26 21:37] joshsloat opened #77 "Allow image attributes to change after init"
Currently, there's no way to change image attributes after initial definition unless the image source also changes. This means that attributes like `alt`, `className`, `tabIndex`, etc cannot be dynamic.

Internally, the component stores the image prop as state and references the image through `state` (rather than `props`) during `render`. The state can only update on a source change. This was done

[2017-11-01 02:52] joshsloat opened #79 "Improve ShouldHandleZoom story"
The `shouldHandleZoom` callback is dependent on an `event`, but is not implemented in a way that reflects this in the storybook example: https://github.com/rpearce/react-medium-image-zoom/blob/e2ba92b7e4913f27628bae2b6d236f7562204b20/stories/ShouldHandleZoom.js#L54

https://github.com/rpearce/react-medium-image-zoom/blob/e2ba92b7e4913f27628bae2b6d236f7562204b20/src/ImageZoom.js#L204

[2017-11-01 21:58] #77 closed

[2017-11-01 21:59] rpearce opened #81 "If you click to open/close zoom, don't refocus the image. Only for keyboard activation"
cc @joshsloat, though I'll take this on

[2017-11-06 09:19] #79 closed

[2017-11-06 09:19] #81 closed

[2017-11-06 09:28] rpearce commented on #65
Not sure this is gonna happen.

[2017-11-06 09:28] #65 closed

[2017-11-27 05:50] aswinckr opened #87 "Render issue even while trying the example"
Hi,

Even when i use the example to render an image i get this issue -

`Uncaught Error: ImageZoom.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.`

Pasting code here -
[code]

[2017-11-27 07:01] rpearce commented on #87
Hi, @aswinckr, I'll copy this code and see what I can find! Be back with you shortly

[2017-11-27 07:06] aswinckr commented on #87
Hi @rpearce , I'm sorry i just figured out the problem. I was using the latest build ^3.0.2 of react-medium-zoom but my react was v15.4.2. Didn't take note of the incompatibility you mentioned in the docs.

Thank you, I'll close this issue

[2017-11-27 07:06] #87 closed

[2017-11-27 07:07] rpearce commented on #87
@aswinckr great news! Thanks for making my job easy :)

[2017-12-01 00:16] alexshelkov opened #89 "Problem shouldReplaceImage"
I am using 3.0.2, and when I try use **shouldReplaceImage=false** and **zoomImage** together image don't get zoomed second time.

Expected:

Click to zoom: zoomImage showed.
Click to unzoom: original image showed.

Click to zoom again: zoomImage showed (bit this not works, instead original image showed).

[2017-12-01 00:41] rpearce commented on #89
@alexshelkov Thank you for making this report! If you have the time, could you provide a demo of this broken functionality so that it can be effectively debugged?

[2017-12-01 17:20] alexshelkov commented on #89
@rpearce ok I prepared small demo for you here: https://alexshelkov.github.io/react-medium-image-zoom/storybook-static/index.html?selectedKind=react-medium-image-zoom&selectedStory=DoubleZoom%20problem&full=1&down=0&left=1&panelRight=0&downPanel=storybook%2Factions%2Factions-panel

[2017-12-01 18:58] rpearce commented on #89
@alexshelkov Thanks! I'll check it out this afternoon (New Zealand time), see if I can repro, then work on a fix if so. You rock

[2017-12-02 09:38] rpearce commented on #89
Should be fixed in `v3.0.3`

[2017-12-02 09:38] #89 closed

[2017-12-02 09:46] rpearce commented on #89
Make that `v3.0.4` (dumb README problem)

[2017-12-02 13:59] alexshelkov commented on #89
Thank you! My problem is fixed.

[2017-12-04 22:41] rpearce opened #96 "Replacing low-res with downloaded high-res image flickers/flashes on new FireFox"
This issue is a:

- Bug report

## Expected behavior
I expected there to not be a flicker when the the larger image was loaded and replaced the old one.

## Actual behavior
What actually happened: it flickers.

## Steps to reproduce behavior
1. open up the new firefox
1. go to the example page (link below)
1. click the first image (a bridge)

## Link to repository/example of behavior
[link to exam

[2017-12-14 11:03] Snowsoul opened #101 "Blurry Image Zoom in iOS"
This issue is a:

- Bug report

## Expected behavior
I expected to see the zoomed in image to be sharp on a mobile device (iOS).

## Actual behavior
What actually happened was that the zoomed in image was really blurry.

![Image1](https://i.imgur.com/WxtmP85.jpg)
![Image2](https://i.imgur.com/YjpI5Wk.png)

## Steps to reproduce behavior

1. Go to https://rpearce.github.io/react-medium-image-zoom/

[2017-12-14 20:02] rpearce commented on #101
@Snowsoul Thank you for reporting this! I'll check it out today.

[2017-12-18 04:38] rpearce commented on #101
@Snowsoul thanks for this bug report! I added you to the [all contributors list](https://github.com/rpearce/react-medium-image-zoom#contributors) in the README.

The issue with this exists solely in the example. It did not have the mobile-friendly `<meta>` tags, and so when it was expanding the image to fit the viewport, it thought it was on a regular-sized webpage and was then scaling it by a fac

[2017-12-18 04:38] #101 closed

[2017-12-21 05:57] ashsepra opened #104 "Uncaught (in promise) Error: ImageZoom.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object."
This issue is a:

- Question / support request

## Description
For some reason I can't get it to work right, I get an error about
Uncaught (in promise) Error: ImageZoom.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.

Cheers,

[2017-12-21 05:59] rpearce commented on #104
@ashsepra thank you for using the project! In order to help you, can you please provide a demo project or example of the code you're using?

[2017-12-21 08:35] ashsepra commented on #104
Hi @rpearce ,

I think I'm wrong using dependency. Based on my project using ReactJS version 15.x, I'm using version 3.x instead of version 2.x. Not an issue anymore, the component rendered well, good job! I can close it now
Cheers,

[2017-12-21 08:35] #104 closed

[2017-12-21 10:08] rpearce commented on #104
Great! No worries

[2017-12-28 04:31] Tiendq opened #105 "Cursor: zoom-in when image is not zoomable"
This issue is a:

- Bug report

## Expected behavior
I expected cursor is `default` pointer when image isn't zoomable e.g. when `shouldHandleZoom` returns `false`.

## Actual behavior
Cursor is always `zoom-in` by inline style.

## Steps to reproduce behavior
1. `shouldHandleZoom` returns `false`
2. Try to zoom an image

[2017-12-28 06:33] rpearce commented on #105
@Tiendq Thank you for creating this issue. As `shouldHandleZoom` is a callback that is called _after_ a zoom trigger event occurs, the component cannot determine the hover state before such an action occurs.

Instead, since this is based on your logic, I would recommend that you use your own `className` or `style` property to determine the cursor. For example:
[code]
or
[code]
where `.img--disable

[2017-12-28 06:33] #105 closed

[2017-12-29 02:32] Tiendq commented on #105
Actually you can't use class `.img--disabled` since default inline style will override it. I don't want to add my own inline style to `image` too since cursor type is based on screen width (responsive design). I have used `!important`. Thanks.

[code]

[2017-12-29 02:33] rpearce commented on #105
Yes, you are right: the `style` tag would indeed override the class. I'm glad you have something that works for your use case :+1:

[2018-01-05 16:47] kendagriff opened #106 "Zooming and Unzooming with `Enter` Produces Errors"
This issue is a:

- Bug report

## Expected behavior

That the 'Enter' key works without throwing errors.

## Actual behavior

This might sound nit-picky, but it's happening with our users in production. If you open an image, and then sit and press `Enter` over and over (maybe 5 to 10 times?), invoking zoom and unzoom, eventually you can start throwing errors.

## Steps to reproduce behavior

1. V

[2018-01-05 19:07] rpearce commented on #106
@kendagriff Thank you for reporting this! This is a result of manually mounting and unmounting the zoom component. This makes me think about different way(s) this component library could work overall, so there's a "let's just fix the errors" vs. "let's structure it so that this couldn't happen" I'm currently going back and forth between.

I'll think on it some more and get back to you in a couple

[2018-01-05 19:57] kendagriff commented on #106
@rpearce Thanks for getting back to me so quickly, have a great weekend!

[2018-01-07 23:38] rpearce commented on #106
@kendagriff Just an FYI that I'll be looking at this in an hour or two

[2018-01-07 23:48] rpearce opened #107 "Add an AUTHORS file"
This issue is a:

- Chore

## Description
We should represent our contributors better by adding an NPM-recognized AUTHORS file.

https://docs.npmjs.com/files/package.json#people-fields-author-contributors

[2018-01-08 03:26] #106 closed

[2018-01-08 03:37] rpearce commented on #106
@kendagriff Please upgrade to version `3.0.6`; the issue should be fixed!

[2018-01-08 16:09] kendagriff commented on #106
Awesome, I think that fixed it! Thank you!

[2018-01-08 18:39] #107 closed

[2018-01-12 20:39] rpearce commented on #106
@kendagriff I had forgotten to update the example in `gh-pages` with the latest and just did. Also glad that the update worked out for you!

[2018-01-13 04:50] kingdido999 commented on #96
I have encountered the exact issue before and fixed it by force computing the hi-res image in DOM: kingdido999/zooming#7. Hope it helps.

[2018-01-13 05:04] rpearce commented on #96
@kingdido999 Thanks for sharing! I'll check it out ASAP

[2018-01-15 09:01] mikkmartin opened #116 "Video support / Extensibility"
This issue is a: Feature request

## Video support
Hello.
Love the component, especially the elegant UX of it. Would like to know if there are plans or a possibility for video integration? As a better alternative to gif. https://help.imgur.com/hc/en-us/articles/208606616-What-is-GIFV-

I hacked together a simple version that replaces the image with a video tag as a proof of concept:
https://www.yo

[2018-01-15 22:51] rpearce commented on #116
@mikkmartin Thanks for reaching out and going to the trouble to make that proof-of-concept demo.

As you likely saw from the source, this library is built entirely around the concept of the `<img />` tag and what you can do with images. GIFV, WebM, MP4 and the like all deal with videos which have very different functionality and APIs to images.

I have thought about & considered in the past extrac

[2018-01-16 01:33] #96 closed

[2018-01-18 22:42] rpearce opened #119 "Remove Firefox check and make all browsers behave the same"
This issue is a:

- Other

## Description
We should consider taking out the `InstallTrigger` Firefox check and make the same functionality happen across all the browsers. It's probably the safest thing to do.

Conversation Reference:
https://github.com/rpearce/react-medium-image-zoom/pull/117#issuecomment-358774304

Basically, these lines (https://github.com/rpearce/react-medium-image-zoom/blob/ma

[2018-01-19 00:37] HippoDippo commented on #119
I am happy to work/fix this. This will be my first code contribution though.

[2018-01-19 01:50] #119 closed

[2018-01-19 13:17] mikkmartin commented on #116
No problem, thanks for considering this.

The option of decoupling `<img>` + firing events on zoom/unzoom is exactly what i was looking for. This would solve my problem at least. Looked at a lot of alternative libraries. As you pointed out – none of which provided this functionality (especially with this good UX).

[2018-01-20 00:10] rpearce commented on #116
@mikkmartin so to be clear:

Given an object on the screen with certain dimensions:
* expand that object to within X boundary (or zero) of the viewport
* maintain whatever its dimensions are
* have an overlay behind it of some type
* have all of the parameters customizable
* fire callbacks when certain events happen

What am I not thinking of?

[2018-01-22 09:45] mikkmartin commented on #116
Looks good to me,

implementation wise – I was wondering about two things:
* What would the component api look like?
* How to pass thumbnail as optional "small" size of the zoomed object (eg. image thumbnail / smaller version of the image / video / object)?
Something that came to mind:
[code]

[2018-01-25 08:21] mikkmartin commented on #116
Yes, agree in video has a standard "full screen" button. Just as it's pretty standard to click on image thumbnail and have it open as a new page with displaying the image as well. That doesen't mean it can't be improved on – as medium did.

[2018-01-27 19:30] rpearce commented on #116
@mikkmartin that's fair. As I don't have a current work use case for this and am getting married in a couple of weeks, I encourage you to use whatever you can from this library and others to help solve your use case.

[2018-01-27 19:30] #116 closed

[2018-01-28 22:07] mikkmartin commented on #116
Ok, thanks anyway and congrats in a advance!

[2018-02-17 17:35] 13806 opened #122 "styles for zoomImage prop don't work"
## Expected behavior

I expected style key to work with the **zoomImage** prop.

e.g.

    zoomImage={{
        src: `${item.imageS}`,
        style: {width: `20rem`, height: `5rem`}
    }}

...makes the zoomed image 20rem wide, 5rem tall.
Changing styles works perfectly for the **image** prop.

## Actual behavior

Adding style key the **zoomImage** prop object has no effect.

e.g.

[code]

[2018-02-17 20:44] rpearce commented on #122
Hey I’m getting married today so can’t look at this for a little bit... I’ll get around to it in a week or so. Feel free to make a pull request if you so please!

[2018-02-25 18:34] pavelkornev opened #123 "shouldRespectMaxDimension doesn't really respect max dimension"
Hi!

First of all, thanks for this great component and all your effort!

But the behavior of ```shouldRespectMaxDimension``` seems to be confusing and strange. When we specify zoomImage, this original image can be still smaller than the actual window size, so, we don't want it to be scaled with transform and want that its original size is being respected.

The current use case of ```shouldRespectM

[2018-02-25 18:57] pavelkornev opened #124 "Wrong images is used after second zoom"
Using v2.0.7 (because our project is still on React v15) our initialization of the component looks like this:
[code]

When we click on the image for the first time, ```file2.jpg``` is in the zoomed dialog (expected!), then we close it and click it again for zooming and file1.jpg is in the zoomed dialog. Why? Expected behavior: ```file2.jpg``` has to be always rendered in the zoomed dialog.

[2018-02-25 22:17] rpearce commented on #124
Pavel,

Thanks for submitting an issue and using the component in general!

I’ve just got married and am on my honeymoon, and I can look at this sometime over the next week.

Until then,
Robert

--
Robert Pearce
https://robertwpearce.com
https://www.linkedin.com/in/robertwpearce
m-NZ: +64 20 41305113
m-US: +1 843 568 9080
m-UK: +44 7477 424374

[2018-02-25 22:40] rpearce commented on #123
@pavelkornev (I'm on my honeymoon but should have a little time here and there)

For `shouldRespectMaxDimension`, the docs state,

To clarify, are you saying you're passing a `zoomImage` along with `shouldRespectMaxDimension` (which, as you know, is not supported) and want the original to not exceed its dimensions when "zooming"?

__Can you provide an example of the issue so that I can understand

[2018-02-25 22:42] rpearce commented on #124
@pavelkornev can you please provide a full example of the issue in a fork or repository somewhere?

If this is an issue, then it surely is a serious one. @joshsloat have you noticed this being a problem?

[2018-02-25 23:09] pavelkornev commented on #123
Exactly. That's why I'm not saying that it is a bug. My question is, what is a reason for this decision?

It's not a technical issue, but a visual one. When an image scales more than its size, the image is simply blurred. Do we really need an example for this?

PS. I can send a PR if you decide to change this behavior and make ```shouldRespectMaxDimension``` work even if ```zoomImage``` is specifi

[2018-02-25 23:13] pavelkornev commented on #124
Oh. It would be much more easier if this library supports unpkg.com, then I would be able to do an example just in jsbin without any forks ;-) I'll do an example at earliest possible.

[2018-02-26 00:07] rpearce commented on #124
I don't know much about unpkg (except I think Michael Jackson and some folks created it?). What would need to happen to something like https://unpkg.com/react-medium-image-zoom@3.0.10/ to make it support unpkg? If I can do something to help, I'm glad to

[2018-02-26 00:10] rpearce commented on #123
@pavelkornev There wasn't a use-case before on other projects for having `shouldRespectMaxDimension` work with a `zoomImage`, but it seems there now is!

PR(s) and feedback on the process are always welcome. This tool should make your life easier, and if it doesn't, then there's discussion to be had (as we are now). Thanks again for investing your time in using this

[2018-02-26 03:43] joshsloat commented on #124
@rpearce - I haven't seen this, but we're also not making use of `zoomImage` in Rise. I did poke at this lightly using the storybook and the `Provide a zoom image` example appears to be working as expected. If we get some solid repo steps on this, I can take a 👀 so you can focus on slightly more important things like your honeymoon :)

[2018-03-03 22:49] pavelkornev commented on #124
We updated to React@16 and it's not reproducible with v3.x, only relevant for v2.x. You can decide whether to close it or investigate it further.

@rpearce, you just need to generate a minified version of the library with all bundled dependencies in one file and expose it into a global variable. Example: https://unpkg.com/react-router@4.2.0/umd/, https://stackoverflow.com/a/45807979/280989

[2018-03-18 20:32] rpearce commented on #122
@13806 checking back in on this, and I'll repeat my question from before:

[2018-03-18 20:34] rpearce commented on #123
@pavelkornev What would you like to do with this issue? As the usage stated here seems to technically be something that isn't currently supported, are you still interested in contributing and seeing if we can make something work for you?

[2018-03-18 20:37] rpearce commented on #124
@pavelkornev as this is the only reported case of it, I will choose to let that bug stay in the 2.x branch until I hear of it being a problem again (time...).

Meanwhile, I'll create an issue for getting this setup on `unpkg`

[2018-03-18 20:37] #124 closed

[2018-03-18 20:39] rpearce opened #125 "Fully support being on unpkg"
Per commentary [here](https://github.com/rpearce/react-medium-image-zoom/issues/124#issuecomment-368354380) by @pavelkornev, make sure project output is compatible with https://unpkg.com/.

[2018-04-02 20:33] rpearce commented on #122
Closing until I can get some more information.

[2018-04-02 20:34] rpearce commented on #123
Closing in favor of potential new issue if this suits.

[2018-04-02 20:34] #123 closed

[2018-04-07 13:35] 0x111 opened #126 "After unzoom the image src is replaced by zoomimage src"
This issue is a:

- Bug report

## Expected behavior
While using this, I noticed that after I click on an image and then unzoom it, the src of the img tag is replaceted by the `zoomImage` src instead of having the original `image` src set.

## Steps to reproduce behavior
1. Open https://rpearce.github.io/react-medium-image-zoom/
1. Open the dev console and inspect the bridge picture's img element

[2018-04-07 17:40] 0x111 commented on #126
Nevermind, overlooked the docs.

[2018-04-07 17:40] #126 closed

[2018-04-08 01:37] rpearce commented on #126
Glad you worked it out!

--
Robert Pearce
https://robertwpearce.com
https://www.linkedin.com/in/robertwpearce
m-NZ: +64 20 41305113
m-US: +1 843 568 9080
m-UK: +44 7477 424374

[2018-05-04 03:03] sgriffey opened #127 "Example for how to background override?"
This issue is a: Question

## Expected behavior
I'm hoping to override the defaultStyle of the Overlay background. Could provide a direct example of how to do this? My javascript capabilities are crude. Been trying to include the styling like such. Not having any luck. Thank you.

[code]
![image](https://user-images.githubusercontent.com/4163309/39611485-d3acdec4-4f0c-11e8-8e61-0b6841a1b149.png)

[2018-05-04 03:16] cbothner commented on #127
This is what I’m doing. defaultStyles is a prop on ImageZoom in and of itself.

[code]

[2018-05-04 03:18] sgriffey commented on #127
@cbothner bless you. that worked. thank you.

[2018-05-04 03:18] #127 closed

[2018-05-09 00:30] oyeanuj opened #128 "Image zoom with route change"
This issue is a: **Feature request**

## Description
Hi @rpearce, firstly, thank you for creating this library. I had a use-case with a slight twist - I am trying to show images (say in, a grid) and then on clicking on one, opening it in a modal but also changing route (to reflect the route of the image in 'full mode'). This is similar to how images in most photo sharing sites or social networks w

[2018-05-09 00:31] oyeanuj commented on #116
@mikkmartin I'm curious if you ended up with a solution for your use-case here?

[2018-05-09 01:56] rpearce commented on #128
@oyeanuj If I understand correctly, it sounds like you want to be able use a URI route to determine whether the image starts off in "full mode" or not. You can manually control this via the `isZoomed` property that is specified in the ["Usage" section of the README](https://github.com/rpearce/react-medium-image-zoom#usage).

The only difference is that you'll now need to maintain the state of `isZ

[2018-05-09 02:04] cbothner commented on #128
This is what I get for watching this repository... as soon as I saw the email I started thinking about how I would do it, and before I knew it I was writing code 😂

This is how you could use the library in controlled mode to do what you want: https://codesandbox.io/s/z2oj75ryv4

But it doesn’t work perfectly! @rpearce this has revealed the fact that `<ImageZoom>` crashes if we try to mount it in z

[2018-05-09 03:37] rpearce commented on #128
@cbothner Oh noes! It should be able to mount in zoomed mode... what I get for no tests. I reckon I should add a `storybook` example with this and fix the bug in the process -- it seems to be coming from @joshsloat's tab navigation additions, so it could be an easy fix in there.

[2018-05-09 03:40] rpearce commented on #128
@oyeanuj @cbothner I've marked this as a `bug` and will try to fix it ASAP. I'll check back in on this issue thread.

[2018-05-09 07:57] rpearce commented on #128
@oyeanuj @cbothner this should be resolved in `v3.0.11`.

[2018-05-09 07:58] #128 closed

[2018-05-09 18:32] oyeanuj commented on #128
Firstly, wow - I filed the ticket, and didn't check my email for a day and come back to all the comments! Thank you so much @cbothner @rpearce 😄

I am not sure if it would fully solve my use-case and I think I'm at fault for not explaining it in more detail. I think what I didn't mention explicitly and realize now that I might need - is to understand if the library can support any non-image compon

[2018-05-11 20:07] oyeanuj commented on #128
@rpearce thank you for the answer (and add to the list!). I'll explore other solutions and report back incase I get something to work!

[2018-05-31 15:08] chrisssycollins opened #131 "A valid React element (or null) must be returned."
## Description
For some reason I can't get it to work right...

My component looks like:
[code]

Chrome console:
[code]

It's most likely something I'm doing wrong I just can't pin point it.

Thanks in advance for any input. 👍

[2018-05-31 15:13] chrisssycollins commented on #131
Apologies, was the same issue as #104 and [this comment](https://github.com/rpearce/react-medium-image-zoom/issues/104#issuecomment-353290530) fixed it.

[2018-05-31 15:13] #131 closed

[2018-07-18 22:12] rpearce opened #132 "Update dev dependencies to address vulnerabilities"
<img width="760" alt="image" src="https://user-images.githubusercontent.com/592876/42910571-299f040e-8b3c-11e8-9c66-47cb417b9998.png">

[2018-08-21 11:57] drmax24 opened #135 "image inside iframe"
I have a problem when zooming image inside iframe.
Zoomed image is shown outside of visible screen area.

[2018-08-21 19:45] rpearce commented on #135
@drmax24 Thank you for you report and contributing your time to this project. Could you please provide an example project that illustrates how this is broken? This will help me address the problem in a timely manner. Thanks

[2018-08-24 20:07] slorenzo opened #136 "Handle scroll event using a container element"
This issue is a:

- Bug report

## Expected behavior

To zoom out, use a container element when handling scroll event.

## Actual behavior

https://github.com/rpearce/react-medium-image-zoom/blob/master/src/EventsWrapper.js#L97

## Why?

This change allows use it with columns. So, If the dev wants to have a column with `overflow: auto` and a body with `overflow: hidden`, the zoom out  behavior wil

[2018-09-04 23:36] rpearce commented on #136
update: actually getting to this shortly. Thank you for your patience

[2018-09-09 06:29] rpearce commented on #136
Sorry for delay. Looking now :eyes:

[2018-09-09 06:31] rpearce commented on #136
Ah yes, this is a problem on some other projects I work on, as well. I had written it off as a "not sure what to do about this issue," but this may show some promise.

[2018-09-10 01:50] slorenzo commented on #136
Yes, it's not a simple bug, anything you need, just let me know. I'm available to contribute.

[2018-09-10 02:04] rpearce commented on #136
@slorenzo PRs are welcome for specifying a container everything should be attached to, but I also don't know how reasonably possible it is.

This is a far-reaching issue because the overlay, zoom image, listeners, etc., are all document/body based, and the reason is that we want the portal to be outside of any divs that may have `overflow` properties so that we can center it on the screen. If the

[2018-09-11 05:20] serfgy opened #137 "Handle broken image uri"
Is there a way to handle broken image uri? In the event the src value leads to an unavailable image, the broken image pic appears and can be unsightly.

Also, clicking on the broken image pic still zooms in on it.

[2018-09-12 01:31] serfgy commented on #137
If the image link is broken or picture is not found, how `<Img>` (npm react-image) handles it is that `<img>` will not be rendered, I'm not quite sure how to do this with `<ImageZoom>` but I can share my current workaround:

[code]
`onError` works because it's an existing prop of `<img>`, this however does not prevent <ImageZoom> from rendering but instead replaces the broken image (post compile I

[2018-09-12 03:38] serfgy commented on #137
Yea, the priority is to disable the zoom by default for the broken link case, even if we cant stop the rendering for now. Cheers!

[2018-09-12 20:00] rpearce commented on #137
K I'll schedule some time for this and get back to it soon. Thanks for your submission, and I'll add you to the All Contributors list in the README

[2018-09-16 05:39] rpearce commented on #137
Update: almost done and should have a PR up either tonight or tomorrow

[2018-09-17 01:52] serfgy commented on #137
@rpearce , just tested it, it detects failed images and disables the zoom nicely!

I tried removing the timeout and put the src change on the onError instead (on the second image in the storybook) and it also works with no issues:
[code]
Cheers!

[2018-09-17 03:09] rpearce commented on #137
Cool. I'll merge it up and notify you when it's published

[2018-09-17 03:10] #137 closed

[2018-10-24 13:30] babyPrince opened #139 "Change zoomed image margin"
Hey there, Thank you for the great component!

I'm having issue adjusting the maximum space around the zoomed image. Currently is something like 45px top bottom, what would be the way to adjust those margins? I've tried `zoomMargin` but it's making the image really small in the centre of the screen when clicked, using:

[code]

Thanks

[2018-10-24 18:32] rpearce commented on #139
@babyPrince, you've pointed out a small issue that's not quite intuitive: `String` vs `Number`. Here's a picture of the docs:
<img width="923" alt="image" src="https://user-images.githubusercontent.com/592876/47452921-dc879f80-d827-11e8-8876-abd903620991.png">
As you can see, it's a `Number` type that's expected, but you're sending a string. It should be able t handle both, though. I'll write up a

[2018-10-24 18:33] rpearce commented on #139
On second thought, I'll use this issue for issue tracking 🤦‍♂️

[2018-10-24 18:50] #139 closed

[2018-10-24 18:56] rpearce commented on #139
@babyPrince the fix has been published in `v3.0.15`, and you have been added to the [all contributors list](https://github.com/rpearce/react-medium-image-zoom#contributors). Thanks for the bug report!

[2018-10-24 19:05] babyPrince commented on #139
Hey @rpearce Thank you for the reply. Was reading about the number in the docs, but the whole time didn't hit me I was passing a string!

[2018-12-07 07:23] rpearce opened #143 "RMIZ's future: React 16 & beyond RFC"
## Intro
With the latest React version and React's future as a whole, some things have come to light that need changing, and this has me thinking that it's time for an overhaul on this project.

## Current State
While the project works fine as it is right now, here are some observations:
  * mixing the controlled vs uncontrolled component modes makes for some _very_ messy code, and it results in s

[2018-12-10 19:41] vtcaregorodtcev opened #144 ""Transform: Rotate" styling"
This issue is a:  Feature request

## Description
It would be nice If I set 'transform: rotate' image will starting to move from the rotated state, and returning to the same rotated state. Now transform property is replacing by default config. And the image is always starting to move from the not rotated state.

![ezgif com-optimize](https://user-images.githubusercontent.com/24553355/49756999-6900

[2018-12-10 19:50] rpearce commented on #144
@vtcaregorodtcev thank you for bringing this issue to light! It is a symptom of a deeper issue that I've not quite sorted out how I want to solve yet as part of https://github.com/rpearce/react-medium-image-zoom/issues/143, but I may be able to fix this for you in the meantime.

When do you need this by? I can't guarantee anything, but it'd be good to know!

[2018-12-10 20:33] vtcaregorodtcev commented on #144
@rpearce thank you for fast respond. I guess it can wait for a while, there are no restricted deadlines 👍

[2018-12-10 20:48] rpearce commented on #144
@vtcaregorodtcev groovy. I'll put it on my to-do list for this week / next week. I've got a blog post I need to get out the door first and will then look at this.

[2018-12-10 21:19] cbothner commented on #143
I’m in favor of exporting multiple components from the same package, rather than splitting into two packages. It’s likely a user will start with the stateful component and then grow into needing the lower level controlled component. My thinking is that it’s lower friction and more discoverable to change the import at the top of the file rather than package.json.

[2018-12-10 21:46] rpearce commented on #143
@cbothner thank you for the feedback.

[2018-12-15 16:44] Daveiano opened #145 "Feature / Support Request - Slideshow"
This issue is a kind of both:

- Feature request
- Question / support request

## Description

Is there any possibility or example to implement a Slideshow with this package? I have tried this with a controlled component, but when I set the `isZoomed` property to `false` on one image and to `true` on another image, the open and close animations come into play, doesn't look very nice.

So my Questi

[2018-12-17 16:35] Daveiano commented on #145
Thanks for the fast answer!

I am struggling to get this to work in e.g. jsfiddle, how can I add react-medium-image-zoom inside the fiddle?

But nonetheless, here is my Code. I have added some buttons for closing the slideshow and a unfinished (does not watch out for last image) next button to test the behavior:

[code]

Mounting Point:

[code]

CSS:

[code]

[2018-12-18 19:33] Daveiano commented on #145
@rpearce It would be very nice if I could solve this issue by the end of the year. But nobody's life depends on it ;)

[2018-12-18 19:34] rpearce commented on #145
@Daveiano got it. It's on my to-do list, along with completely refactoring this entire project :)

[2018-12-18 19:35] Daveiano commented on #145
@rpearce Oh well :D

I will also try to look at this again when I got some time. Thank you very much for taking the time!

[2018-12-18 19:39] rpearce commented on #144
@vtcaregorodtcev Update: I'm going to be addressing this in next couple of days

[2018-12-18 20:06] vtcaregorodtcev commented on #144
@rpearce great, appreciate it!

[2018-12-24 21:19] rpearce commented on #144
@vtcaregorodtcev Update: after Xmas! Sorry for the wait!

[2018-12-24 21:20] rpearce commented on #145
@Daveiano Update: after Xmas! Sorry for the wait!

[2018-12-25 11:02] Daveiano commented on #145
Don't stress yourself, merry Xmas!

[2018-12-28 18:44] rpearce commented on #144
@vtcaregorodtcev can you send me an example of exactly how you're using this? The `transform` property is being overwritten with `translate3d(0, 0, 0) scale(1)`, and I reckon I can find a way to append to that, but I need to see how you're using it.

[2018-12-28 18:59] rpearce commented on #145
@Daveiano could you describe what sort of slideshow you're trying to do, exactly? Is it like a normal one that sits on the page and cycles through them? What is supposed to be happening? Is it supposed to be like a Bootstrap slider but with this image zoom effect? The example provided, after looking over the code and trying it out, isn't quite clear to me.

[2018-12-28 20:40] vtcaregorodtcev commented on #144
@rpearce sure, for example

https://gist.github.com/vtcaregorodtcev/2428f93e4cf5df501bb1ee0130b7b09d

and if i try to put
`style: {
      transform: 'rotate(${angle}deg)'
    }`
to `zoomImage` it will be rewrite by default styles.

[2018-12-28 21:16] Daveiano commented on #145
Here is webpage I am working on (work in progress, it's not in production), there is the exact code I posted in action.

http://www.fuer-angie.net/der-haselhof

If you click on the first image (with the horses) and the on "next", the next image (the dog) shows up and disappears. What I am doing if you press on next, I remove the `isZoomed `state from the horse image and add it to the dog image.

W

[2018-12-28 21:41] rpearce commented on #144
@vtcaregorodtcev okay, I'll see what I can do... I'm also about to do a whole rewrite of this project, as well. If I can get this fixed in a way that makes sense, I'll be publishing it as a patch-level update. Here we go...

[2018-12-28 22:06] rpearce commented on #144
@vtcaregorodtcev It's not looking good without making some sweeping changes. CSS doesn't allow for `transition` to be applied to only one part of a `transform`. The fix would be do apply the `transition` behavior as a CSS class & scope the behaviors to different selectors, but this project currently has _zero_ CSS files & selectors and only uses inline styles. Unless you think you can come up with

[2018-12-28 22:54] rpearce commented on #143
Update: I've now broken ground on this. Here we go... Working from the `rewrite` branch

[2018-12-29 20:02] Daveiano commented on #145
I managed to get this to work:

My problem was the `onUnzoom` function which was triggered when the `isZoomed` state changed on the images. i have removed the part `onUnzoom={() => this.handleUnzoom()}` from my `<ImageZoom /> `Components.

You can see a working version under the link I shared in the previous post.

[2018-12-30 04:03] rpearce commented on #145
Ah! That's great news. In the next version I'm working on, I'll consider including an option to disable the animation (may make the slideshow work better).

[2018-12-30 13:13] Daveiano commented on #145
This would be a great addition! But just when changing the image, not on opening.

And thank you for your support!

[2019-01-10 12:43] 0x6e6562 commented on #125
I have a bug I'd like to first reproduce on codepen or similar - it seems quite tricky to load this module without unpkg support.

@pavelkornev Did you have a template for codepen/jsfiddle/jsbin to use to submit issue reproductions?

[2019-01-10 14:46] 0x6e6562 opened #146 "Incorrect scale on iOS with constrained unzoomed width"
This issue is a:

- Bug report

## Expected behavior

That the zoomed image would scale correctly on all platforms.

## Actual behavior

On iOS, the zoomed image is scaled based on the rendered size of the unzoomed image and appears blurry.

The zooming does work as expected on desktop and Android. This issue appears to be related to iOS only.

## Steps to reproduce behavior

1. Apply a constraine

[2019-01-10 23:09] rpearce commented on #125
@0x6e6562 Not at present. Unpkg does not recommend submitting your own repo, which makes this awkward. Historically, I've seen people make dummy repos or copy-paste code, which isn't ideal, but it's gotten the job done thus far.

[2019-01-10 23:12] rpearce commented on #146
@0x6e6562 You are amazing for being so detailed here. If this is a bug that you need fixed and isn't too far-reaching, you and I can see about getting a patch out there.

The rewrite, at present, is
  * a ways off
  * will change the API drastically
  * will work completely different internally
  * will ultimately be really good

... so I wouldn't hold my breath on that one.

How would you like to

[2019-01-10 23:19] cbothner commented on #125
How about CodeSandbox for bug reports? It uses webpack under the hood so the library doesn't need to do anything special.

https://codesandbox.io/s/wwp7n7rr47

[2019-01-10 23:38] rpearce commented on #125
@cbothner for the win. I'm gonna use this for future documentation.

Closing because I don't know much about unpkg, and code sandbox solves the goal.

cc @0x6e6562

[2019-01-10 23:38] #125 closed

[2019-01-11 18:36] 0x6e6562 commented on #146
Thanks for the heads up about the rewrite - in this case, just being able to patch this one particular issue on the current master branch would be the best way forward.

I did try to fix the issue myself but it felt like choosing the appropriate way to patch the transform was going to be tricky to get right, so I was kind of wondering whether you would have a better idea of the best way to proceed

[2019-01-12 02:18] 0x6e6562 commented on #125
@cbothner Perfect! Many thanks for the heads up :-)

[2019-01-13 02:48] rpearce commented on #146
@0x6e6562 looking at this now to see what we can do... I'll get back to you shortly

[2019-01-13 06:06] rpearce commented on #146
@0x6e6562 Good news: scaling the original image in dev tools does actually work, so there is hope. Bad news, I haven't figured this out yet. I'll get there!

[2019-01-16 22:41] rpearce commented on #146
@0x6e6562 I've been slammed the past few days and haven't been able to come back to this yet. I will take a look over the next few days

[2019-01-19 23:03] rpearce commented on #146
@0x6e6562 I've narrowed the issue down to being because of using `width` & `height` in addition to `scale()` on the added image (the one that is thrown onto the overlay, scaled up and eventually replaced by a bigger one), and I have yet to figure out a solution that doesn't rip out how the zooming works in the first place. It currently relies on the `transform` and `transition` on the `transform`

[2019-01-20 01:41] 0x6e6562 commented on #146
@rpearce Many thanks for keeping me in the loop - I fully appreciate the intricacy, having tried to fix the issue myself...

[2019-02-20 04:25] rpearce commented on #143
Update: This has been paused as I've been having hand+wrist+forearm pain and need to deal with that before doing this outside normal working hours.

Good news is that we'll be using latest & greatest React & hooks!

[2019-02-21 05:16] #9 closed

[2019-02-21 05:17] rpearce commented on #135
Closing until example is provided

[2019-02-21 05:17] #135 closed

[2019-02-21 05:18] rpearce commented on #55
Will be included in rewrite. Closing.

[2019-02-21 05:18] #55 closed

[2019-03-09 22:09] dsone opened #147 "Default classes for DIV elements"
This issue is a: "Feature" request

## Description
Currently, there are three DIV elements added to the body on zoom and you have no clue what DIV is the overlay/zoomContainer.
That leads to issues similar to https://github.com/rpearce/react-medium-image-zoom/issues/127.
I was using the _zoomContainer_ for custom styling, thinking that was the right one. Apparently, it wasn't.

It would be nice if

[2019-03-10 19:24] rpearce commented on #147
Hi @dsone, thank you for voicing your concern! Let's see if I can address all the things.

* * *

<img width="895" alt="image" src="https://user-images.githubusercontent.com/592876/54090012-3c947200-43d4-11e9-9c6f-7328c005cf81.png">

At the moment, those first two are there for nothing more than React rendering purposes and hanging on to some events (probably could be done better). The one that is

[2019-03-12 21:30] jorilallo opened #148 "preventDefault on Escape"
- Feature request

## Description

It would be nice if Escape keypress would be `preventDefault`'d. We have some logic in the container that holds RMIZ for Escape and when closing the image, both trigger Not sure if there's downsides.

[2019-03-12 21:33] rpearce commented on #148
@jorilallo Thanks for reporting this! Great point. I'll factor this into the rewrite, unless you would like to make a PR for the current minor version.

[2019-03-12 22:03] jorilallo commented on #148
@rpearce no hurry, I'll get around this with className in the meantime. Probably easier if you include in the refactor. Thanks for the great lib, really enjoying it :)

FYI; Not my current project but [Outline](https://github.com/outline/outline) is using this in production

[2019-03-12 22:26] rpearce commented on #148
@jorilallo Got it. Also, rock on! 🎉

[2019-04-12 12:26] james-ff opened #149 "Feature Request: Loading States?"
This issue is a: Feature request

## Description
It would be nice if there were loading states, so that it would be possbile to show a template image or loading component while an image is loading. Or maybe I'm missing some easy way that already exists? Thanks!

[2019-04-12 21:17] rpearce commented on #149
@james-ff This sort of event / state callback sounds like a good idea to include in the rewrite (see https://github.com/rpearce/react-medium-image-zoom/issues/143).

I've not been able to dedicate time to the project recently (injury + work), but this is the next big thing on my list to do (my OSS priority board https://github.com/users/rpearce/projects/1/).

Thanks for the suggestion.

[2019-05-25 11:16] rpearce commented on #143
@spencerfdavis is going to be giving me a hand with this. Welcome to the project, @spencerfdavis, and I look forward to getting some things rolling together over the coming months!

[2019-08-06 05:43] deadcoder0904 commented on #122
Hey, @rpearce I am facing the same issue.

Fortunately, I have a repro → https://github.com/deadcoder0904/unsplash-styled-components

The demo is at → https://unsplash-styled-components.netlify.com/

The related code is at → [src/components/Pic.js](https://github.com/deadcoder0904/unsplash-styled-components/blob/master/src/components/Pic.js)

As you can see in `Pic.js`, I have specified `styles` i

[2019-08-06 12:56] rpearce commented on #122
@deadcoder0904 Do you think there crossover here this this PR that @xerona has opened?
https://github.com/rpearce/react-medium-image-zoom/pull/156/files

[2019-08-06 13:40] deadcoder0904 commented on #122
I thought so too. I installed that PR with ⸺

[code]

But it didn't work out either. Is it because something is wrong with my code?

I pushed the new commit & updated the repo with the new PR → https://github.com/deadcoder0904/unsplash-styled-components

[2019-08-06 13:43] deadcoder0904 commented on #122
I also tried the code mentioned [here](https://github.com/rpearce/react-medium-image-zoom/pull/156#issuecomment-516115662) ⸺

[code]

But it didn't work either.

[2019-08-06 14:19] rpearce commented on #122
Okay, this and that PR are going on my to-do list. I don't have time to look at this during the work day, unfortunately. I'll check back in the next couple of days

[2019-08-06 14:19] rpearce commented on #122
@deadcoder0904 THANK YOU for the repro

[2019-08-07 11:33] deadcoder0904 commented on #122
This is the [commit](https://github.com/deadcoder0904/unsplash-styled-components/commit/c806af4f348449476ad6912f46e6fe4bcbbd71b4) where I've used the PR version.

I got an error now `Module not found: Can't resolve 'koa' in 'node_modules/react-medium-image-zoom'` so I'll be using the npm version I think. But that commit should provide the repro needed :)

[2019-08-07 12:31] xerona commented on #122
@deadcoder0904
If I understand your scenario correctly, here's why the style prop looks like it isn't working. I say looks like because I believe it will work right for any style except `top, left, width, height, translate3d`. You make the ImageZoom component and provide `width` and `height` as items of the object you're using in the argument `style` of both `image` and `imageZoom`. When `<Zoom>`

[2019-08-07 13:07] deadcoder0904 commented on #122
So @xerona do I have to change the `node_modules` file with this or your PR will do it? A bit confused as to what I should change.

[2019-08-07 13:37] xerona commented on #122
The code I included in the previous comment was just for understanding. If you want to test the code on my branch try this.
`yarn add https://github.com/xerona/react-medium-image-zoom.git#patch-1`

If that doesn't work and you really need it now, you can implement a hack as I did.
[code]
Then just create the new thing in the same way.
[code]

[2019-08-07 13:56] deadcoder0904 commented on #122
Naah I can't use a hack as it's needed for a tutorial. I can't explain readers this 😂but thanks for the info :)

[2019-08-07 14:01] rpearce commented on #122
At some point, this library is going to get a lot easier to work with. That doesn't help you right now, though. Again, this is on my to-do list for this week.

[2019-09-08 15:17] pavelkornev commented on #146
facing the same problem on iOS... is it still planned to be fixed in near future?

[2019-09-09 16:09] rpearce commented on #146
@pavelkornev This is taking longer than expected, so I can't give much of an estimate at the moment. What @spencerfdavis and I are looking at doing is completely changing how the zooming works so that this issue (and others) should allegedly just not happen. This isn't sponsored by our day job, so finding the time is interesting.

Happy to look at PRs if there's a fix you figure out in the mean ti

[2019-09-29 13:31] rpearce commented on #143
Update: I've been putting a bit of work into the rewrite and am having a meeting with @spencerfdavis on Monday to figure out what path we want to go down with regard to some things.

We're going to
* plan everything that needs doing out (and _how_ ... this is interesting)
* create a project board
* break things into issues and place them on that board
* use https://github.com/rpearce/react-medium-

[2019-09-29 13:37] rpearce commented on #122
I am sorry that this has fallen by the wayside, as I've been focused on https://github.com/rpearce/react-medium-image-zoom/issues/143 and https://github.com/rpearce/react-medium-image-zoom/pull/159.

Does https://github.com/rpearce/react-medium-image-zoom/pull/156 resolve the issue here?

[2019-10-03 03:13] rpearce opened #162 "Handle window resizing"
When I click on an image and zoom it
And I decide to resize my browser or switch from portrait to landscape (or vice versa)
Then my zoomed image should resize itself according to the dimensions of the screen.

* * *

This should require adding event listeners to the `window` and re-running the `style` calculations.

[2019-10-03 03:14] rpearce opened #163 "Handle closing the zoom on scroll"
When I click on an image and zoom it
Then I scroll the page
Then I should see the zoomed image smoothly return from whence it came

* * *

When I tap on an image on a mobile device and zoom it
Then I use my finger to scroll the page in any direction (say a 10px drag)
Then I should see the zoomed image smoothly return from whence it came

* * *

It would be sweet if we could make this with a single

[2019-10-03 03:18] rpearce opened #164 "Ensure accessibility"

[2019-10-03 03:18] rpearce opened #165 "We need to determine how we want to handle CSS"
We need to figure out how we want to handle styles.

Currently, we have CSS Modules & PostCSS working in Rollup.js to give us styles that get injected at the top of the `<head>`.

### Problem
If sites have a strict content security policy (CSP), then dynamically adding a `<style>` tag to the page with unique ID-based content will cause this to not work at all.

### Solutions
Both of these solution

[2019-10-03 12:01] rpearce opened #166 "Support choosing the best image to zoom (formerly "zoomImg") from a source set or something"

[2019-10-03 12:02] rpearce opened #167 "Write basic tests to get us started"
Also consult #164

[2019-10-06 02:53] rpearce commented on #149
With the way we're doing the rewrite, I don't think this will be something the library will handle, and whatever you would normally do in the browser in this situation should suffice.

I'll keep this issue open until we are further along, though.

[2019-10-06 02:55] rpearce opened #168 "Handle closing the zoom on ESC"
Given I have zoomed an image
When I press the escape key
The image should be unzoomed

Tangentially related issue: https://github.com/rpearce/react-medium-image-zoom/issues/148

[2019-10-06 02:57] rpearce commented on #148
We're not done with the rewrite, but we're now tracking this issue as a part of the rewrite's issue https://github.com/rpearce/react-medium-image-zoom/issues/168.

[2019-10-06 02:59] rpearce commented on #147
Hi, we're not done with the rewrite yet, but we are keeping this in mind for the following rewrite issue: https://github.com/rpearce/react-medium-image-zoom/issues/165.

[2019-10-06 03:02] rpearce commented on #144
Update: while the rewrite is not done yet, we are keeping this issue in mind, and this should do the trick for keeping the original `transform` (https://github.com/rpearce/react-medium-image-zoom/blob/master/source/Activated.js#L88-L94).

[2019-10-06 03:03] rpearce commented on #143
The _prototype_ for the rewrite is out on the master branch, and it needs _a lot_ of work. We'll be tracking its progress in https://github.com/rpearce/react-medium-image-zoom/projects/1, so I'm going to close this issue.

[2019-10-06 03:03] #143 closed

[2019-10-06 03:05] rpearce commented on #136
Hi! We're not done with the rewrite, but we're keeping this issue in mind on this scroll feature issue here: https://github.com/rpearce/react-medium-image-zoom/issues/163

[2019-10-06 03:12] Stereoraj commented on #168
Hi, I would like to work on this issue.

[2019-10-06 05:35] dnlnvl commented on #168
Hi, I've made a pull-request to fix this issue!
https://github.com/rpearce/react-medium-image-zoom/pull/169

[2019-10-06 18:24] rpearce commented on #168
@Stereoraj, it looks like @dnlnvl has already gotten a pretty good PR up for this one, but by all means check out any other issues on here! https://github.com/rpearce/react-medium-image-zoom/projects/1

[2019-10-07 00:13] rpearce commented on #164
`axe-core` is initially used here: https://github.com/rpearce/react-medium-image-zoom/pull/171

[2019-10-07 13:14] rpearce commented on #168
Good job, @dnlnvl!

[2019-10-07 13:14] #168 closed

[2019-10-07 16:31] #167 closed

[2019-10-07 22:03] #162 closed

[2019-10-08 03:00] rpearce opened #174 "Accept zoomMargin prop and use it in the zoomed style calculation"
_Note: wait until https://github.com/rpearce/react-medium-image-zoom/pull/173 is merged or branch off of it._

* * *

Given a user supplies a `zoomMargin` prop that is a `number`
When the image is zoomed
Then the zoomed image should be offset from the `window` by that amount at its greatest dimension

* * *

When a user does not supply a `zoomMargin` prop
Then the `zoomMargin` default value should

[2019-10-08 03:03] rpearce commented on #174
I'd like to see if Ton Jo is up for his one. Ton, if you comment here, I'll assign you to it.

[2019-10-10 03:40] tonjo007 commented on #174
sure Robert, I will take it

[2019-10-10 13:21] rpearce commented on #174
That's great! Thanks @tonjo007. Ask any questions you have in the gitter or on this issue

[2019-10-29 00:24] navilan opened #177 "Allow customizing the z-index value of the container"
Currently the container has a z-index value of 999.  It'd be great if the API accepted styles for the container or provided a way to override this value.

[2019-10-30 14:28] rpearce commented on #177
@navilan We will keep that in mind for the next version! Thank you

[2019-11-02 05:42] wyl530197181 opened #178 "it not set an arr source in the component;and touch to next image"
This issue is a:

- Bug report
- Feature request
- Question / support request
- Other

[2019-11-04 14:40] rpearce commented on #178
Hi! Thank you for opening an issue. Unfortunately, I cannot understand to what the request or issue here is referencing, so until this is updated to be clearer, I am going to close this.

I will happily reopen the issue if it is made clearer.

[2019-11-04 14:40] #178 closed

[2019-11-16 18:23] rpearce commented on #163
@spencerfdavis how's this bit going? I did some necessary leg-work and have that merged into master. Happy to pick this up if you need

[2019-11-16 18:24] rpearce commented on #174
@tonjo007 how's this bit going? I did some necessary leg-work and have that merged into master. I am happy to pick this up if you need me to. If you need guidance, feel free to reach out here or in the gitter channel!

[2019-11-16 21:22] rpearce commented on #174
I had some time today, so I went ahead and implemented this in https://github.com/rpearce/react-medium-image-zoom/pull/181

[2019-11-16 21:23] rpearce opened #182 "Get storybook docspage (addon-docs) working real nice :ok_hand:"
https://github.com/storybookjs/storybook/tree/master/addons/docs

[2019-11-16 21:29] rpearce commented on #165
cc @spencerfdavis for more thoughts on this

[2019-11-16 21:37] #174 closed

[2019-11-16 21:43] rpearce opened #183 "Implement a "Controlled" component that allows caller to determine if component is zoomed or not"
This should be a different component that accepts the following:
* `isZoomed :: Boolean` -- defaults to `false` and determines whether or not the thing is opened or closed
* `onZoom :: Function` -- callback function to call back to the parent with to let them know they should probably set `isZoomed` to `true` on their end (like when the button is clicked or something)
* `onUnzoom :: Function` -- c

[2019-11-16 21:45] rpearce commented on #182
@spencerfdavis I'd like to put this one on you if you have the time. This one is to set up the relatively new storybook docspage functionality so that we can have documentation _in storybook_ alongside an example. It looks wicked, and I think it's right up your alley, but you can also turn it town, of course :)

[2019-11-21 03:55] rpearce commented on #165
cc @matthewsecrist if you get any spare time and have any thoughts on the matter!

[2019-11-21 03:57] rpearce commented on #165
My gut feeling right now is to see how it feels having rollup output a CSS file that is imported by a consumer, and if that doesn't feel great, just have a plain old CSS file and classes

[2019-11-21 04:55] rpearce commented on #165
This bug is quite annoying at the moment: https://github.com/egoist/rollup-plugin-postcss/issues/70. It's also feeling like a number of these rollup plugins aren't maintained, either.

[2019-11-21 04:58] rpearce commented on #165
I'm going to look at potentially replacing rollup with https://parceljs.org. TBD.

Otherwise, I am going to just use straight CSS, run it through PostCSS and dump it as part of the `build` in the `dist` folder as `styles.css`.

[2019-11-21 13:55] rpearce commented on #165
See https://github.com/rpearce/react-medium-image-zoom/pull/184 for updates.

tl;dr => sticking with rollup & switching to generating a `styles.css` file from our CSS modules.

[2019-11-21 16:21] #165 closed

[2019-11-24 20:04] #136 closed

[2019-11-24 20:04] #163 closed

[2019-11-24 20:05] rpearce opened #187 "Consider using requestAnimationFrame and/or other things for better performance on some of the animations / scrolling"

[2019-12-05 02:38] seaneking opened #188 "Consider publishing v4 alpha"
This issue is a:
- Other

## Description

I know the v4.0 of `react-medium-image-zoom` is flagged as in development and highly unstable, but would there be a possibility of publishing an alpha/canary release? I'd love to help test it, since the v4 of this library is the only thing I found that works for my use-case (wrapping `gatsby-image` in a Medium-like tap-to-zoom cleanly).

[2019-12-05 08:41] rpearce commented on #188
@seaneking Tell me if this usage is what works for you right now (this is what's currently done):

[code]
and then there are options that you can see used here in the storybook examples (they're also in the README):
https://github.com/rpearce/react-medium-image-zoom/blob/8befc746e234174a5464be29594eabd41e474d33/stories.js#L38-L98

You can also test it out here: https://rpearce.github.io/react-medi

[2019-12-05 17:10] rpearce commented on #188
@seaneking I've published [`react-medium-image-zoom@alpha`](https://www.npmjs.com/package/react-medium-image-zoom/v/4.0.0-alpha.0) that you can start trying to use.

Please join on gitter (https://gitter.im/react-medium-image-zoom/community) if you have any general feedback bits you'd like to chat about, or open another issue here :+1:

[2019-12-05 17:10] #188 closed

[2019-12-05 17:10] rpearce commented on #188
Oh, and I've also added you to the all contributors list!
<img width="464" alt="image" src="https://user-images.githubusercontent.com/592876/70257430-2d372f00-1782-11ea-839b-8fe13ad6c7b2.png">

[2019-12-05 21:47] seaneking commented on #188
Amazing! Thanks @rpearce

Yep that usage works well. The basic issue with other libraries is that `gatsby-image` doesn’t give you clean access to the underlying `<img />`, since it wraps that up with progressive loading logic etc etc. So `react-medium-image-zoom`s ability to zoom arbitrary elements is ace 👌

I’ll spin the alpha up soon!

[2019-12-16 13:58] rpearce opened #189 "Test all the things!!!!!!!!!"

[2019-12-16 14:21] #183 closed

[2019-12-16 14:25] rpearce opened #191 "Add image gallery Storybook story"

[2019-12-18 03:13] #191 closed

[2019-12-18 03:22] rpearce commented on #144
This should be resolved in the latest v4 alpha version. While that is looking good but not yet stable, I'm going to consider this resolved. Please let me know if you feel differently or find otherwise.

[2019-12-18 03:22] #144 closed

[2019-12-18 03:29] rpearce commented on #149
The way I've done the upcoming `v4`, you can do whatever you want while your image is loading (you do whatever you want), then once you detect that it loads, you merely wrap it in the `<Zoom>` component. So... (pseudo-code):
[code]
While `v4` is still in alpha, that should resolve this issue, and I'm going to close this to clean up the issue tracker. If you feel differently about my closing it, pl

[2019-12-18 03:29] #149 closed

[2019-12-18 03:31] rpearce commented on #148
Closed in #168, and we're using [`event.stopPropagation`](https://github.com/rpearce/react-medium-image-zoom/blob/9942d87a9f026a80056f5d08178a5327cbd6e75f/source/ControlledActivated.js#L57) to prevent event bubbling.

While `v4` is published in `alpha` stage and isn't fully released yet, I'm going to close this to clear up the issue tracker. Please let me know if you feel differently about it.

[2019-12-18 03:31] #148 closed

[2019-12-18 03:38] rpearce commented on #147
As you can see when inspecting a zoomed image here, https://rpearce.github.io/react-medium-image-zoom/?path=/story/react-medium-image-zoom--with-img, we are using some class names for static styling (see image):

<img width="785" alt="image" src="https://user-images.githubusercontent.com/592876/71053682-27105d80-2147-11ea-9acf-7b0492c15f15.png">

[The API for v4](https://github.com/rpearce/react-m

[2019-12-18 03:38] #147 closed

[2019-12-18 03:40] rpearce commented on #146
FYI now that `v4` is in `alpha`, I've put this at the top of [the project board](https://github.com/rpearce/react-medium-image-zoom/projects/1) to make it the next thing I look in to to see if I've been able to resolve it or not.

[2019-12-18 08:28] 0x6e6562 commented on #146
I'll follow the progress on this issue and will test it out on my own site when you think it's ready to try out.

[2019-12-18 14:23] rpearce commented on #146
Sounds good. Still a few quirks, but I think this isn't going to be an issue

[2019-12-18 15:15] rpearce commented on #146
...and I was wrong. It's still an issue. This is 💯 priority.

[2019-12-27 03:22] rpearce commented on #146
Update:
1. it looks like this is only an issue when using `background-image`s on something like a `div`. Still trying to get to the bottom of it, but it doesn't seem like it's a problem on iOS for the other use cases
1. separately, it looks like there's a little bit of a positioning bug on mobile phone sizes

[2019-12-28 00:44] rpearce commented on #146
Update:
* I think I've fixed `<img />` tags being blurry on Safari with https://github.com/rpearce/react-medium-image-zoom/pull/193 and is published at `react-medium-image-zoom@4.0.0-alpha.4`.
* The blurriness bug is still present on `<div>`s with `background-image`, so this bug is not resolved
* There's still that mobile positioning bug

[2019-12-28 18:58] rpearce opened #195 "Fix blurriness when zooming in on Safari"
Related to https://github.com/rpearce/react-medium-image-zoom/issues/146.

It looks like the only way to fix this is to increase the `width` & `height` of the zoom image then `scale` that down, never increasing the `scale()` above a value of `1`.

[2019-12-28 18:59] rpearce commented on #146
This _should_ be 99% fixed in #194. The only outstanding thing I see with regard to blurriness will be handle in https://github.com/rpearce/react-medium-image-zoom/issues/195.

Please let me know if you have continued issues!

[2019-12-28 20:02] rpearce opened #196 "Fix jumpyness that happens on unzoom when original item is refocused"

[2019-12-28 20:08] #196 closed

[2019-12-28 20:31] rpearce commented on #195
This only happens when using `background-image` on something like a `div`, and it doesn't seem to be that big of a deal, so closing this.

[2019-12-28 20:31] #195 closed

[2019-12-29 22:51] 0x6e6562 commented on #146
Many thanks @rpearce  for reworking the library and also for keeping this issue up to date 👍

I've just upgraded to `4.0.0-alpha.8` to test this out, but I'm getting the following hook issue when using the controlled or uncontrolled components:

[code]

Using a hook in a hello world component seems to work fine, it is just when I import `Zoom` or `ControlledZoom` from `react-medium-image-zoom` tha

[2019-12-30 03:17] rpearce commented on #146
@0x6e6562 I've just today noticed this on another library of mine, as well. My first guess is that it's something related to my usage of rollup.js, but TBD. Thanks for the heads up.

[2019-12-30 08:06] 0x6e6562 commented on #146
I noticed this with a Gatsby app and my first thought was that Gatsby was somehow loading multiple versions of react. I tried to depend on `git://github.com/rpearce/react-medium-image-zoom#8d3db6c` rather than `^4.0.0-alpha.8` but initially this doesn't load because of an webpack-esque error:

[code]

So I might need to find out how webpack/babel this properly.

[2019-12-30 11:27] rpearce commented on #146
Thanks for your patience with working through this with me! We'll get there.

[2019-12-30 13:48] rpearce opened #199 "Fix bundling"
Looks like commonjs bundling is totally borked via rollupjs.

Issue was brought to light in https://github.com/rpearce/react-medium-image-zoom/issues/146

[2019-12-30 13:57] rpearce commented on #146
Let's movee this conversation over to https://github.com/rpearce/react-medium-image-zoom/issues/199

[2020-01-02 14:11] rpearce commented on #199
@0x6e6562 I've found what the issue is and have patched it in a couple of other libraries. I will patch it here tonight.

[2020-01-04 01:39] rpearce commented on #199
Should be resolved... I just tested this out in a brand new `create-react-app`:
[code]
then
[code]

and it looks to be working...

[2020-01-04 01:39] #199 closed

[2020-01-04 01:39] rpearce commented on #146
Should be resolved... I just tested this out in a brand new `create-react-app`:
[code]
then
[code]

and it looks to be working...

[2020-01-04 23:37] 0x6e6562 commented on #199
I can confirm that this issue is fixed with `^4.0.0-alpha.9`, many thanks for the fix!

[2020-01-05 00:31] 0x6e6562 commented on #146
Many thanks @rpearce for all of your hard work on this issue 👍

I've followed the hello world `create-react-app` with `^4.0.0-alpha.9` and when you nest the React logo inside the `Zoom` component, it is fine.

However, testing with a real image I still see the blurriness on iOS/Safari:

[code]

You don't get the same blurriness on OSX/Safari or any version of Chrome (OSX or Android).

The blurrine

[2020-01-05 00:36] 0x6e6562 commented on #146
I've just checked the behavior on an iOS simulator and it is similar to a real iOS device. Here is a side by side of zooming on Safari/simulator vs Safari/OSX:

<img width="898" alt="Screenshot 2020-01-05 00 33 31" src="https://user-images.githubusercontent.com/14088/71773313-2fdc9e00-2f53-11ea-8b6b-06bc25d3c2bb.png">

[2020-01-05 23:45] 0x6e6562 opened #202 "Element not defined in SSR builds"
This issue is a:

- Question / support request

## Description

When this library is included in a Gatsby site, it works fine in development.

However, when a production build is generated using SSR, the absence of the `Element` object causes the process to fail:

[code]

A Gatsby-specific workaround for this is:

[code]

But when doing so, you also lose the CSS normally imported thusly:

[code]

[2020-01-06 00:13] 0x6e6562 commented on #146
I think I may have found the cause of the problem - Safari/OSX handles `transform: translateZ(0)` differently to Safari/iOS.

The style

[code]

Produces a smoother result on Safari/OSX, but results in a blurred image on Safari/iOS.

Removing this selector fixes the blurriness on iOS, at the cost of a less smooth transition on OSX.

I guess you could do a user-agent-specific selector to get the be

[2020-01-06 01:03] rpearce commented on #146
Wow, that's something. I'll take your advice (wish I didn't need to), but I'll first see if I can find another workaround on Safari (macOS).

* * *

You are amazing for working through this with me. I've added you to https://github.com/rpearce/react-medium-image-zoom#contributors.

[2020-01-06 02:08] rpearce commented on #202
Thanks for the hawkeyes on this.

I've taken out `Element` and `Window` and am attempting to accomplish the same thing with just `propTypes.object`.

I also included [`babel-plugin-transform-react-remove-prop-types`](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types#readme) with `mode: 'wrap'` to try to disable prop types in production.

Can you check it out in `4.

[2020-01-06 03:23] #177 closed

[2020-01-06 03:28] rpearce commented on #177
@navilan this should be resolved in the latest `react-medium-image-zoom@alpha` release.

I've added you to the contributors section in the README because of your idea here. Thanks!
<img width="379" alt="image" src="https://user-images.githubusercontent.com/592876/71793407-9be30300-3034-11ea-8822-8d93ed993b0b.png">

[2020-01-06 03:33] rpearce commented on #122
This should not be an issue in the latest `react-medium-image-zoom@alpha` `v4` release channel, for we don't exactly have a `zoomImage` prop to work with in the new API (though I'll try to figure out how I want to do that in https://github.com/rpearce/react-medium-image-zoom/issues/166).

Closing this

[2020-01-06 03:33] #122 closed

[2020-01-06 03:37] rpearce commented on #122
@13806 @deadcoder0904 @xerona I've added you all to the "all contributors" section as a thank you for your :eyes: and 💭 here.
<img width="508" alt="image" src="https://user-images.githubusercontent.com/592876/71793710-e7e27780-3035-11ea-9b11-f704af25f1cc.png">

[2020-01-06 06:15] navilan commented on #177
@rpearce - Thank you so much.

[2020-01-06 09:11] 0x6e6562 commented on #202
I've just tested `4.0.0-alpha.12` which fixes the missing `Element` issue 👍

However, there is a second issue with `HTMLElement` in `focusOptionsPolyfill()` which we previously didn't get to because the process stopped with the missing `Element`:

[code]

[2020-01-06 09:26] 0x6e6562 commented on #146
No need to thank me, very happy to help out 👍

 I take your point about the the agent-specific selector - it's clunky and feels like it might to come back to bite in the future. I only suggested it because off hand, I couldn't think of a way to handle Safari on different platforms.

And I guess for completeness we'd also need to check the behavior on iPad - given the delta between OSX and iOS, iPh

[2020-01-06 09:57] 0x6e6562 opened #205 "How to disable blue visited/focus border"
This issue is a:

- Question / support request

## Description

What's the most effective way to get rid of the blue visited/focus border around an image that occurs after you zoom an image back out?

Here's an example of having zoomed in and then out again:

<img width="156" alt="Screenshot 2020-01-06 09 52 52" src="https://user-images.githubusercontent.com/14088/71810620-afa95c00-306a-11ea-95e8-

[2020-01-06 14:41] rpearce commented on #205
This is an accessibility feature for keyboard (or other device) accessibility, but you should have the ability to control this in your application.

The blanket way to do so is something like
[code]
but that excludes a large number of people from being able to easily use an app, so here are some things to look at for you to decide how you want to handle it on your end:
* https://developer.mozilla.

[2020-01-06 14:44] rpearce commented on #202
I just _knew_ that was going to be an issue. For this, I'll need to check if some thing(s) exists first.

I (unfortunately) don't do any SSR these days; what is the best/simplest steps to reproduce this so that I can test it and stop giving you false hope?

[2020-01-06 14:44] rpearce commented on #202
I wonder if there's a way to automate the testing of that, too...

[2020-01-06 14:46] rpearce commented on #146
I had tested this on a relatively new iPad Pro, and it looked :+1: to me using my examples, but it's not impossible that was just wishful thinking

[2020-01-06 17:02] 0x6e6562 commented on #202
To keep things easy, I've build the simplest repro I could think of: https://github.com/0x6e6562/ssr-next

Although I originally saw the SSR issue using Gatsby, you get exactly the same behavior with `next.js`.

This repro uses `next.js` since it does SSR by default, whereas Gatsby requires an extra config file to kick off builds.

Having said this, there must be a way to invoke webpack programmat

[2020-01-06 17:07] rpearce commented on #202
Thank you for making this repro repo! I'll use it for testing.

Regarding your interview question comment, any company that asks that is abysmal at interviewing candidates and wouldn't deserve you! I'll do some digging as a way of future-proofing this issue.

[2020-01-07 08:18] 0x6e6562 commented on #205
Many thanks for the heads up, I'll look into this. I was wondering why the default `react-medium-image-zoom` version 3.x doesn't display the same focus behavior as in version 4?

[2020-01-07 15:05] rpearce commented on #205
That's because there were lines like https://github.com/rpearce/react-medium-image-zoom/blob/0044e710c17e03c0479c5cc432c7664fee049564/src/ImageZoom.js#L259-L261 that had all sorts of logic involved in focusing/not focusing depending on whether a mouse or keyboard was used. This was a contribution from a former colleague, for which I am still grateful.

However, hindsight has shown me that making a

[2020-01-07 15:05] #205 closed

[2020-01-07 15:11] 0x6e6562 commented on #205
Good point, thanks for the explanation.

[2020-01-07 15:14] rpearce commented on #202
Update: I haven't had time in the last 24 hours to fix this, but I'll try to get to it tonight.

[2020-01-08 03:18] #202 closed

[2020-01-08 03:23] rpearce commented on #202
@0x6e6562 There were a couple of issues that SSR didn't like:
* that polyfill for Safari, which I wish I had a better way of doing
* providing `document.body` and `window` as `defaultProps` to components

They should now be resolved, and you should be able to import the CSS.

[2020-01-08 03:25] rpearce commented on #202
If you happen to get a bare-minimum example going in nextjs or gatsby for using this project, I will :100: link to it (or them) in the README and personally use it for testing releases.

[2020-01-08 03:41] #146 closed

[2020-01-08 03:48] rpearce commented on #146
@0x6e6562 I'm not sure how I feel at the moment how big of a deal the transition issue is on Safari in general, so I'm going to mark it as "good enough". I removed the `transform` b/c Safari on macOS looked good enough, as did iOS 8 on the iOS simulator.

Please let me know if this is insufficient or you find something else!

[2020-01-08 09:52] 0x6e6562 commented on #202
I can confirm that this SSR is fixed with the [simple repro](https://github.com/0x6e6562/ssr-next) and in Gatsby.

As a side note to those googling this issue, you might be seeing an issue with

[code]

working in dev but get getting excluded from production builds of Gatsby and `next.js`.

IMHO this is not related to the SSR-izibility which this particular issue addresses. Rather this is related

[2020-01-08 09:58] 0x6e6562 commented on #202
@rpearce Well done for chasing this issue down, much appreciated. I've been able to remove the `loaders.null()` hack from the Gatsby SSR config (as much as anything, using a library function with the name `null()` somehow irks my sense of aesthetics).

I left the repro in a state that it demonstrates this issue is fixed and could potentially be used as a test case.

I should point out there is a l

[2020-01-08 10:13] 0x6e6562 commented on #146
Using a manually imported rollup build of the CSS I had come to the same conclusion myself - the benefit of removing the `transform` attribute on iOS significantly outweighs the almost unnoticeable jumpy-ness on OSX. Also, it something that you will probably only notice when you are actually developing the app, as opposed to a regular site user. Furthermore, doing anything user agent specific is l

[2020-01-08 13:34] rpearce commented on #146
Thanks. If I get annoyed enough by it or someone brings it up, we'll open a separate issue.

[2020-01-08 13:40] rpearce commented on #202
In webpack, this sort of thing is regularly solved with tools like [style-loader](https://webpack.js.org/loaders/style-loader/).

What service are you using that is giving you grief on production builds? Is it Gatsby?

[2020-01-08 23:10] javialeung commented on #145
Any updates on this? I also implemented something similar to Daveiano. It would be good to disable the animation!

[2020-01-08 23:47] rpearce commented on #145
@javialeung Honestly, I haven't put much thought into it. I think I know how to make this happen, so I'll reopen this while I think about it!

[2020-01-09 23:22] javialeung commented on #145
Thanks for the update! I appreciate the support for this.

The slideshow I have works great with the image zoom it's just the animation when changing images is causing a not so great user experience.

[2020-01-10 14:45] rpearce commented on #145
@javialeung what I'm going to look at this weekend is seeing if we can provide an animation config flag (some people might not want the animation for accessibility reasons sometimes) that will set the `transition-duration` to `0` or remove the `transition-duration` property entirely.

[2020-01-10 15:17] rpearce opened #208 "Consider using NPM package of focus-options-polyfill"
* https://github.com/calvellido/focus-options-polyfill/issues/6
* https://www.npmjs.com/package/focus-options-polyfill

[2020-01-12 15:28] #145 closed

[2020-01-12 15:29] rpearce commented on #145
@Daveiano @javialeung Looks like I already did this! As you can see in the [readme's API section](https://github.com/rpearce/react-medium-image-zoom#api), you can pass a `transitionDuration`, which will disable the transition.

You can pair this with the [controlled component](https://github.com/rpearce/react-medium-image-zoom#controlled-component-controlled) and listen to the document for arrow k

[2020-01-13 09:43] Daveiano commented on #145
@rpearce Thank you very much for response!

I will look into this in the next few days and give feedback! Thanks a lot.

[2020-01-19 03:05] #189 closed

[2020-01-19 07:45] davalapar opened #212 "Prod build: can't zoom + weird small button"
# Bug report

## Expected behavior
- It should work okay

## Actual behavior
- It works on dev but not on production build.
- Prod build got webpack tree shaking with terser (not sure if useful info).

## Steps to reproduce behavior
[code]

## Example of behavior

- Here nothing happens if you click the button and the image

![image](https://user-images.githubusercontent.com/41451953/72676957-f159

[2020-01-19 14:15] rpearce opened #213 "Smarter detection for image `naturalWidth` and `naturalHeight`"
Smarter detection for image `naturalWidth` and `naturalHeight` so we don't try to zoom anything when it's already at its maximum dimensions. This would also re-enable the ability to not zoom beyond a source image's natural dimensions once zoomed.

In v3, there was a flag, `shouldRespectMaxDimension`, but I think that should be the default for image-based `children`.

Also, just like v3, if it's al

[2020-01-19 16:20] rpearce commented on #212
@davalapar It looks like the CSS is not being included in your build. I will try to recreate this tonight, but if you are able to put a simple example together with your build system that reproduced the problem, I'll be able to track it down faster!

[2020-01-19 16:25] rpearce commented on #212
FYI: I've just tried it out on a brand new `create-react-app` project, and it looks like it works in development and in the production build there.

[2020-01-22 11:18] davalapar commented on #212
Hey man, thanks for the fast response. Turns out you're right the CSS was just not being included properly by our bundler. Thank you very much!

[2020-01-22 11:18] #212 closed

[2020-01-22 12:03] henrych4 commented on #202
Just ran into the issue that css was missed in production build. Eventually my colleague found the source of error and thus we would like to share here.

In [line 34](https://github.com/rpearce/react-medium-image-zoom/blob/f3cae0b65bb840077c811e712031a8df9c166d03/package.json#L34) of package.json, `sideEffects` is set to false which excludes css file imported in production build. Removing the line

[2020-01-22 13:12] rpearce commented on #202
@henrych4 Wow, that is an _excellent_ discovery. I will update.

[2020-01-22 13:20] rpearce commented on #212
@davalapar there's a related issue that I'm about to resolve that you should know about: https://github.com/rpearce/react-medium-image-zoom/issues/202#issuecomment-577149834

[2020-01-22 13:30] rpearce commented on #212
@davalapar i've added you to the all-contributors list in the README! Thanks for your contribution.

<img width="443" alt="image" src="https://user-images.githubusercontent.com/592876/72898089-581e1800-3d1b-11ea-9fe7-f553b89137f7.png">

[2020-01-22 13:31] rpearce commented on #202
@henrych4 This should be published in `v4.0.1`. Thank you!

I have added you to the all-contributors list in the README! Thanks for your contribution.

<img width="443" alt="image" src="https://user-images.githubusercontent.com/592876/72898089-581e1800-3d1b-11ea-9fe7-f553b89137f7.png">

[2020-02-06 00:59] #208 closed

[2020-02-13 03:20] rpearce commented on #164
Still a to-be-determined on this.

Rendering the image and covering it with a button via CSS should be fine, but it might need better narration.

[2020-02-19 18:23] talentlessguy opened #218 "Component dissapears in Next.js when styles are included"
# Description

When I include styles into `_app.js` the whole component dissapears.

related #202 #165

my app looks like this:

[code]

image markup isn't even being rendered:

![image](https://user-images.githubusercontent.com/35937217/74862865-e824a100-535d-11ea-8acb-169329224e67.png)

[2020-02-19 19:01] #218 closed

[2020-02-19 19:44] rpearce commented on #218
@talentlessguy I'm guessing you sorted it out? Was it anything worth sharing with anyone who might have a similar issue?

[2020-02-19 22:41] talentlessguy commented on #218
@rpearce yes, I was using v3 and then noticed that I should switch to v4, and it worked

[2020-02-20 15:25] rpearce commented on #218
I understand! v4 is a total rewrite with 100% breaking changes, so that makes sense

[2020-02-24 13:16] rpearce commented on #213
Will get :eyes: on this this week

[2020-02-26 16:33] sunknudsen opened #219 "TypeScript type definitions on DefinitelyTyped are outdated"
This issue is a:

- Bug report

I see this project is not developed using TypeScript and [current type definitions](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-medium-image-zoom/index.d.ts) are supplied via DefinitelyTyped so this issue is a long shot. Just dropping it here hoping a TypeScript wizard has time to update the type definitions.

## Expected behavior
I ex

[2020-02-26 20:10] rpearce commented on #219
@sunknudsen I'm learning TS at the moment and want to try updating the project to use TS, but I am not knowledgeable enough at the moment to accomplish the project update.

Would it be better if this project included an `index.d.ts`?

This doesn't seem _too_ hard, though? The [API](https://github.com/rpearce/react-medium-image-zoom#both-uncontrolled--controlled-components) in the README includes m

[2020-02-26 20:12] rpearce opened #220 "Convert project to TypeScript"
This shouldn't be _too_ hard, but I need to learn a few more things about TS and figure out how to get the tests to run with TS.

Related: https://github.com/rpearce/react-medium-image-zoom/issues/219

[2020-02-26 20:13] rpearce opened #221 "Add to cdnjs: https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#d-adding-a-new-library-with-its-assets"

[2020-02-26 20:22] sunknudsen commented on #219
Amazing! Just learned it myself (over the past few months) and never looking back. I don’t have a ton of time available but can help debug TS issues and/or help with code reviews (although admittedly I’m no TS wizard).

For sure... DefinitelyTyped is for projects that are not (will never be) ported to TypeScript.

[2020-02-26 21:05] rpearce commented on #219
Rock on. Where would the best place for an `index.d.ts` file to live? The `main` and `module` fields in `package.json` point to `dist/cjs/index.js` and `dist/esm/index.js` (https://github.com/rpearce/react-medium-image-zoom/blob/master/package.json#L5-L6), would it be better if that file were in the distributed `dist/` folder? Or would it be better at the project root?

There are also _two_ compon

[2020-02-27 01:09] sunknudsen commented on #219
I believe the `.d.ts` and `.js.map` files should sit beside their parent `.js` files in `dist/cjs/` and `dist/esm/`.

I believe so. That’s how TypeScript does it internally when `declaration` is set to `true` in `tsconfig.json`.

See https://www.typescriptlang.org/docs/handbook/compiler-options.html

[2020-02-27 14:18] rpearce commented on #219
Thanks for that link. Here are the best two paths forward for this issue:
* Have someone else fix the immediate issue somehow in DefinitelyTyped (https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-medium-image-zoom/index.d.ts)
* Convert project to TypeScript (which won't be too hard... I just need to see how to do this with React; https://github.com/rpearce/react-medium-ima

[2020-02-28 12:33] sunknudsen commented on #219
Sounds good @rpearce. For the time being, I used `//@ts-ignore` to patch things up. Looking forward to either option making its way to production.

[code]

[2020-02-28 21:01] sunknudsen opened #222 "Images with a 100% width get stretched on WebKit browsers"
This issue is a:

- Bug report

## Expected behaviour
I expected things to work on WebKit browsers as they do on Firefox on macOS.

## Actual behaviour
What actually happened was when an `img` is set to `width: 100%`, it gets stretched on WebKit browsers (Firefox and Safari on iOS).

![Screen Shot 2020-02-28 at 3 53 40 PM](https://user-images.githubusercontent.com/2117655/75586902-42e78800-5a43-11

[2020-02-28 21:08] sunknudsen commented on #222
FYI, the issue appears to be caused to the `display: inline-flex` of the parent `div` created by `react-medium-image-zoom`.

[2020-02-28 21:21] sunknudsen commented on #222
@rpearce Commenting out the line fixes the issue. Can we simply remove it or that would break other aspects of the component?

[2020-02-28 21:40] sunknudsen commented on #222
FYI, not sure if this is related to removing that line, but the animation is choppy on my iPhone 7.

Might be related to the fact data is somehow being accessed (as indicated by the network activity indicator on iOS).

![Screen Shot 2020-02-28 at 4 38 44 PM](https://user-images.githubusercontent.com/2117655/75589527-f30bbf80-5a48-11ea-86e8-f8f92994b781.png)

See https://sunknudsen.com/privacy-guid

[2020-02-29 13:02] dougg0k opened #224 "Stop using css files therefore stop needing to import them."
Maybe use style objects instead, would make things more clean, since it's a small amount of styling.

What do you think?

[2020-03-01 11:50] dougg0k commented on #219
@rpearce This could help https://github.com/microsoft/TypeScript-React-Conversion-Guide

[2020-03-01 13:36] MohammedFaragallah opened #226 "bundle size"
After releasing patch 4.0.2 bundle size grow to 160kb
I'm importing as suggested in the readme

import Zoom from 'react-medium-image-zoom';

https://bundlephobia.com/result?p=react-medium-image-zoom

any idea what's wrong and Thank you for this awesome library.

[2020-03-01 19:13] sunknudsen commented on #222
I asked for help on Stack Overflow and someone  pointed out that adding `align-items: flex-start` should fix the issue.

See https://stackoverflow.com/a/60478736/4579271

[2020-03-02 14:42] rpearce commented on #224
First, thank you for taking the time to think about this and open a PR.

What you have done was the scenario we had in [version 3.x](https://github.com/rpearce/react-medium-image-zoom/tree/v3.x), and I believe this to be an approach we might not want to take because of the following:
* it would be impossible to use pseudo-elements if we needed to
* overriding the library's styles would be a bit ha

[2020-03-02 14:54] rpearce commented on #226
The size of the NPM package size is due to the `dist/cjs/react-medium-image-zoom.min.js` and `dist/umd/react-medium-image-zoom.min.js`, which are intended for standalone usage in commonjs & browser scenarios, respectively. The number specified there also includes `.js.map` files, which are a fair bit bigger than the actual source files, themselves.

The actual components you would use weigh in ~12

[2020-03-02 14:56] dougg0k commented on #224
No, that's alright, make sense. Feel free to close it now if you want.

[2020-03-02 15:19] #224 closed

[2020-03-02 15:38] MohammedFaragallah commented on #226
I reproduced the issue here https://github.com/MohammedFaragallah/zoomrepro
clean CRA installation with just react-medium-image-zoom

![7731d0a5-0f9b-48db-8abc-5e64e924a5e0](https://user-images.githubusercontent.com/14910456/75691179-9f99ab80-5cac-11ea-899f-108d98af0d58.png)

[2020-03-02 16:00] dougg0k commented on #224
I wanted to let you know that here in a project using Gatsby + Styled-Components, but not passing Zoom through styled-components, your button still get a hashed css with partial class name that you are using in the library, so I'm not sure if it's because of Gatsby or styled-components. Here the class precedence didn't work as you can see in the screenshot, had to select the button with the aria-l

[2020-03-02 16:02] rpearce commented on #224
That image doesn't seem to be working

[2020-03-02 16:02] dougg0k commented on #224
it is, try now.

[2020-03-02 16:09] rpearce commented on #224
`styled-components`, `emotion`, `css-modules` and the like all inject their `<style>` tags dynamically at different places in the `<head>` (or even `<body>`). If that tag comes _before_ the `<style>` tag for normal CSS files/bundles, whatever comes last takes precedence. There are options for determining where styles get injected, but that differs from tool to tool.

That said, I am more than will

[2020-03-02 16:13] rpearce commented on #226
Cool. Thank you! I'll check it out and see what the issue is outside of my normal working hours (no time right now)

[2020-03-02 16:19] dougg0k commented on #224
#id doesn't seem to be changed by these libraries, it could be an option.

[2020-03-02 16:34] rpearce commented on #224
Good point. Another option is `data-rmiz-btn`, which is selectable via `[data-rmiz-btn]`. I'll think on it.

[2020-03-02 16:37] dougg0k commented on #224
Cool, sounds good.

[2020-03-02 16:49] rpearce commented on #219
Thanks @dougg0k

[2020-03-02 21:34] rpearce commented on #222
@sunknudsen I've been in the mountains over the weekend. I'll take a look at this soon

[2020-03-02 23:03] rpearce commented on #222
The `align-items: flex-start;` solution from that stackoverflow seems reasonable.

My own testing with your image on iOS Safari is showing abysmal performance on the initial "zoom", but that's likely to be a separate issue, entirely (I reckon it's because of its size). I'll use that image in some of my testing in the future.

[2020-03-02 23:57] sunknudsen commented on #222
@rpearce Thanks for looking into the issues.

[2020-03-03 12:05] rpearce opened #227 "Zoom (not unzoom) performance on iOS Safari is not good"
Related to https://github.com/rpearce/react-medium-image-zoom/issues/222#issuecomment-593684993

Example website: https://sunknudsen.com/privacy-guides/brute-forcing-your-very-own-vanity-onion-address-at-11646mhs

[2020-03-03 12:38] rpearce commented on #226
:eyes:

[2020-03-03 12:46] #222 closed

[2020-03-03 12:47] rpearce commented on #226
I had to remove `cross-env` from [the `build` command](https://github.com/MohammedFaragallah/zoomrepro/blob/master/package.json#L22), since it is not listed as a development dependency, but I am not seeing the bundle size grow to 160kb. Look below:
[code]
What do I need to do to reproduce the problem?

[2020-03-03 12:54] dougg0k opened #229 "React Portal is incompatible with SSR"
Hi,

I've been using _react-medium-image-zoom_ in a Gatsby project and while in development it has been working, it doesnt when you try to build your project.

[code]
Btw, I am using the Uncontrolled Zoom.

I found these 2 packages, that could help:
- https://github.com/alex-cory/react-useportal
- https://github.com/jesstelford/react-portal-universal

But there is another possible solution that yo

[2020-03-03 13:07] MohammedFaragallah commented on #226
I used source-map-explorer to analyze the bundle using analyze command and it seems to be mistaken but using the build command you used after adding react-medium-image-zoom it adds around 42kb

[code]

[2020-03-03 13:15] MohammedFaragallah commented on #226
to reproduce

1. clean CRA installation
2. build to save clean bundle stats
3. add/import react-medium-image-zoom
4. build again to see the difference

I updated the repo

[2020-03-03 14:09] rpearce commented on #229
Are you sure you're using the `Uncontrolled` (default) component?
[code]
Besides that, yeah that makes sense that this would fail, for `document` isn't defined at that point. I'll see about a fix by safely calling `document.body`. If you want to be a real champion here, providing a test gatsby project would be real helpful.

[2020-03-03 14:14] dougg0k commented on #229
This is how I am importing, so accordingly to the docs, yes.
`import Zoom from "react-medium-image-zoom";`

[2020-03-03 14:24] dougg0k commented on #229
Nevermind, I had a controlled zoom imported somewhere else I had forgotten about.

[2020-03-03 15:24] rpearce commented on #226
What is the output that you are seeing when you build?

[2020-03-03 15:28] rpearce commented on #226
I cloned the repository again, ran `yarn build`, and here is what I see:
[code]
I still don't see the 160kb...

[2020-03-03 15:33] rpearce commented on #226
Removing `react-medium-image-zoom` yields this:
[code]
So, it does look like there is `43.29kb`, which does seem kind of big, so I can look into that.

[2020-03-03 15:34] rpearce commented on #229
No worries. Still, it's an issue.

[2020-03-03 15:34] MohammedFaragallah commented on #226
You are right its not 160 its 42 sorry about this misunderstanding

[2020-03-03 15:35] rpearce commented on #226
Ah. No worries. I'll look into making that smaller

[2020-03-03 16:12] rpearce commented on #229
Do you have an example app that reproduces the SSR issue that I can test with?

[2020-03-03 16:30] dougg0k commented on #229
I dont, but maybe just a stater gatsby project could be enough. I was just fixing other build issues, there is a few issues happening probably unrelated to the react-medium-image-zoom, but while doing so, the Uncontrolled Zoom didn't affect the build process, but also doesn't work afterwards and I get no errors.

I'm not sure if these other issues could be affecting it or not, because where these

[2020-03-03 16:41] rpearce commented on #229
I'll need to test https://github.com/rpearce/react-medium-image-zoom/pull/231 with gatsby SSR, so TBD.

[2020-03-03 17:26] dougg0k commented on #229
So, very bizzare case, the issue was that styled-components was loading the classes but not the styling from the classes in the whole application. I had to change node version and reinstall the packages to get it working. In sum, the Uncontrolled Zoom is working fine and was actually affected by the styling issue here. Maybe it was a cache issue.

Only Controlled Zoom is not working in the build p

[2020-03-03 17:28] rpearce commented on #229
Gotcha. The same issue _can_ exist for both of them, even if it doesn't right now (it's a logical rendering determination that is the difference at the moment), so I'll try to fix it for both.

[2020-03-03 17:29] dougg0k commented on #229
Cool, thanks.

[2020-03-03 19:22] rpearce commented on #229
I ended up testing with `react-dom`'s `renderToString` function, which doesn't have a DOM.

[2020-03-03 20:36] dougg0k commented on #229
Nice!

[2020-03-04 13:54] rpearce commented on #229
This will be out in the next release, and I will check back here to notify when that is out. I'm working on bundle size at the moment.

[2020-03-04 13:56] dougg0k commented on #229
Sounds good, most needed part for me was the Uncontrolled Zoom.

[2020-03-04 14:41] rpearce commented on #229
@dougg0k you can try it right now with what's coming in the next release with version `4.1.0-alpha.0`.

[2020-03-04 14:42] rpearce commented on #226
Initial results look promising: https://bundlephobia.com/result?p=react-medium-image-zoom@4.1.0-alpha.0

<img width="810" alt="image" src="https://user-images.githubusercontent.com/592876/75890506-7a1bb780-5dfc-11ea-86b6-512677c65763.png">

[2020-03-04 14:49] dougg0k commented on #229
@rpearce I have just tried and

[code]

[2020-03-04 15:15] rpearce commented on #229
Argh. Okay I'll try to figure that out. Sorry for the trouble

[2020-03-04 15:39] dougg0k commented on #229
No worries, thanks for trying to get it to work.

[2020-03-04 17:09] dougg0k commented on #229
Just to let you know, with the `4.1.0-alpha.0`, the Uncontrolled Zoom also doesnt work with the build.

[2020-03-04 18:30] MohammedFaragallah commented on #226
Great, please let me not if you need any help.

[2020-03-04 19:07] rpearce commented on #226
But I also broke the component in doing that, so yeah. I'll get there.

The react-medium-image-zoom code for a given component with the `helpers` code comes to ~12KiB + 4KiB for CSS, which can then be gzipped down to a good size. There are also a couple of dependencies (`prop-types` will go away in a future release and save us ~5KiB), but overall this is as far as I can get it for now.

[2020-03-05 11:58] rpearce commented on #229
Got it. Try `4.1.0-alpha.1`

[2020-03-05 12:14] dougg0k commented on #229
You got it, it's working.

[2020-03-05 12:42] rpearce commented on #226
https://github.com/rpearce/react-medium-image-zoom/pull/232

  * [before: `390.7kB` Minified; `118.5kB Minified` + Gzipped](https://bundlephobia.com/result?p=react-medium-image-zoom@4.0.4)
  * [after `18kB` Minified; `5.6kB` Minified + Gzipped](https://bundlephobia.com/result?p=react-medium-image-zoom@4.1.0-alpha.1)

There are some more optimizations that could be made by not relying on `react-use

[2020-03-05 12:52] #226 closed

[2020-03-05 12:52] #229 closed

[2020-03-05 13:05] rpearce commented on #226
This will be going out in `4.1.0` momentarily

[2020-03-05 13:06] rpearce commented on #229
This will be going out in `4.1.0` momentarily. Thanks for your help! I added you to the allcontributors list in the README

[2020-03-05 13:07] rpearce opened #233 "Firefox + Storybook example + Storybook Sidebar = laggy"

[2020-03-05 13:10] dougg0k commented on #229
Cool. Thank you for taking the time. Ok.

[2020-03-05 14:08] sunknudsen opened #234 "How could we handle images wrapped within anchors?"
This issue is a: Question / support request

## Description

I use the following code to wrap images within `ZOOM`.

[code]

But when an image is wrapped within an anchor (`a`), the link cannot be clicked because the zoom event predominates (which is expected).

[code]

Bouncing ideas here... how could we handle this use case?

[2020-03-05 14:12] sunknudsen commented on #234
The same occurs when both the anchor and image are wrapped within `ZOOM`.

[code]

[2020-03-05 14:18] rpearce commented on #234
If you have an image inside an anchor, then clicking on that should take you to the link, so I would think you should not wrap image links in a `<Zoom>`.

[2020-03-05 14:20] rpearce commented on #234
To clarify, if you're trying to make an abstracted `<Image>` component, perhaps specifying a prop like `hasZoom = true` as a default would allow you to override that and only return the image instead of <zoom>image</zoom>

[2020-03-05 14:20] rpearce commented on #234
Also, I highly recommend upgrading to the latest version `4.1.0` for a vastly reduced build size, SSR support, and different access to CSS (through `[data-rmiz-...]` selectors).

[2020-03-05 14:25] sunknudsen commented on #234
I agree.

I am using [react-markdown](https://www.npmjs.com/package/react-markdown) to render HTML from markdown and all images are handled using the same logic by default. I can definitively hack around this as you suggested.

I was reflecting on consistent image features vs disabling `ZOOM` for anchored images.

I think the latter is the way to go.

Thanks for the heads up. Done!

[2020-03-05 14:33] rpearce commented on #234
I'll keep this in mind for when I work on https://github.com/rpearce/react-medium-image-zoom/issues/213, for this will involve searching the `children` for `img` elements.

This library doesn't actually do _anything_ with images (it used to), which opens up the door for giving that zoom to all sorts of things, but we _do_ need certain things for `img` tags like this.

For example, if someone were

[2020-03-05 19:15] sunknudsen commented on #234
@rpearce After giving it some thought, I am on your side... images within anchors should not have `ZOOM` handler. I think we can close this issue. What do you think?

[2020-03-05 19:36] sunknudsen opened #236 "Adding an option to wrap ZOOM children in span vs div"
This issue is a: Feature request

## Description

**Not sure this is a good idea (I prefer using a `div` conceptually), but here’s why I’m asking.**

When implementing `react-medium-image-zoom` within a [markdown-to-jsx](https://www.npmjs.com/package/markdown-to-jsx) override, I ran into the following error.

I found a hack but it’s dirty. See https://github.com/probablyup/markdown-to-jsx/issues/2

[2020-03-05 19:41] rpearce commented on #236
It's probably better to use a `<span>` for this. I'll see what I can do

[2020-03-05 19:41] sunknudsen commented on #236
Thanks @rpearce.

[2020-03-05 19:42] rpearce commented on #236
No worries! Thank you. Might be tomorrow before I can get to it.

[2020-03-05 19:43] #234 closed

[2020-03-06 12:15] sunknudsen commented on #236
Morning @rpearce. Looking forward to this feature as I can’t easily hack my way around it. If you haven’t started work on it, I could give it a go once the TypeScript [PR](https://github.com/rpearce/react-medium-image-zoom/pull/235) is merged.

[2020-03-07 14:03] rpearce commented on #236
Sorry I missed this yesterday. By all means, if you want to contribute a PR, that would be awesome

[2020-03-07 14:43] rpearce opened #237 "Add create-react-app and gatsby starter examples to project"
Should put in an examples folder.

This will let us easily test SSR and the library's build in general in other systems.

[2020-03-07 16:46] rpearce commented on #220
close via https://github.com/rpearce/react-medium-image-zoom/pull/235

[2020-03-07 16:46] #220 closed

[2020-03-07 16:46] rpearce commented on #219
closed via https://github.com/rpearce/react-medium-image-zoom/pull/235

[2020-03-07 16:46] #219 closed

[2020-03-07 16:52] rpearce commented on #220
available in `4.2.0`

[2020-03-07 16:52] rpearce commented on #219
available in `4.2.0`

[2020-03-07 16:52] rpearce commented on #236
Okay TS is all merged up and shipped in `4.2.0`

[2020-03-11 16:52] #236 closed

[2020-03-11 19:00] sunknudsen commented on #227
Updated link: https://sunknudsen.com/privacy-guides/brute-forcing-your-very-own-vanity-onion-address-at-11-646mh-s

[2020-03-11 19:14] rpearce commented on #227
Thanks, @sunknudsen. I need to get this to be smoother overall and fixup iOS.

[2020-03-23 17:10] n1ghtmare opened #242 "A way to add a caption to the zoomed image?"
This issue is a:

- Question / support request

## Description
Is there a way to add a caption when the image is zoomed? I looked in the documentation, but couldn't find anything. Any help would be much appreciated.

[2020-03-23 18:17] rpearce commented on #242
You can wrap the `<Zoom>` around anything you want to.

If you look at the `<figure>` example, https://github.com/rpearce/react-medium-image-zoom/blob/master/stories.js#L161-L205, you could instead wrap the `<Zoom>` around the `<figure>`, itself, and get the image and caption to zoom.

[2020-03-23 18:22] n1ghtmare commented on #242
Yes, thank you. I need better comprehension skills... or a break. Thanks again, much appreciated!

[2020-03-23 18:22] #242 closed

[2020-03-23 18:27] rpearce commented on #242
No worries at all! You are always welcome to ask anything you like

[2020-04-13 01:53] rpearce opened #243 "Update build to simply use tsc"
This should make things real simple.

[2020-05-07 08:39] slorber opened #245 "SSR issues (4.3.0)"
Hi,

I have SSR issues in a Gatsby (theme novela) due to this lib.

I saw the SSR fixes, tried versions like 4.0 or 4.3 and it didn't improve my issue.

You can see it live in production at https://sebastienlorber.com/atomic-css-in-js
Repro is my own Gatsby site: https://github.com/slorber/sebastienlorber.com

Before hydration, the page looks like:

![image](https://user-images.githubusercontent.c

[2020-05-07 12:52] rpearce commented on #245
@slorber You're in luck! I've got some time off work coming up after tomorrow, so I'll have time to put towards updating things here.

If you really want to help me resolve this issue ASAP, can you 🙏  create an example repository that only exposes this issue? That'll help me narrow in and resolve it so much faster

[2020-05-08 11:34] rokoroku opened #246 "Escape keydown event is not propagating for Controlled component"
This issue is a:
- Bug report

## Expected behavior
- keydown event should be propagated if image is not zoomed, and keydown event for Escape is widely used.

## Actual behavior
- keydown event is always ignored by Controlled component

## Link to repository/example of behavior
https://codesandbox.io/s/long-framework-u14xj?file=/src/App.js
Open console and try "Escape" keypress.

[2020-05-08 13:17] rpearce commented on #246
Amazing job on the bug report, example, _and_ pull request! I love it. As I said on the PR, I'll get to merging this up tomorrow.

[2020-05-09 17:51] slorber commented on #245
Hi,

Will try to get a better repro, but for now what I have is this minimal MDX on my site:

[code]

**Note**: This predictable behavior is only possible thanks to using the most strict atomic CSS.

[code]

[2020-05-10 03:38] #246 closed

[2020-05-10 03:44] #221 closed

[2020-05-16 22:01] leverglowh opened #248 "reactstrap's modal z-index 1050 wins over zoomed image (999)"
This issue is a: Feature request
Thank you for this wonderful library!!
I'm using this inside a reactstrap's Modal component which has a `z-index` set to 1050 which is higher than the zoomed image. So the image appears under the modal.
It would be nice if the wrapping divs of the zoomed image have a class name or an id, so I can set the z-index myself.
I've tried with the browser's dev tools and s

[2020-05-16 23:04] leverglowh commented on #248
Turns out I was using v3 and updating to v4 using `wrapStyle` prop solved everything. Sorry.

[2020-05-16 23:04] #248 closed

[2020-05-17 14:30] IngusK commented on #166
How can I style Zoomed image in v4? It scales waay too large now! v4 looks quite bad now. Will downgrade back.

[2020-05-17 18:03] rpearce commented on #166
@IngusK v4 was a little bit too ambitious. I'm currently working on a continuation to v4 that may turn into a v5 that will fix this issue.

Please remember to try to be kind. I work on this in my spare time for other people for free.

[2020-05-25 01:31] rpearce commented on #233
Moving away from storybook

[2020-05-25 01:31] #233 closed

[2020-05-25 01:31] rpearce commented on #182
Moving away from storybook

[2020-05-25 01:31] #182 closed

[2020-05-25 18:02] rpearce commented on #245
FYI I'm almost done completely rewriting this library into:
1. a vanilla JS package that is ~3kb (minified & gzipped)
1. a react hook that uses 👆  and is maybe 100-150 bytes

This and all the other issues should be closed out by it. I'm _almost_ there (working out some API stuff).

Thanks for your patience

[2020-05-25 18:03] rpearce commented on #227
FYI I'm almost done completely rewriting this library into:
1. a vanilla JS package that is ~3kb (minified & gzipped)
1. a react hook that uses 👆  and is maybe 100-150 bytes

This and all the other issues should be closed out by it. I'm _almost_ there (working out some API stuff).

Thanks for your patience

[2020-05-25 18:03] rpearce commented on #213
FYI I'm almost done completely rewriting this library into:
1. a vanilla JS package that is ~3kb (minified & gzipped)
1. a react hook that uses 👆  and is maybe 100-150 bytes

This and all the other issues should be closed out by it. I'm _almost_ there (working out some API stuff).

Thanks for your patience

[2020-05-25 18:03] rpearce commented on #166
FYI I'm almost done completely rewriting this library into:
1. a vanilla JS package that is ~3kb (minified & gzipped)
1. a react hook that uses 👆  and is maybe 100-150 bytes

This and all the other issues should be closed out by it. I'm _almost_ there (working out some API stuff).

Thanks for your patience

[2020-05-25 18:03] rpearce commented on #164
FYI I'm almost done completely rewriting this library into:
1. a vanilla JS package that is ~3kb (minified & gzipped)
1. a react hook that uses 👆  and is maybe 100-150 bytes

This and all the other issues should be closed out by it. I'm _almost_ there (working out some API stuff).

Thanks for your patience

[2020-05-25 18:03] rpearce commented on #187
FYI I'm almost done completely rewriting this library into:
1. a vanilla JS package that is ~3kb (minified & gzipped)
1. a react hook that uses 👆  and is maybe 100-150 bytes

This and all the other issues should be closed out by it. I'm _almost_ there (working out some API stuff).

Thanks for your patience

[2020-05-25 18:04] rpearce commented on #243
FYI I'm almost done completely rewriting this library into:
1. a vanilla JS package that is ~3kb (minified & gzipped)
1. a react hook that uses 👆  and is maybe 100-150 bytes

This and all the other issues should be closed out by it. I'm _almost_ there (working out some API stuff).

Thanks for your patience

[2020-05-26 07:57] nandhae opened #249 ""tslib.__spreadArrays is not a function" is thrown when the component is loaded:v4.3.0"
This issue is a:  Bug report

## Expected behavior
I expected to use the controlled zoom of 4.3.0 version by following the usage instructions in docs. (project react version:16.8.6)

## Actual behavior
What actually happened was...
As soon as i loaded the component with zoom component in it, it throws a control error saying "tslib.__spreadArrays is not a function"

doing a 'yarn add tslib' solves

[2020-05-26 13:25] rpearce commented on #249
Thank you for your report! This is known and will be fixed in the next _major_ version (v5) already.

The problem here is that `tslib` is listed as a dev dependency and not a dependency (https://github.com/rpearce/react-medium-image-zoom/blob/master/package.json#L104).

I can patch v4 later today to fix this for now.

[2020-05-27 00:25] #249 closed

[2020-05-27 00:31] rpearce commented on #249
@nandhae This should be fixed in version `4.3.1`. Please give it a try!

Do note that version `5` will be released soon!

[2020-05-27 13:26] sunknudsen commented on #227
Hey @rpearce! Didn’t you just rewrite the whole thing in TypeScript? Looking forward to your refactor!

[2020-05-27 13:40] rpearce commented on #227
@sunknudsen It's still in TypeScript, but I'll be releasing this as two packages (so far):
* `@rpearce/image-zoom`, which I'll have an alpha out today or tomorrow for, is vanilla JavaScript (written in TypeScript) that can be included on any webpage, regardless of framework. It weighs in at ~2.9KB gzipped and minifed.
* `react-medium-image-zoom` version 5 is looking like it'll be simply a react ho

[2020-06-01 14:21] rpearce commented on #227
There is an alpha release out (no documentation nor tests yet): [5.0.0-alpha.1](https://www.npmjs.com/package/react-medium-image-zoom/v/5.0.0-alpha.1)

This has condensed the "react" nature of this to nothing more than a react hook wrapping https://www.npmjs.com/package/@rpearce/image-zoom/v/0.1.0-alpha.2.

For gatsby, it looks like their `gatsby-image` might not accept `ref` (let me know if it do

[2020-06-01 15:09] rpearce commented on #245
There is an alpha release out (no documentation nor tests yet): [5.0.0-alpha.1](https://www.npmjs.com/package/react-medium-image-zoom/v/5.0.0-alpha.1)

This has condensed the "react" nature of this to nothing more than a react hook wrapping https://www.npmjs.com/package/@rpearce/image-zoom/v/0.1.0-alpha.2.

For gatsby, it looks like their `gatsby-image` might not accept `ref` (let me know if it do

[2020-06-11 03:35] 340rahul commented on #245
This looks great! The github repo link on image-zoom's npm page gives a 404. Can you please link the repo here?

[2020-06-11 19:19] rpearce commented on #245
The homepage should now work for it; some life stuff came up, and I have a lot of build work to do on this and a couple of issues to resolve before I can get everything in sync.

[2020-06-15 09:27] slorber commented on #245
thanks @rpearce

I'm closing because actually updating my gatsby / novela did fix the SSR issue I had, so it was probably not related to this lib finally...

(fixed while still on 4.3.1)

[2020-06-15 13:11] #245 closed

[2020-06-15 13:32] rpearce opened #252 "Change master branch name to main"
reference: https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/

[2020-06-27 16:34] oyeanuj opened #253 "Examples & Doc sites not working"
This issue is a:

- Bug report

It seems like Examples & Docs Github site is down. Could you see what might be going on?

Thank you!

[2020-06-29 14:22] rpearce commented on #253
I changed the project name and forgot to change the link:
https://rpearce.github.io/image-zoom/

But be aware that everything will be changing in the near future:
https://github.com/rpearce/image-zoom/pull/244

[2020-06-30 05:53] oyeanuj commented on #253
@rpearce Thanks for the new link! Curious what is the scope of the change - behavior, API or new features? The PR just indicates bugs being fixed..

[2020-06-30 13:25] rpearce commented on #253
@oyeanuj check out this comment: https://github.com/rpearce/image-zoom/issues/227#issuecomment-634668215

[2020-06-30 13:26] rpearce commented on #253
I'm getting back to it sometime today or tomorrow. There are some minor issues I need to sort out is all

[2020-06-30 13:27] #253 closed

[2020-07-02 01:43] danielbyun opened #254 "Storybook Example Website Down"
Storybook Example site seems to be down?

[2020-07-02 12:51] rpearce commented on #254
@danielbyun where are you trying to access it from? NPM, GitHub, or somewhere else?

https://rpearce.github.io/image-zoom/

(duplicate of https://github.com/rpearce/image-zoom/issues/253)

[2020-07-02 12:52] rpearce commented on #254
Also, please be aware that I'm getting very close to https://github.com/rpearce/image-zoom/pull/244, which will be version 5

[2020-07-03 00:34] danielbyun commented on #254
Ah, the links on the readme and NPM seem to be outdated.

They both point to `https://rpearce.github.io/react-medium-image-zoom/`

[2020-07-06 13:17] rpearce commented on #254
Okay, thanks. That'll be updated in the near future

[2020-07-14 23:11] Sherry2016 opened #255 "Gatsby images cannot be loaded wrapped by <Zoom><Zoom/>"
This issue is a:
- Question / support request

Hello! Thanks for develop and maintaining this package :)
I have an issue trying to use it with gatsby images. Not sure if the <StaticQuery /> would make any difference on the zoom, but when I try to do something like
[code]
No images would render.
But images would show up without the <Zoom />. I've also tried <ControlledZoom /> which also doesn't wor

[2020-07-15 13:53] rpearce commented on #255
Hi! Thanks for opening this issue.

👆 What do you mean by this?

* * *

People have been using it with gatsby, and a reproduction of the issue would be helpful. However, perhaps this is a good opportunity for you to try out the next version, https://www.npmjs.com/package/react-medium-image-zoom/v/5.0.0-alpha.9, that is close to shipping?

There are gatsby instructions here for working with it: htt

[2020-07-15 15:17] Sherry2016 commented on #255
Thanks for the reply. Sorry for the typo. I meant that the images would show up without the <Zoom></Zoom> wrapper.
I would try the new version and let you know.

[2020-07-15 15:46] Sherry2016 commented on #255
Hi @rpearce  I just tried the new version. There is some progress :) The images can load now, however only the last one image in the list is zoomable. There is no reaction when I hover over other images. I'm doing it like this now
[code]

[2020-07-15 17:45] rpearce commented on #255
I think you need a new ref in that `render` function for every item:
[code]

[2020-07-15 19:01] Sherry2016 commented on #255
Yes!! Thank you very much for the help!!! Now it works like a charm! :D
(Although the hook should be inside the map loop to work :)

[2020-07-15 19:01] #255 closed

[2020-07-15 19:55] rpearce commented on #255
That's great. Keep an eye out for when the official release for `v5.0` comes soon.

[2020-07-15 20:11] Sherry2016 commented on #255
👍

[2020-07-22 19:53] rpearce commented on #237
not doing this in the project

[2020-07-22 19:53] #237 closed

[2020-07-24 21:49] rpearce commented on #187
not relevant any more

[2020-07-24 21:49] #187 closed

[2020-10-14 11:59] johanbook opened #259 "Unable to save image"
This issue is a:

- Bug report

## Expected behavior
To be able to right click and choose `Save image as` for an image wrapped in `Zoom`

## Actual behavior
I could only save the page html

## Steps to reproduce behavior
Use
[code]

[2020-10-16 17:54] rpearce commented on #259
@johanbook Thank you for reporting this. In the current version, there is a button covering the image. I will make sure this is not the case when I can circle back to the next version. https://github.com/rpearce/image-zoom/pull/244 got put on hold because of some unavoidable issues that needed to be rethought, and we've just had a baby, so I'm not doing any coding at the moment.

[2020-10-17 08:46] johanbook commented on #259
Congratz to the baby @rpearce and thank you for this repo. If you point me in the right direction I make an attempt in creating a PR

[2020-10-20 07:24] rpearce commented on #259
@johanbook It's unfotunately a bit more complicated than a simple PR, because the entire mechanism for "zooming" needs to change. THANK YOU for your offer of a PR, though.

[2020-11-10 08:29] elitan opened #261 "Update peerDependencies to React >17"
This issue is a: Feature request

## Description
It would be nice if we could add react v17 as peerDependency

[2020-11-10 19:33] rpearce commented on #261
@elitan v17 should work fine, for `17` should qualify as `>= 16.8.0`, right?

https://github.com/rpearce/image-zoom/blob/master/package.json#L107

[2020-11-11 12:26] elitan commented on #261
Seems correct!

[2020-11-11 12:26] #261 closed

[2020-12-11 07:17] hardchiu opened #263 "The portalEl is useful to apply the same css hierarchy as the zoomed element"
The commit 03be3b6f2ee831f07fe2645326eba89bb1bbc22e removed portalEl. Actually that config is useful in my case.

## Expected behavior
I expected the zoomed element will apply the same css class before / after zooming. i.e. There are some css class set in the portalEl.

## Actual behavior
The zoomed modal is directly under document.body, which we are unable to set any css class to it.

## Alternat

[2020-12-11 13:24] rpearce commented on #263
@hardchiu Thanks for your issue, and I will keep this in mind.

Version 5 took a hard nose-dive after some implementation details came up that were impossible to work around. I'll need to redo this a slightly different way (I already know what I'm going to do).

I'm on parental leave from work and am not working on it right now but will return.

[2020-12-11 13:29] rpearce commented on #263
@hardchiu What is an example `portalEl` that you are using? Is it just a `<div>` at the end of the body that you can control?

I removed `portalEl` because I wasn't sure I could support zooming the image in any arbitrary place in the DOM. That doesn't mean I was right, though.

[2020-12-11 23:55] rpearce commented on #263
Now you've got me back thinking about getting this release out again. I'll get back on it.

[2020-12-17 10:13] hardchiu commented on #263
For example we wish to zoom an element in the following structure
[code]

We may be already using css class like ".a .b .c" to style the image.

To apply the same css class to the zoomed element, we may do it in two ways with the portalEl:

## 1. Put the portalEl under the same parent node of the zooming target
[code]
where portal is position absolute or fixed to fill all the screen spaces. Note c

[2020-12-17 19:53] rpearce commented on #263
The issue with putting the `portalEl` anywhere _except_ at the end of `document.body` is that – even if it is `fixed` – you will run into problems across all major browsers with regard to positioning if there is a `translate3d` or `translateZ` or `overflow: hidden` anywhere in the parent (the styling and animations will completely break because you can't have `fixed` elements in these scenarios th

[2020-12-19 12:37] hardchiu commented on #263
There are cases that will not work if the portalEl is not put directly under document.body, but there are other cases or workaround that can make it work (not every case need to use position fixed).

That's why I said it would become the users' responsibility to supply a usable portalEl if they provide that config.

Are you mean to use data-rmiz-modal-content as selector for styling in css?

Actua

[2020-12-21 02:43] rpearce commented on #263
Overall, a modal at the end of the `body` must be used to meet accessibility standards, so I believe that providing a `portalEl` would hurt accessibility. There is a lot to this.

* * *

That's true. I'll consider `position: absolute;` again as I work on the next version.

The data selectors offer a way of styling modal-related elements.

[2020-12-24 07:30] hardchiu commented on #263
Are both the options I mentioned above unable to meet accessibility standards?

I am wonder if the option 2 above is still able to meet, since that is a new branch created at the end of the `body` to hold the `portalEl` (i.e. no other content beside the `portalEl` node.)

If the `portalEl` need to be strictly under `body`, having a `zoomImgWrapperEl` render prop would help.

[code]
It allow user t

[2020-12-27 18:10] rpearce commented on #263
@hardchiu

Regarding accessibility, there are roles and other elements that need to be present in order to keep focus in the modal for screen readers in addition to hiding other elements in the background so that they are not readable when the modal dialog is open. Doing this and making the image zoom to its specified dimensions means that including other wrapper elements won't work for images, wh

[2021-01-13 19:42] rikusen0335 opened #264 "Should be able to append CSS classes"
This issue is a:
- Feature request

## Description
Currently you can add CSS **styles** with `wrapStyle` prop, but we need to add css through `string` like:

[code]

Because there's some cases to use CSS Modules or utility first css frameworks like Tailwind CSS.

[2021-01-15 20:30] rpearce commented on #264
@rikusen0335 Thank you for your feature request idea contribution to the project!

There is another major rewrite underway that will change how the component is consumed, and it will allow you to do what you require with styling.

I don't know when version 5 will be available, and I will keep this issue open until it is resolved.

Thanks again.

[2021-01-16 05:11] rikusen0335 commented on #264
Thank you for answering! I am looking forward to it 🥇

[2021-01-22 10:43] sunknudsen opened #265 ""This site appears to use a scroll-linked positioning effect" issue on Firefox"
This issue is a:

- Bug report

Recently noticed zoom out transition (while scrolling) is choppy on Firefox. I opened console and following messages is present.

![bug](https://user-images.githubusercontent.com/2117655/105481355-d569c900-5c9e-11eb-81d2-056f5eba8c85.gif)

## Expected behavior

Fluid transition with no console warning

## Actual behavior

Choppy transition with console warning

## S

[2021-01-22 15:18] rpearce commented on #265
@sunknudsen Yes – great report! I am aware of the scrolling imperfection and am working on all this in the `rewrite` branch that is probably 30% done. There are a LOT of things to consider.

[2021-02-02 11:29] sunknudsen commented on #265
Hey @rpearce,

I recently implemented [modern-normalize](https://www.npmjs.com/package/modern-normalize) and noticed the scrolling performance glitch on Firefox was significantly less present although the following warning still appeared in the console.

The following CSS is what is responsible for the "fix".

[code]

[2021-02-02 14:17] rpearce commented on #265
@sunknudsen It looks like code you're referencing is there to

So the moz-focus-inner gets unset and then gets reset by this rule... It might be early, but I'm not quite understanding how setting the outline to 1px dotted fixes the issue...

Relatedly, I don't think I would want an image zooming library to determine the focus styles of a site?

[2021-02-02 14:22] sunknudsen commented on #265
I agree... I was naively suggesting that this CSS could perhaps be set only in the context of `react-medium-image-zoom`.

Before considering a PR, I wanted to share my findings... I believe adding this "hack" to the docs (if it isn't implemented in code) could benefit others.

[2021-02-02 14:24] rpearce commented on #265
If the issue remains when I get this darn thing done, I'll do that. Thanks for finding this and reporting back

[2021-02-04 20:31] GoudekettingRM opened #266 "Cannot seem to install the module using react v17 and up."
This issue is a:

- Bug report

## Expected behavior
I expected the package to install normally

## Actual behavior
What actually happened was; I got an error

## Steps to reproduce behavior
- Create a new react app with typescript: `npx create-react-app test --template typescript`
- When done, cd into the folder `cd test`
- Try to install the library: `npm i react-medium-image-zoom`

## ~Link to

[2021-02-04 21:56] rpearce commented on #266
You're using the new version of NPM, and this package hasn't updated how NPM wants to handle peer dependencies.

Try what the suggestion is in the error message (this is what I have to do on other projects):

[code]

[2021-02-04 21:57] rpearce commented on #266
I'll add this to the list of things to do for the next version.

[2021-02-04 22:14] GoudekettingRM commented on #266
Ah, I hadn't realised that I actually upgraded t npm 7. That's a good point. My bad! I'll close this issue then(: Thanks for the quick response!

[2021-02-04 22:14] #266 closed

[2021-02-05 22:35] rjtbansal opened #267 "Unable to get expected behavior with div having image as a background and other nested image"
Here's my code snippet. Basically I have a `div` having background-image and within that div are few more divs wherein one has delete icon as well.
[code]

However upon rendering I see an odd button in the bottom. I was expecting for cursor to turn into zoom within the image.
![image](https://user-images.githubusercontent.com/8683116/107096123-03d7c000-67d8-11eb-81eb-880f4f396e83.png)

Upon clicki

[2021-02-06 01:39] rpearce commented on #267
It looks like you're not importing the CSS file that comes with version 4 of RMIZ.

If you read https://github.com/rpearce/image-zoom#basic-usage, you'll see:

[code]

That should get you on the right path, and should the source code for that story:

https://github.com/rpearce/image-zoom/blob/master/stories.js#L253

[2021-02-06 14:58] rjtbansal commented on #267
Thanks @rpearce for your guidance. My bad that I missed styles.css as I was earlier using older version 3.x.

Zoom in and zoom out does happen but I have `CustomDeleteIcon` which is also an image as shown in code above. This leads to that icon also getting zoomed in. What I would like is to ignore that. Is it possible? Screenshot below after zoom in:
![image](https://user-images.githubusercontent.

[2021-02-07 02:00] rpearce commented on #267
@rjtbansal In this version, `v4`, anything you place inside of `<Zoom>...</Zoom>` is going to get "zoomed". When I finish `v5`, this will change and be much more granular, but for what you are doing, you should only have your image as a child to the `<Zoom>` component.

Example:
[code]

To achieve what you are going for,
* only the image should be zoomable
* the white infobox should be a sibling e

[2021-02-07 02:38] rjtbansal commented on #267
Thanks @rpearce for your detailed explanation! Feel free to close the issue :)

[2021-02-07 03:24] #267 closed

[2021-02-09 00:56] bitfede opened #268 "Zoom UI Bug on iPhone"
This issue is a:

- Bug report

## Expected behavior
I expected the image to zoom full screen, like this:

<img width="862" alt="Screen Shot 2021-02-08 at 7 41 24 PM" src="https://user-images.githubusercontent.com/15684622/107299534-a779d800-6a45-11eb-900c-9fbcf2dbfe91.png">

## Actual behavior
What actually happened (ONLY ON IPHONES) is that the image is rendered behind the UI html elements. This

[2021-02-09 15:36] rpearce commented on #268
@bitfede What does your code look like? A working example of the bug is easiest to debug, but if you can only share some code, I can try to help.

I'm guessing you are wrapping `<Zoom>` around the entire card when you really only want the image to zoom? But then why would it be behind?... 🤔

* * *

On a related note, I'm working on the next version (gods, it is taking forever to get things right),

[2021-02-09 22:51] bitfede commented on #268
on my android it does not happen, it only happens on iphones, any browser.

I have a carousel component that has a render product images function inside
[code]
and the function spits out this:
[code]

the css class of the div is:
[code]

[2021-02-11 02:14] rpearce commented on #268
@bitfede I'm fairly certain you would want `key={i}` to be passed to `<Zoom>` but that may be something unrelated.

* Are there absolutely positioned elements that are sitting on top of the image?
* Are there elements with `transforms` like `translateZ()` or `translate3d()` that are sitting on top of the image?

Without a functioning example of this issue, I'm afraid to say this will be incredibly

[2021-02-12 00:24] bitfede commented on #268
Yeah true, hard to debug without code. I appreciate the suggestions and I'll look into the things you suggested.

I was hoping this to be a known iphone-only bug/exception that had an easy CSS fix but I'll look into it more deeply.  Connecting the iphone with USB and using the browser dev tools remotely is my best bet.

Whenever I find the solution I'll write it down and close the issue. Thanks ag

[2021-02-13 00:33] rpearce commented on #268
I also recommend using the iOS Simulator app that comes with XCode, opening Safari Dev Tools, and connecting the dev tools to that (if it's hard to do with a phone).

[2021-02-16 14:30] sunknudsen opened #269 "npm ERR! ERESOLVE unable to resolve dependency tree"
This issue is a:

- Bug report

I recently upgraded to npm version `7.5.4`.

I believe the following error is caused by these [lines](https://github.com/rpearce/image-zoom/blob/master/package.json#L111-L113) not using `^`.

Is there a reason why specific versions are depended upon by this package?

I am currently using `npm install --legacy-peer-deps` as a workaround.

Thanks for this amazing pack

[2021-02-17 02:38] rpearce commented on #269
(Same as https://github.com/rpearce/image-zoom/issues/266)

Those should definitely be using the `^`. I wonder if that will actually fix the issue, though, since the error is talking about `peerDependencies` like `react`...

[2021-02-19 06:16] elitan opened #270 "Dark mode support"
This issue is a **Feature request**.

## Description
It would be nice if it was possible to define the background color when zooming into an image to specify a different background image based on dark/light mode.

Right now the background seems to be hardcoded to light (https://github.com/rpearce/image-zoom/blob/deebc73e13973685ba2dcae4f6c51cc751cfa915/source/Controlled.tsx#L38-L39)

![2021-02-19

[2021-02-19 18:18] rpearce commented on #270
@elitan Those are not hardcoded but _defaulted_ to those colors; you can override them with ease! Check it out:

[code]

[2021-02-20 09:37] elitan commented on #270
That worked perfectly. Thanks!

[code]

[2021-02-20 09:37] #270 closed

[2021-03-02 01:02] mathew-kurian opened #271 "Right-click copy <img>"
This issue is a: Question / support request

## Description
The medium.com implementation allows us to right-click and copy the image. However, this implementation (OOTB) doesn't allow to do so. Is there a way I can customize it to meet that feature as well?

[2021-03-02 14:17] rpearce commented on #271
Not at the moment, and this won't be available until I can finish v5.

This is a duplicate of https://github.com/rpearce/image-zoom/issues/259, so I'm going to close this and track it through there.

[2021-03-02 14:17] rpearce commented on #271
_Thank you_ for your patience, and this helps renew my effort.

[2021-03-02 14:17] #271 closed

[2021-03-02 14:18] rpearce commented on #259
Similarly reported issue in https://github.com/rpearce/image-zoom/issues/271. I'll track it here.

[2021-03-02 14:21] rpearce commented on #268
I'm not sure how to resolve that at the moment other than disabling that animation style when the item is clicked.

[2021-03-02 22:05] bitfede commented on #268
Yes that's the best thing to do, thanks man!!

[2021-03-02 22:05] #268 closed

[2021-03-27 10:18] ismay commented on #269
I encountered this as well. I suspect that this is happening because react-use (a dependency of this project) has an extra space in their react peerDependency definitions after v16 (before the `||`):

[code]

So even though react 16.8+ and 17+ should both satisfy the range react-use is giving, npm 7 is not detecting react 17+ as valid, and because of that it's throwing an error stating that react

[2021-03-28 01:02] rpearce commented on #269
Let me see if I can update some dependencies in a patch release to make this go away...

[2021-03-28 01:12] rpearce commented on #269
If any of you are interested, I started this "discussion" on "Where is v5?" I hope it sheds some light on things. https://github.com/rpearce/image-zoom/discussions/274

[2021-03-28 02:10] rpearce commented on #269
@ismay I don't know what to say about that extra space for `react-use`. They have `1.8M` downloads per month, too, but it's not out of the realm of possibility. Maybe make a PR over there and see how it goes?

In the mean time, https://github.com/rpearce/image-zoom/pull/275 addresses @sunknudsen's `^` concern _except_ for `focus-options-polyfill`, for anything past version `1.2.0` breaks CI: https

[2021-03-28 02:12] rpearce commented on #252
Done

[2021-03-28 02:12] #252 closed

[2021-03-28 02:17] #269 closed

[2021-03-28 02:24] rpearce commented on #265
Update on v5 FYI: https://github.com/rpearce/image-zoom/discussions/274

[2021-03-28 02:24] rpearce commented on #264
Update on v5 FYI: https://github.com/rpearce/image-zoom/discussions/274

[2021-03-28 02:24] rpearce commented on #263
Update on v5 FYI: https://github.com/rpearce/image-zoom/discussions/274

[2021-03-28 02:25] rpearce commented on #259
Update on v5 FYI: https://github.com/rpearce/image-zoom/discussions/274

[2021-03-28 02:25] rpearce commented on #271
Update on v5 FYI: https://github.com/rpearce/image-zoom/discussions/274

[2021-03-28 02:36] #254 closed

[2021-03-28 08:15] ismay commented on #269
Yeah it seems like a long shot, and might not be the cause. But it was the only explanation I could find for npm not recognizing react 17 as a valid peerDependency 🤷‍♂️

[2021-03-30 01:23] tommoor commented on #213
I'm stuck back on v3 until this lands, is it worth PRing something for v4 or does the ongoing rewrite make it a waste of time? :)

[2021-03-30 01:57] rpearce commented on #213
I wouldn't bother with trying anything like that with `v4`, for the fundamental concept of `v4`, "zoom anything", was flawed.

`v5` is going to pull that back to images.

You can read more about the plight here: https://github.com/rpearce/image-zoom/discussions/274

[2021-03-30 02:00] tommoor commented on #213
Ahhh, thanks for the link, I hadn't looked in discussions. One thing that I did like about the idea behind v4 was that it would potentially allow us to put information such as a caption underneath the image, or potentially `<` `>`  buttons to navigate a set – just something to think about as you design the v5 API.

Many thanks

[2021-03-30 02:12] rpearce commented on #213
@tommoor Nothing is set for `v5` apart from some core things that _need_ to happen (fixing pixelation on iOS and accessibility, for example).

I'm not yet saying I will support what you're asking about, but I would love to know what your use case is so that I can identify how that might fit in. For example, I love what [the New York Times has done](https://www.nytimes.com/2021/03/11/arts/design/wh

[2021-03-30 02:16] tommoor commented on #213
Use case is a [https://github.com/outline/rich-markdown-editor](rich text editor) with user-editable captions. The NYT design is great you're right, would certainly be nice to have something with that much panaché

[2021-03-30 20:43] tommoor opened #277 "Backport more flexible react dependency definition to v3.x"
This issue is a:

- Other

## Description

Because much of the functionality of v3 is still not possible in v4 I (and maybe others) are staying with the v3 API for now. However the React dependencies are strictly scoped to v16. It would be lovely to get the work done here backported:

https://github.com/rpearce/image-zoom/commit/63e3aec02603e362b807bb627aa1c4e6a56a17e5#r48897317

[2021-03-31 00:29] rpearce commented on #277
Thanks for making this issue! I'm hopping on it now.

[2021-03-31 00:49] rpearce commented on #277
@tommoor Which bits of functionality are most valuable to you in v3? I ask so I can make sure to include the most critical things in v5. If I had to guess: the ability to replace the image with a higher-quality one?

[2021-03-31 00:53] rpearce commented on #277
I've published `v3.1.3`. Can you try it and see if it's what you wanted? I had no problem installing it using a brand new `create-react-app`

[2021-03-31 03:24] tommoor commented on #277
Looks to be good, warning is gone and functionality works 👍

[2021-03-31 03:24] #277 closed

[2021-03-31 03:27] tommoor commented on #277
`shouldRespectMaxDimension` is pretty important, we don't use the large image replacement, see:
https://github.com/outline/rich-markdown-editor/blob/main/src/nodes/Image.tsx#L226-L238

[2021-03-31 19:14] rpearce commented on #277
Easy! That's one of my "must-have"s for v5.

[2021-04-02 00:51] madeleineostoja commented on #213
I'll also echo @tommoor, not being able to include non-image things in the zoom would be a dealbreaker for me, and it's the whole reason I used this library over others. My particular use-case is showing a title under the image when it's zoomed, like a more traditional lightbox might. I'm also using the controlled mode to only show the title when it's zoomed. The problem of course is that the zoom

[2021-04-02 08:24] ismay commented on #166
I've tried out v5-rc.10 and it's worked well for me (v4 caused an issue with the SSR but v5 seems to not have any SSR issues at all). About the responsive image part, I was thinking that maybe it'd be simpler for this lib to not bother with the images directly, but instead provide the means for the user to deal with this.

For example: I'm personally using next.js, and their (responsive) image com

[2021-04-03 15:16] rpearce commented on #166
(For anyone who hasn't seen this who is wondering where v5 is: https://github.com/rpearce/image-zoom/discussions/274)

@ismay The API / how it works for v5 is still up in the air with only a few things that are 100% going to be there:
* leverage everything about an `img` we can (easy to do with `img.currentSrc` to get the currently selected image that is chosen by the browser based on all those fa

[2021-04-03 15:18] rpearce commented on #213
@madeleineostoja I'll make sure to bake a caption option in.

Could you further explain what you mean by this?

[2021-04-04 17:21] ismay commented on #166
I see, thanks for explaining. Yeah to be honest, my implementation is still in flux. The above is just what I noticed at the time whilst trying out v5. I wonder if my usecase is too specific to fit in this library, as it's also a little coupled to the way I'm using responsive images. Once I've finished it, I'll see if I can reduce it to something a little more generic that might be of use here 🤔.

[2021-04-06 15:29] plainspace opened #278 "Trouble with MDX and next/image"
This issue is a question/support request.

Any tips on getting this working with MDX and [`next/image`](https://nextjs.org/docs/api-reference/next/image)?

Added the following to MDXComponets.js:

[code]

This is currently working in .md files with [`next/image`](https://nextjs.org/docs/api-reference/next/image):
[code]

Expecting to be able to wrap 👆 in `<Zoom>...</Zoom>`

Getting the following e

[2021-04-07 13:10] rpearce commented on #278
I've never used MDX or next, and there's a new version coming when I circle back to this project (see https://github.com/rpearce/image-zoom/discussions/274).

If you can provide a demo use case of the bug in an example project, I can take a look at it _and_ use it as a test case for v5.

[2021-04-08 17:09] christianguevara commented on #278
This worked for me with MDX, not nextJS specific tho.

[code]

[2021-04-08 18:48] plainspace commented on #278
Thanks @christianguevara. That fixed it!

[2021-04-08 18:49] #278 closed

[2021-04-09 17:00] talentlessguy opened #279 "can't access property "src", props.image is undefined in a Next.js app"
This issue is a:

- Bug report

## Expected behavior

I expected the component to work properly.

## Actual behavior

It threw an error that crashed the page:

[code]

## Steps to reproduce behavior

1. Create a folder with images
2. Use [next-images](https://github.com/twopluszero/next-images) plugin for loading images
3. Import the array of images
4. Try to use them inside of `<Zoom />`

## Exam

[2021-04-10 02:05] rpearce commented on #279
@talentlessguy It looks like you're using version 3, so you should take a look at the API for that: https://github.com/rpearce/image-zoom/tree/v3.x

[code]

[2021-04-10 07:55] talentlessguy commented on #279
@rpearce oops my bad, for some reason it installed v3 but not v4

closing

[2021-04-10 07:55] #279 closed

[2021-04-12 13:07] rpearce commented on #279
@talentlessguy v3 and v4 are very different, so one may suit your needs better than the other.

Also, v5 (so to be redone) will be re-worked when I can circle back to it. https://github.com/rpearce/image-zoom/discussions/274

[2021-04-15 16:34] mwanagosos opened #280 "Outdated TypeScript types"
Hello 😃
Looks like it has been two years since the [@types/react-medium-image-zoom](https://www.npmjs.com/package/@types/react-medium-image-zoom) package has been updated. Is it still compatible with the 4th version of the [react-medium-image-zoom](https://www.npmjs.com/package/react-medium-image-zoom/v/4.3.3) library?

[2021-04-16 13:44] rpearce commented on #280
I have no interaction with the `@types` project types, but this project should already be exporting its own TS types, so do you need that other one?

[2021-04-17 22:41] xmflsct opened #281 "Combination of next/image with layout responsive"
This issue is a:

- Question / support request

## Description
Using `next/image` so far so great. But when using `layout='responsive'`, the image's width and height are somehow set to `0`. Is there any way around? https://nextjs.org/docs/api-reference/next/image#layout

[2021-04-19 01:33] rpearce commented on #281
Hi, @xmflsct, and thank you for bringing this to my attention.

Do you have a demo that you could share that reproduces the issue? I've never used nextjs before, so I don't know the answer off the top of my head.

I'll also leave this open in case somebody else knows.

[2021-04-20 21:04] xmflsct commented on #281
Thank you very much for your time @rpearce !

See demo here https://mre-next-image-zoom.vercel.app/
And the code at https://github.com/xmflsct/mre-next-image-zoom/blob/main/pages/index.js#L33L66

The top left is with `image-zoom` and `responsive` in `next/image`.
The top right is without `image-zoom` and `responsive in `next/image`.
The bottom left is with `image-zoom` and without `responsive` in

[2021-04-22 16:11] rpearce commented on #281
Thank you! I'll take a look at this when I get some time in the next few days.

[2021-04-23 12:47] liliya-dev commented on #269
try to update node version to LTS version

[2021-04-25 09:05] GoudekettingRM opened #282 "Extra attributes from the server: tabindex"
This issue is a:

- Bug report

I am using react-medium-image-zoom in my NextJs app and on page load I get an error in the console; `Extra attributes from the server: tabindex`. It seems to have something to do with the scroll transition in your package, but I'm not entirely sure. The stacktrace below for extra information.

Any help or insight greatly appreciated. Note, the package works as inten

[2021-04-26 03:39] rpearce commented on #282
Hi! Thanks for using this project and opening this issue with a lot of useful info.

As I've still never used nextjs before, it would be _super_ helpful if you had a demo project that I could take a look at that reproduces the issue.

Thanks for your patience, and I'll see if I can get you sorted ASAP.

[2021-04-28 01:21] rpearce commented on #281
Haven't had time to look at this yet but it's on my mind. I appreciate your patience.

[2021-04-29 07:52] xmflsct commented on #281
@rpearce No worries at all!

[2021-05-01 15:15] rpearce commented on #243
Doing stuff differently.

[2021-05-01 15:15] #243 closed

[2021-05-01 15:18] rpearce commented on #263
I'm going to close this, for copying a collection of elements' CSS over isn't a direction I think we should go here.

[2021-05-01 15:18] #263 closed

[2021-05-01 15:19] rpearce commented on #280
Closing unless I hear back otherwise

[2021-05-01 15:19] #280 closed

[2021-05-01 15:20] rpearce commented on #281
Ah... good news and bad news.

Good news: I know what the problem is.
Bad news: There might not be a way around this.

The issue is that the `img` has `position: absolute` on it, and the RMIZ wrapper is using `display: inline-flex` to do something fancy (this needs to change); the browser can't determine how big the image is because of the `position: absolute` and `width: 0; height: 0;` on your im

[2021-05-16 17:45] rpearce commented on #281
This is weighing on my mind; I'll get it done. There is very little time with an infant

[2021-07-28 18:49] rpearce opened #286 "add https://github.com/valtism to contribs (README contrib)"

[2021-07-31 22:10] SatalBill commented on #166
How can style zoomed image? It is showing on the outside of the window. I can see only 10% of the zoomed image.

[2021-08-01 00:07] rpearce commented on #166
@SatalBill that doesn't sound like it's related to this issue, but if you make a new issue with an example that demonstrates the problem, I will see if I can help

[2021-08-16 19:54] xmflsct commented on #281
@rpearce Hope all is well. Following up with this issue. :)

[2021-08-18 08:04] equinusocio opened #287 "Export interface"
This issue is a:

- Feature request

## Description

It would be nice if we can import and use the component interface inside ts to merge their property with custom ones. For example I need to wrap the Zoom component inside a custom component and i need to add other properties, but i would like to merge my custom prop with the one from the Zoom, so i don't have to expose them one by one.

[2021-08-22 00:09] zacherygentry commented on #281
+1 for running into this same issue

[2021-08-25 00:59] rpearce commented on #287
Yeah, all of this should be exported. Let me put a PR up and see if you like how it looks

[2021-08-25 01:14] rpearce commented on #287
@equinusocio Is this what you're looking for? https://github.com/rpearce/image-zoom/pull/289/commits/8d2ecfa935b1620923b0496647b68d7eaa1f78be

I know you don't need the helpers exported, but I figure there's no harm.

Also, would you consider this change a patch-level change (a fix)?

[2021-08-25 01:57] rpearce commented on #281
Thanks for checking back in. I'll think about it some more this week; it's going to involve some hefty changes.

[2021-08-25 06:57] equinusocio commented on #287
I think that shared and reusable components should have heir types exported "by default", so we can consider this as a "fix" for this lack.

[2021-08-25 13:10] rpearce commented on #287
Great call on the `Props` naming. I'll amend that when I get a chance today

[2021-08-28 02:38] rpearce commented on #281
@xmflsct Removing that has other ramifications that I need to account for.

[2021-08-30 20:02] rpearce commented on #281
Update: I'm working on this and some other updates a little bit each night. They are all tied together

[2021-09-03 14:11] anders-photowall opened #290 "Custom content in Lightbox"
This issue is a:
- Question / support request

## Description
I'm trying to render custom content within the lightbox. I.e. content that only shows when in the zoomed state. It's working quite well using the ControlledZoom and optionally rendering the custom content if "isZoomed" but with one big issue. I can't seem to disable or remove the big close overlay button (yes, it's actually a button ele

[2021-09-03 17:53] anders-photowall commented on #290
So I did some more testing around with this and it seems rendering extra stuff within the <ControlledZoom> only if isZoomed is something the library does not support at all. It was just a lucky coincidence in my earlier testing that the image zoomed correctly. Trying a different image size the image is no longer positioned correctly.

So I'll guess this can be closed and perhaps open a feature req

[2021-09-08 01:38] rpearce commented on #259
FYI: I'm working on this right now and not as part of that rewrite.

[2021-09-19 02:36] Hulxv opened #291 "./node_modules/framer-motion/node_modules/tslib/tslib.es6.js no such file or directory"
when i use library in nextjs i got this message

./node_modules/framer-motion/node_modules/tslib/tslib.es6.js
Module build failed: Error: ENOENT: no such file or directory, open '~/Desktop/social-media-app/node_modules/framer-motion/node_modules/tslib/tslib.es6.js'

how can i solve it ?

[2021-09-19 03:15] Hulxv commented on #291
problem solved by deleted node_modules
thanks !

[2021-09-19 03:15] #291 closed

[2021-10-08 09:10] maticzav opened #292 "Support custom overlay styles and blurring background effect"
This issue is a:

- Feature request

## Description

It would be great if we could pass styles to the overlay. I really like the blur effect you can put on the background and right now it seems super hard to get that working. Having that in mind, a possible solution would be to add a `blur` option and go with a sensible default. Ideally, however, you could export a property `overlayStyle` that wou

[2021-10-09 01:31] rpearce commented on #292
If this doesn't work for you, or there's something else amiss with it, I'm happy to reopen.

[2021-10-09 01:31] #292 closed

[2021-11-10 04:53] rpearce commented on #259
There was no way to do this in the current version without breaking things. Here's the latest update: https://github.com/rpearce/image-zoom/discussions/274#discussioncomment-1616865

[2021-11-10 04:54] rpearce commented on #213
I've got this covered in the next major version I'm working on. Update here: https://github.com/rpearce/image-zoom/discussions/274#discussioncomment-1616865

[2021-11-10 04:56] rpearce commented on #282
There's a general update here, https://github.com/rpearce/image-zoom/discussions/274#discussioncomment-1616865, but when doing server-side rendering, these components are going to render their children and only load in the browser-based interactive bits when it actually gets into a browser environment.

[2021-12-20 11:30] m90khan commented on #1
Hi, is there a way to change the offset value?

[2021-12-20 21:26] rpearce commented on #1
@m90khan This is a 5.5 year old PR, so in the future, I would perhaps start a discussion in the Discussions tab.

To answer your question, yes: the `zoomMargin` parameter, as described in the README.md, will allow you to pass an offset: https://github.com/rpearce/image-zoom#both-uncontrolled--controlled-components

[2021-12-23 11:02] m90khan opened #296 "is it possible to set a Scroll offset for image to load and unload?"
I am using a locomotive scroll with has damping, so the scroll will continue a bit after leaving the mouse wheel.

UnControlled Zoom:
When I click on the image to zoom, it does not open unless the scrollbar is not moving at all. Is it possible to add a scroll offset such as when the event fired, the image opens even though there is still movement in the scrollbar?

Controlled Zoom:
I rendered the

[2021-12-23 11:04] m90khan commented on #1
Hey @rpearce: Sorry for posting here. I opened a new issue. Thank you for the code and help.

[2021-12-28 02:09] rpearce commented on #296
@m90khan Thank you for opening this issue and taking the time to explain.

Your best bet for this is to indeed use the `ControlledZoom`, but I have a feeling that something isn't quite right with how you're using the library.

Can you please share an example of your code? Perhaps we can quickly sort it that way. If not, I'll need you provide a demo of the issue.

[2021-12-30 13:41] m90khan commented on #296
Hey @rpearce,

Thank you for your reply. I added an example below. I think that I am making a mistake with handling the state.

`  import React, { useCallback, useState } from 'react';
import { Controlled as ControlledZoom } from 'react-medium-image-zoom';
import 'react-medium-image-zoom/dist/styles.css';

const MyComponent = (props) => {
  const { images } = props;
  const [isZoomed, setIsZoomed]

[2021-12-30 13:42] m90khan commented on #296
`<img
alt="that wanaka tree"
onLoad={handleImgLoad}
src={/path/to/${el}.jpg}
width="500"
/>`

[2022-01-02 14:31] deelobase opened #297 "Deploy your app for free 🚀"
Hey @rpearce, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://deel

[2022-01-03 18:42] rpearce commented on #296
@m90khan Yes, this should be simple to fix. Your state is only going to work for 1 element; instead, you need to have that state for _each one_.

This is completely untested, but here is the idea:

[code]

[2022-01-03 18:42] rpearce commented on #296
The above 👆 should resolve this nicely. If it does not, I can reopen this, and we can figure it out.

[2022-01-03 18:42] #296 closed

[2022-01-04 11:46] m90khan commented on #296
Thanks. I am going to test it and give feedback .

[2022-01-29 02:03] developergunny opened #298 "Right-click image "link" copy"
I need the ability to copy image link with right click. Can it be?

[2022-01-29 03:24] rpearce commented on #298
Hi and thanks for participating! I know this is an issue, and it's a duplicate of https://github.com/rpearce/image-zoom/issues/259.

When I am able to get back to this project, this will be handled. Until then, there's no way around it.

[2022-01-29 03:24] #298 closed

[2022-01-29 03:37] developergunny commented on #298
Thanks:)

[2022-04-01 22:20] edlerd opened #300 "Missing compatibility to react 18 and react-dom 18"
The [package.json](https://github.com/rpearce/image-zoom/blob/main/package.json#L107) file in image-zoom limits to react 17 and react-dom 17, preventing an update to more recent versions of react 18.0, which was released earlier this week.

Please update the composer files and release a new version to unblock the update.

[2022-04-02 04:54] rpearce commented on #300
Will get it done tomorrow evening. Thanks for the report.

[2022-04-03 03:47] rpearce commented on #300
Didn't have time. Will look to do it tomorrow at some point.

[2022-04-05 03:15] #300 closed

[2022-04-09 04:08] Josh-Cena opened #302 "Incompatible types with types/react v18"
This issue is a bug report.

## Steps to reproduce behavior

1. Install `@types/react@18.0.0`
2. Write some code importing this library:

[code]

3. Run `yarn tsc`

## Expected behavior

This should compile

## Actual behavior

[code]

The problem is that `ReactType` is removed in v18 in favor of `ElementType`. See https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56210

We can easily work a

[2022-04-09 19:20] rpearce commented on #302
I have had plans wax and wane for this project for quite some time, and there are numerous branches that have come and gone with all sorts of upgrades and improvements that never saw the light of day.

I'll take a look at this tonight / tomorrow night if I can!

PRs are also welcome ❤️

[2022-04-10 01:23] #302 closed

[2022-04-10 03:00] rpearce commented on #302
This is released under `v4.3.7`, and you've been added to the `AUTHORS` file and `All Contributors` section in the `README`.

I'll work on getting the type dev dependencies updated separately.

[2022-04-10 03:02] Josh-Cena commented on #302
Great, thanks!

[2022-04-25 05:06] btoro commented on #281
Any updates on this?

[2022-04-27 13:42] rpearce commented on #281
@btoro The issue laid out here has a solution, but it requires a lot of changes, and so it makes sense to do all the changes together. I made a ton of progress my last time trying to make changes here that resolved the issue in a branch, but I burned out on some of the math for zooming background images, and it's in a hacked-together state. I'm going to get it done, and it's just a matter of findi

[2022-04-27 17:00] btoro commented on #281
Understood! Thanks for the update. I managed to come up with a temporary solution that I'll share to help others. There are likely cases where this doesn't work properly, but it met my needs:

[code]

[2022-05-05 01:43] searleser97 opened #304 "Allow to zoom and pan when the image is opened"
This issue is a:

- Feature request

## Description
It would be nice if we could actually zoom and move around the image after it is opened, right now if the image is super big, this component actually makes it smaller by making it fit on the screen.

In other words, allow to zoom more, after clicking on the image

[2022-05-06 10:42] rpearce commented on #304
@searleser97

Thank you for opening an issue! There are a number of other React components out there that do this already, and here's an example:

https://www.npmjs.com/package/react-zoom-pan-pinch

This project was originally based on the Medium.com-style implementation, and pan + zoom would blow out the scope of this project further than I want to support.

[2022-05-11 13:53] edlerd opened #305 "React 18 compatibility"
This issue is a: Bug report

## Expected behavior
I expected to be able to use React 18.

## Actual behavior
image-zoom depends on react-use that is unmaintained and only supports react up to version 17.

## Solution
I propose to switch to https://github.com/alibaba/hooks which is well maintained and provides the same functionality as a drop-in replacement.

[2022-05-11 17:12] rpearce commented on #305
Thanks for the heads up. I did not realize that react-use stopped getting updates since December. That's life sometimes. I'll see if we can just drop the dependency altogether.

[2022-05-13 03:23] rpearce commented on #305
@edlerd If you get a minute, can you try version `4.4.0-rc.1` for me? If that works nicely for you, I'll promote that to `4.4.0`.

[2022-05-13 06:24] edlerd commented on #305
Like a charm, no more warnings/conflicts on dependency resolution and feature wise everything still working. Good stuff :)

[2022-05-13 13:59] rpearce commented on #305
@edlerd This should now be published under `v4.0.0`, and you've been added to the all-contributors list! Thank you for participating in this open source project.

<img width="414" alt="imagen" src="https://user-images.githubusercontent.com/592876/168299990-b3d8bb5d-65a9-4747-b77b-a8c8a1bbade7.png">

[2022-05-13 14:20] #305 closed

[2022-05-13 14:21] rpearce commented on #282
@GoudekettingRM You should be able to use `v4.4.0` in codesandbox now to provide an example.

[2022-05-23 17:50] sunknudsen opened #322 "ERR_REQUIRE_ESM"
Hey Robert,

Great to see you are working on the project again.

Updated deps of one of my projects with target minor (no breaking changes) and noticed that [react-medium-image-zoom](https://github.com/rpearce/react-medium-image-zoom) has become an ESM module (see [commit](https://github.com/rpearce/react-medium-image-zoom/commit/ea5514691f77f35d59f77f7719047fb0cfcc8e21)).

This breaking change br

[2022-05-23 19:11] sunknudsen commented on #322
This issue is apparently very hard to work around given `^` dependency model… is there a way ESM change can be reverted in `v4.4.3` and moved to a `v5.0.0` release?

[2022-05-23 19:34] rpearce commented on #322
@sunknudsen 🤦‍♂️ I'm so sorry I made trouble for you. Yes, that is what should happen, but I can't do it until tonight.

I'm getting all of the app in working order in `main` so I can incrementally improve the actual component code, and this is one of those bumps along the way.

[2022-05-23 19:35] rpearce commented on #322
@sunknudsen Am I going to need to keep supporting commonjs for you? I don't want to let you down, and it's not _that_ big of a deal

[2022-05-23 20:16] sunknudsen commented on #322
Hey @rpearce,

Thanks for taking the time to follow-up.

No worries, maintaining a project like this is so much work… I am so sorry I had to raise flag.

That would be awesome, but only if you have evening bandwidth available. 🤗

Feel you… blessed you are still maintaining project.

That would be **amazing**, but keeping v4 CommonJS and patching security issues (if any) would likely be enough.

Th

[2022-05-23 20:21] rpearce commented on #322
Okay, I will keep this as commonjs for v4 (which makes sense... changing that was definitely a breaking one).

Thanks for your patience.

[2022-05-24 01:37] #322 closed

[2022-05-24 02:24] rpearce commented on #322
@sunknudsen This _should_ be fixed in `v4.4.3`. Please let me know if it is not fixed.

[2022-05-24 09:52] sunknudsen commented on #322
@rpearce Looking good, thanks for the fix. 🙌

[2022-05-29 17:54] rpearce commented on #322
I put a question out in the twitterverse about this: https://twitter.com/RobertWPearce/status/1530970576042565632

[2022-06-04 09:40] surjithctly commented on #166
I was looking to change the zoomed image to a higher-quality image. Found this thread.

Is it available already? I can see this issue is open.

The current issue (using Next.js)

- Next/Image compresses images to make it only download the required size to speed up the loading.
- This causes this plugin to zoom in to a blurred image.

Expectation:

- The above effect stays the same. Zoom in to blur

[2022-06-04 11:32] ismay commented on #166
Just fyi, in the end this is the approach I went with: https://github.com/ismay/superwolff/tree/main/components/image-zoom. Worked well for me (using it with next.js' image so @surjithctly might be able to use it as well). The method used also fixes this warning: https://github.com/rpearce/react-medium-image-zoom/issues/265. I hope it can be of use to you.

Everything related to the component is i

[2022-06-05 22:54] rpearce commented on #166
I'm actively working on a different v5 here (see the `v5-dev` branch for evidence of that), and it will also include zooming a higher quality image (not yet re-implemented).

That said, if there's another solution out there for you, go for it. I'll of course update this issue (and close it) when it's available.

[2022-06-14 12:21] rpearce commented on #213
Here's the latest update on the work that will include this! https://github.com/rpearce/react-medium-image-zoom/discussions/274#discussioncomment-2946565

[2022-06-14 12:29] rpearce commented on #264
@rikusen0335 I'm working on things and am unsure how I want to go about this. At present, you can override/add on to [the default styles](https://github.com/rpearce/react-medium-image-zoom/blob/main/source/styles.css), but passing a single `className` — now, as well as for the next version — raises some questions.

* What would you be looking to achieve that you couldn't by targeting `.my-class [d

[2022-06-14 12:30] rpearce commented on #259
Here's the latest update about the work being done that will resolve this: https://github.com/rpearce/react-medium-image-zoom/discussions/274#discussioncomment-2946565

[2022-06-14 12:32] rpearce commented on #166
Rock on. Thanks for the quick :eyes:

[2022-06-14 15:08] rikusen0335 commented on #264
You probably need to override classes into every element, like if you making the lib, I mean like:
[code]

So, because recent CSS-in-JS stuffs are bit difficult to use css selectors.

[2022-06-14 15:32] rpearce commented on #264
That seems like potentially a lot of classes to accept and use; in the `v5-dev` branch code, I would need to accept 9 different class names to cover all the elements.

Don't all the CSS-in-JS provide options to break out of their modules? E.g.,
* https://github.com/css-modules/css-modules#exceptions
* https://emotion.sh/docs/nested
* https://emotion.sh/docs/globals

Using the example from https://

[2022-06-16 00:29] #264 closed

[2022-06-16 00:32] rpearce commented on #264
Thank you for asking your question and communicating in hopes of making this better! I've added you to the README's all contributors list:

<img width="422" alt="imagen" src="https://user-images.githubusercontent.com/592876/173964424-9cf2ed79-b56e-43b5-9ee0-d727547805b8.png">

[2022-06-17 08:26] rikusen0335 commented on #264
I even didn't anything xD
But thank you!

[2022-06-17 10:45] rpearce commented on #264
You asked a question and thought through some ideas with the hopes of making it better! That is a contribution ❤️

[2022-07-10 12:11] rpearce commented on #166
Hi! Just dropping a video update on this feature that's happening in the `v5-dev` branch.

https://user-images.githubusercontent.com/592876/178144348-86864dde-8126-4171-93d7-a554f95b15b6.mp4

[2022-07-10 12:19] rpearce commented on #213
Hi! Here's a screencast of the max dimension being respected in the `v5-dev` branch:

https://user-images.githubusercontent.com/592876/178144497-df089cd7-1591-455a-8e1c-84f5157c12d0.mp4

Once `v5.0` is released (hopefully not _too_ much longer), I'll see about adding in proper captions and maybe do so by looking for a `<figcaption>` or `[data-rmiz-caption]` (plan for a `v5.1` release)

[2022-07-10 12:28] tommoor commented on #213
Your hard work is appreciated 🙏

[2022-07-18 17:07] qrospars opened #326 "Flicker effect when zooming out"
This issue is a:

- Bug report

## Expected behavior
I expected no flicker when the image goes back to its original size

## Actual behavior
When I click to go back to a zoomed out size, there is a flicker effect

## Steps to reproduce behavior
1. Click on the image
2. Click out of the image
3. Notice the flicker

## Link to repository/example of behavior
### See my personal portfolio
1. Go to [Po

[2022-07-19 03:16] rpearce commented on #326
Hi, @qrospars. Thanks for taking the time to write out this issue!

I'm currently spending my limited evening time on v5 (updates here: https://github.com/rpearce/react-medium-image-zoom/discussions/274#discussioncomment-3067777). I'll see if there's something I can do for this for v4 for you.

[2022-07-20 03:33] rpearce commented on #326
@qrospars Nice portfolio! Yes, that is a glaring issue, and I'm not sure about a good solution for this for `v4`. Would you be willing to beta test the next version that I'm working on when I publish a beta release?

If you're interested, I can check back here when it's time. This is the branch I'm working off of: https://github.com/rpearce/react-medium-image-zoom/tree/v5-dev.

[2022-07-20 23:01] qrospars commented on #326
Hi @rpearce,

Thanks for the compliment on my portfolio! :)

I would be glad to check the v5 when it's ready. I will watch the repository. Don't hesitate to follow-up in this thread if you need testers!

[2022-07-21 13:30] rpearce commented on #326
Oh, I will need help! Thank you

[2022-07-25 02:35] rpearce commented on #326
@qrospars If you find some spare time and want to give the latest build a whirl, try this (assuming you're using `npm`):

[code]

And, if you aren't already,

[code]

If you're using any of the customization options (I think I remember you have a slow transition), then be aware that the API has changed. If you want to change the transition times, you can do so by providing a CSS override for these

[2022-07-25 02:59] rpearce commented on #281
If anyeone finds some spare time and wants to give the latest build a whirl to try this out:

[code]

And, if you aren't already,

[code]

The updated [`v5-dev` README is here](https://github.com/rpearce/react-medium-image-zoom/tree/v5-dev#react-medium-image-zoom), and there are some breaking changes to the extra options passed to be aware of, if you're using the options.

Thanks for your time!